.second-table-container {
    padding: 10px 10px 20px 20px;
}
.second-table-container-row {
    border-bottom: 1px solid #1976D2;
}
.second-table-container-row  p {
    margin: 8px;
    font-size: 14px;   
}
.second-table-container-label {
    font-weight: 400;
    font-size: 16px;
}