.card {
    margin: 5px;
    height: 200px;
    width: 150px;
}

.card-front {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 100%;
    width: 100%;
}

.cart-front-image-content {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(top, transparent 40%, rgba(0,0,0,0.8) 100%);
    position: absolute;
    top: 0;
}

.cart-front-image {
    height: 120px;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
}

.cart-front-info {
    padding: 4px;
}

h4 {
    font-size: 14px;
    margin: 4px;
    position: absolute;
    bottom: 0;
    color: white;
}

.cart-front-info-text {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    margin: 4px 0;
}

.cart-front-footer {
    height: 40px;
    padding: 4px;
}

.card-back {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 100%;
    width: 100%;
}