<div class="container pt-5">
  <div class="row">
    <div class="col-sm">
      <h3 class="section-header__title">
        {{
          '@Prevention of Money Laundering and Financing of Terrorism'
            | translate
        }}
      </h3>
    </div>
    <div class="col-sm section-header__message">
      <p>
        {{ '@All fields marked with' | translate }}
        <i class="fas fa-asterisk"></i>
        {{ '@Are obligatory' | translate }}
      </p>
    </div>
  </div>

  <app-dependency-relationship
    *ngIf="dependencyRelationship"
    [formSubmitAttempt]="formSubmitAttempt"
    (onDepedencyRelationshipForm)="formChange($event)"
  ></app-dependency-relationship>

  <app-does-not-work
    *ngIf="doesNotWork"
    [formSubmitAttempt]="formSubmitAttempt"
    (onDoesNotWorkForm)="formChange($event)"
  ></app-does-not-work>

  <app-own-account
    *ngIf="ownAccount"
    [formSubmitAttempt]="formSubmitAttempt"
    (onOwnAccountForm)="formChange($event)"
  ></app-own-account>

  <div class="row">
    <div class="col">
      <app-form-field [formSubmitted]="formSubmitAttempt">
        <div
          class="btn-group btn-group-toggle btn-group-checkbox"
          ngbRadioGroup
          name="declareUnderOath"
        >
          <label ngbButtonLabel>
            <input
              ngbButton
              type="checkbox"
              [value]="true"
              [(ngModel)]="acceptTerms"
            />{{
              '@MSG_I declare under oath that the information included in this form is correct, complete and faithful exposition of the truth'
                | translate
            }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
  <div class="row form-actions">
    <div class="col d-flex justify-content-end">
      <button
        [disabled]="!acceptTerms"
        type="button"
        class="btn btn-secondary btn-lg rounded-pill"
        (click)="submit()"
      >
        <span class="d-none d-sm-inline-block">{{
          '@Continue' | translate
        }}</span
        ><i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
