<div class="soft-token">
	<form [formGroup]="softTokenForm">
	<p class="soft-token__label" *ngIf="label">{{label}}</p>
		<div class="soft-token__fields-container">
			<mat-form-field appearance="outline" class="soft-token__field">
				<input
					type="password"
					matInput
					formControlName="firstField"
					autocomplete="off"
					mcyOnlyNumbers
					mcyPreventCutCopyPaste
					minlength="1"
					maxlength="1"
					autocomplete="off"
					#idFirstField/>
			</mat-form-field>
			<mat-form-field appearance="outline" class="soft-token__field">
				<input
					type="password"
					matInput
					formControlName="secondField"
					autocomplete="off"
					mcyOnlyNumbers
					mcyPreventCutCopyPaste
					minlength="1"
					maxlength="1"
					autocomplete="off"
					#idSecondField/>
			</mat-form-field>
			<mat-form-field appearance="outline" class="soft-token__field">
				<input
					matInput
					type="password"
					formControlName="thirdField"
					mcyOnlyNumbers
					mcyPreventCutCopyPaste
					minlength="1"
					maxlength="1"
					autocomplete="off"
					#idThirdField/>
			</mat-form-field>
			<mat-form-field appearance="outline" class="soft-token__field">
				<input
					matInput
					type="password"
					formControlName="fourthField"
					mcyOnlyNumbers
					mcyPreventCutCopyPaste
					minlength="1"
					maxlength="1"
					autocomplete="off"
					#idFourthField/>
			</mat-form-field>
			<mat-form-field appearance="outline" class="soft-token__field">
				<input
					matInput
					type="password"
					formControlName="fifthField"
					mcyOnlyNumbers
					mcyPreventCutCopyPaste
					minlength="1"
					maxlength="1"
					autocomplete="off"
					#idFifthField/>
			</mat-form-field>
			<mat-form-field appearance="outline" class="soft-token__field">
				<input
					matInput
					type="password"
					formControlName="sixthField"
					mcyOnlyNumbers
					mcyPreventCutCopyPaste
					minlength="1"
					maxlength="1"
					autocomplete="off"
					#idSixthField/>
			</mat-form-field>
		</div>
	</form>
</div>
