@import 'variablesNew';

.soft-token{
	flex-direction: column;
	justify-content: space-between;
    &__label {
        color: $text-color-primary;
		margin-bottom: $spacing-M;
		text-align: justify;
	}
	&__fields-container {
		display: flex;
		justify-content: space-between;
	}
	&__field {
		max-width: 75px;
	}
	&__field:last-child {
		margin-right: 0;
	}

	// CUSTOM MATERIAL REPLACE
	.mat-form-field {
		height: 90px;
		.mat-form-field-wrapper {
			max-height: 90px;
			padding-bottom: 0 !important;
			.mat-form-field-flex {
				max-height: 90px !important;
				height: 100% !important;
			}
			.mat-form-field-subscript-wrapper {
				position: relative !important;
			}
		}
	}
	.mat-form-field-appearance-outline .mat-form-field-wrapper {
		margin: 0px !important;
	}
	.mat-form-field-appearance-outline .mat-form-field-infix {
		height: 90px;
		width: 75px;
		display: flex;
		text-align: center;
		align-items: center;
	}
}