<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" tabindex="-1">
      <img src="assets/images/logo-santander-pos.svg" alt="Santander" />
    </a>

    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="toggleCollapse()"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse "
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isSimulationEnabled" class="nav-item">
          <a
            class="nav-link"
            routerLink="/pre-proposal/"
            routerLinkActive="active"
            (click)="Collapse()"
            tabindex="-1"
            >{{ '@Simulation' | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/panel"
            routerLinkActive="active"
            (click)="Collapse()"
            tabindex="-1"
            >{{ '@Panel' | translate }}</a
          >
        </li>
      </ul>
      <div class="d-inline-block user-menu">
        <div class="user-menu__data">
          <p ng-bind="$root.nomeUsuario" class="user-menu__name">
            {{ name }}
          </p>
          <p ng-bind="$root.tabUsuario" class="user-menu__rol">
            {{ username }}
          </p>
        </div>
        <button
          placement="bottom"
          ngbTooltip="Salir de la plataforma"
          (click)="logout()"
        >
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
