<div class="total-balances">
	<mcy-contextual-button
		[id]="'total-balances__total-balance-label'"
		class="total-balances__total-balance-label"
		[sufixIcon]="'seta_baixo'"
	>{{ 'components.totalBalance.title' | translate }}</mcy-contextual-button>
	<div 
		*ngFor="let totalBalance of totalBalanceByCurrency"
		class="total-balances__total-balance">
		<span class="total-balances__total-balance-currency">
			{{ totalBalance.currency }}
		</span>
		<span class="total-balances__total-balance-amount">
			{{ totalBalance.balance | mcyAmount }}
		</span>
	</div>
</div>
