@import "variables";
@import "mixins";

.total-balances {
	display: flex;

	&__total-balance {
		padding: 0 $spacing-M 0 0;
	}

	&__total-balance-label {
		padding: 0 $spacing-M 0 0;
	}

	&__total-balance-currency {
		@include font-primary-light();
		font-size: $font-size-XL;
	}

	&__total-balance-amount {
		@include font-primary-light();
		font-size: $font-size-XL;
	}
}
