<ui-header *ngIf="headerData && !headerData.loading" [fixed]="false">
  <div expanded>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Document Number' | translate }}">
          {{
            headerData?.owner?.document
              ? (headerData?.owner?.document | dni)
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6 ">
        <app-readonly label="{{ '@Date of Birth' | translate }}">
          {{ parsedBirthDate ? (parsedBirthDate | customDate) : noData }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Brand' | translate }}">
          {{
            headerData?.vehicle?.brand?.description
              ? headerData?.vehicle?.brand?.description
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Model' | translate }}">
          {{
            headerData?.vehicle?.model?.description
              ? headerData?.vehicle?.model?.description
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Year' | translate }}">
          {{
            headerData?.vehicle?.fuelYear?.year
              ? headerData?.vehicle?.fuelYear?.year
              : noData
          }}

          {{ headerData?.vehicle?.fuelYear?.zeroKm ? '0Km' : '' }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Vehicle Type' | translate }}">
          {{
            headerData?.vehicle?.vehicleType?.description
              ? headerData?.vehicle?.vehicleType?.description
              : noData
          }}
        </app-readonly>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ labelValue }}">
          {{
            headerData?.vehicle?.purchaseValue
              ? (headerData?.vehicle?.purchaseValue
                | currency: 'ARS':'symbol-narrow':'1.0':'es-AR')
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Initial Payment' | translate }}">
          {{
            initialPayment
              ? (initialPayment | currency: 'ARS':'symbol-narrow':'1.0':'es-AR')
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Amount to Finance' | translate }}">
          {{
            headerData?.scoring?.calculatedValueDTO?.financedAmount
              ? (headerData?.scoring?.calculatedValueDTO?.financedAmount
                | currency: 'ARS':'symbol-narrow':'1.0':'es-AR')
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Quota quantity' | translate }}">
          {{
            headerData?.scoring?.calculatedValueDTO?.terms
              ? headerData?.scoring?.calculatedValueDTO?.terms
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Estimated Pure Quota' | translate }}">
          {{
            headerData?.scoring?.calculatedValueDTO
              ?.pureEstimatedInstallmentValue
              | currency: 'ARS':'symbol-narrow':'1.0':'es-AR'
          }}
        </app-readonly>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-readonly label="{{ '@Proposal Number' | translate }}">
          {{ headerData?.proposalNumber ? headerData?.proposalNumber : noData }}
        </app-readonly>
      </div>
    </div>
  </div>
  <div collapsed>
    <div class="row">
      <div class="col-md-4">
        <app-readonly
          label="{{ '@Document Number' | translate }}"
          [inline]="true"
        >
          {{
            headerData?.owner?.document
              ? (headerData?.owner?.document | dni)
              : noData
          }}
        </app-readonly>
      </div>

      <div class="col-md-4">
        <app-readonly
          label="{{ '@Date of Birth' | translate }}"
          [inline]="true"
        >
          {{
            headerData?.owner?.birthDate
              ? (headerData?.owner?.birthDate | customDate)
              : noData
          }}
        </app-readonly>
      </div>
      <div class="col-md-4">
        <app-readonly
          label="{{ '@Proposal Number' | translate }}"
          [inline]="true"
        >
          {{ headerData?.proposalNumber ? headerData?.proposalNumber : noData }}
        </app-readonly>
      </div>
    </div>
  </div>
</ui-header>
