<div class="service-payments-list">
	<div *ngIf="loading" class="service-payments-list__loading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>
	<mcy-no-data-message *ngIf="!loading && !servicePayments.length" [message]="'pages.payments.servicePaymentsList.emptyServicesMessage' | translate"></mcy-no-data-message>
	<table *ngIf="!loading && servicePayments.length" mat-table [dataSource]="servicePayments" class="mat-elevation-z8 service-payments-list__table">
		<ng-container matColumnDef="icon">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef>
				<mcy-badge-icon
					[iconSize]="'24px'"
					[badgeSize]="'small'"
					[type]="'service'">
					globo
				</mcy-badge-icon>
			</td>
		</ng-container>

		<ng-container matColumnDef="serviceName">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.servicePaymentsList.serviceName' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{payment.detail || '--'}}
			</td>
		</ng-container>

		<ng-container matColumnDef="amount">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.servicePaymentsList.amount' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
			{{payment.currency.symbol}} {{payment.content.amount | mcyAmount}}
			</td>
		</ng-container>

		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.servicePaymentsList.date' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{formatDate(payment.content.date)}}
			</td>
		</ng-container>

		<ng-container matColumnDef="requestNumber">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.servicePaymentsList.requestNumber' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{payment.id}}
			</td>
		</ng-container>

		<ng-container matColumnDef="state">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.servicePaymentsList.state' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				<span
					*ngIf="payment.content.state === 'APPROVED'"
					class="service-payments-list__status-successful">
					{{ 'pages.payments.state.successful' | translate }}
				</span>
				<span
					*ngIf="payment.content.state === 'DENIED'"
					class="service-payments-list__status-rejected">
					{{ 'pages.payments.state.rejected' | translate }}
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="download">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let payment">
				<mcy-icon-button
					[id]="'service-payments-list__download-receipt'"
					class="service-payments-list__options-icon"
					(handldeClick)="downloadReceipt(payment)"
					[ngClass]="{'service-payments-list__options-icon--disabled': payment.content.state !== 'APPROVED'}">
				download_outline
				</mcy-icon-button>
			</td>
		</ng-container>

		<ng-container matColumnDef="details">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let payment">
				<mcy-icon-button
					[id]="'service-payments-list__go-to-service-detail'"
					class="service-payments-list__options-icon"
					(handleClick)="goToServiceDetail(payment)">
					comprovante_outline
				</mcy-icon-button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr class="service-payments-list__table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>

