<div class="netflix-container">
    <mat-toolbar class="netflix-toolbar">
        <mat-toolbar-row>
            <img src="../../../../../assets/images/netflix.jpg" height="56">
            <span class="netflix-toolbar-item">Home</span>
            <span class="netflix-toolbar-item">Tv shows</span>
            <span class="netflix-toolbar-item">Movies</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="netflix-content">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <button (click)="render();">render</button>

<table id="fillMe">
</table> -->