@import 'variablesNew';
@import 'mixins';

$root: '.user-availability';

#{$root} {
	display: flex;
	height: 56px;
	width: 240px;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: $spacing-XXS;
	border-bottom: 1px solid $border-color-secondary;
	padding: $spacing-XXXS 0 0 0;

	&__title {
		@include font-primary-regular();
		font-size: $font-size-XS;
		color: $text-color-secondary;
	}

	&__level-text {
		@include font-primary-semibold();
		font-size: $font-size-M;
		line-height: 2;
	}

	&__icon {
		font-size: 26px
	}

	&__middle {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&--available {
		#{$root}__level-text, #{$root}__icon {
			color: $text-color-succeed;
		}
	}

	&--unavailable {
		#{$root}__level-text, #{$root}__icon {
			color: $text-color-cancelled;
		}
	}

}
