<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1 class="section-header__title">
        {{ '@Insurance Quotation' | translate }}
      </h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <ngx-datatable
        #myTable
        class="bootstrap"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [rows]="insurance.plans"
        [limit]="10"
        [reorderable]="false"
        [selectionType]="'single'"
        [sorts]="[{ prop: 'name', dir: 'desc' }]"
        (activate)="onActivate($event)"
      >
        <ngx-datatable-column
          name="{{ '@Insurance Company' | translate }}"
          prop="name"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '@Coverage Type' | translate }}"
          prop="coverageType"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.coverageType }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '@Fees' | translate }}"
          prop="installments"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.installments }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '@Monthly Fees' | translate }}"
          prop="installmentAmount"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{
              row.installmentAmount
                | currency: 'ARS':'symbol-narrow':'1.2':'es-AR'
            }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template
            let-row="row"
            let-expanded="expanded"
            ngx-datatable-cell-template
          >
            <a
              href="javascript:void(0)"
              title="Expand/Collapse Row"
              *ngIf="row.productCode !== MQ"
            >
              <i
                class="fas"
                [ngClass]="{
                  'fa-chevron-down': !expanded,
                  'fa-chevron-up': expanded
                }"
              ></i>
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-row-detail [rowHeight]="'100%'" #myDetailRow>
          <ng-template
            let-row="row"
            let-expanded="expanded"
            ngx-datatable-row-detail-template
          >
            <div style="padding-left:35px;">
              <div>
                <strong>{{ '@Insurance Policy' | translate }}</strong>
              </div>
              <div class="angular-with-newlines">
                {{ row.fullDescription }}
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <datatable-pager
              [pagerLeftArrowIcon]="'fas fa-angle-left'"
              [pagerRightArrowIcon]="'fas fa-angle-right'"
              [pagerPreviousIcon]="'fas fa-angle-double-left'"
              [pagerNextIcon]="'fas fa-angle-double-right'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>

      <div class="datatable__empty-message" *ngIf="isRetry">
        <h4>{{ '@No quotations were found, try again' | translate }}</h4>
        <button
          type="button"
          class="btn btn-outline-secondary btn-lg rounded-pill btn-redo"
          (click)="retry()"
        >
          <i class="fas fa-redo"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row form-actions">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary btn-lg rounded-pill"
        (click)="submit()"
        [disabled]="isRetry || isSubmitDisabled"
      >
        <span class="d-none d-sm-inline-block">{{
          '@Continue' | translate
        }}</span
        ><i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
