.cart-settings-sidebar {
  position: absolute;
  height: 100%;
  background: rgb(232, 232, 232);
  width: 74px;
  right: 0;
  top: 0;
}

.cart-settings-sidebar-item {
  height: 50px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.cart-settings-container {
  height: 100%;
  margin-right: 74px;
  background: white;
}

.cart-settins-sidebar-icon {
  margin-top: 14px;
  margin-right: 7px;
}
