@import 'variablesNew';
@import 'mixins';

.amount-input {
	display: flex;
	flex-direction: column;
	&__currency {
		position: relative;
		margin-right: $spacing-XS;
		bottom: 4px;
	}

	&__required {
		color: $icon-color-brand;
	}

	&__error-label {
		font-size: $font-size-XXS;
		color: $text-color-error;
		margin-left: $spacing-XS;
		@include font-primary-regular();
	}
}
