<div class="amount-input">
	<mat-form-field
		appearance="outline">
		<mat-label *ngIf="label">
			{{ label }}
			<span *ngIf="required" class="amount-input__required">*</span>
		</mat-label>
		<input
			id="{{ id }}"
			matInput
			currencyMask
			[options]="currencyOptions"
			(keyup)="onChange($event.target.value)"
			autocomplete="off"
			(blur)="onTouched()"
			[maxlength]="maxLength"
			[formControl]="amount"/>
		<mat-error>
			<ng-container class="amount-input__error-label" *ngFor="let error of errors">
				<span *ngIf="validatorMessage[error]" class="amount-input__error-label">
					{{ validatorMessage[error] }}
				</span>
			</ng-container>
		</mat-error>
	</mat-form-field>
</div>
