<div class="favorite">
	<mcy-icon-button
		class="favorite__icon"
		*ngIf="!active"
		[readOnly]="readOnly"
		[ngClass]="{ 'favorite__icon--readonly': readOnly }"
		(handleClick)="onClick(true)"
		[id]="id + '-disable'">favorito_outline</mcy-icon-button>
	<mcy-icon-button
		class="favorite__icon favorite__icon--active"
		*ngIf="active"
		[readOnly]="readOnly"
		[ngClass]="{ 'favorite__icon--readonly': readOnly }"
		(handleClick)="onClick(false)"
		[id]="id + '-enable'">favorito</mcy-icon-button>
</div>
