@import 'src/assets/scss/_mixins.scss';
@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_colors.scss';

.header {
  background: $santander-secondary;
  padding: 25px 0 15px;
  position: relative;
  color: $white;
  -moz-box-shadow: inset 0 -40px 40px -40px $black-05;
  -webkit-box-shadow: inset 0 -40px 40px -40px $black-05;
  box-shadow: inset 0 -40px 40px -40px $black-05;
  border-bottom: 1px solid $santander-secondary;

  &__expanded {
    padding: 25px 0 15px;
    //transition: padding 200ms ease;
  }

  &__collapsed {
    padding: 1.5rem 0 0.5rem;
    //transition: padding 200ms ease;
  }

  ::ng-deep .form-group {
    margin-bottom: 1rem;

    label {
      color: $gray;
      margin-bottom: 0;
    }
  }
}

.header-toggle-button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -13px;
  z-index: 99;
  background: $white;
  border-radius: 50%;
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  width: 30px;
  height: 30px;

  i {
    position: absolute;
    left: 7px;
    top: 6px;
  }

  &__expanded {
    transform: rotate(0deg);
    transition: transform 200ms ease;
  }

  &__collapsed {
    transform: rotate(180deg);
    transition: transform 200ms ease;
  }
}
