<div
  class="container-fluid header bg-secondary"
  [ngClass]="{
    header__expanded: !expandedCollapsed,
    header__collapsed: expandedCollapsed
  }"
>
  <button
    *ngIf="!fixed"
    type="button"
    class="btn header-toggle-button"
    (click)="expandedCollapsed = !expandedCollapsed"
    [attr.aria-expanded]="!expandedCollapsed"
    aria-controls="collapseHeader"
    tabindex="-1"
  >
    <i
      class="fas fa-chevron-down"
      [ngClass]="{
        'header-toggle-button__expanded': expandedCollapsed,
        'header-toggle-button__collapsed': !expandedCollapsed
      }"
    ></i>
  </button>
  <div class="container" id="collapseHeader" [ngbCollapse]="expandedCollapsed">
    <ng-content select="[expanded]"></ng-content>
  </div>

  <div class="container" *ngIf="expandedCollapsed">
    <ng-content select="[collapsed]"></ng-content>
  </div>
</div>
