<div class="debit-movement-detail">
	<div class="debit-movement-detail__header">
		<div class="debit-movement-detail__column" *ngIf="data.account.number">
			<span>{{getAccountTypeTranslate()}} ({{data.account.currency.symbol}})</span>
			<span class="debit-movement-detail__special">{{data.account.number | mcyAccountNumber}}</span>
		</div>
		<div class="debit-movement-detail__column" *ngIf="data.account.cbvu">
			<span>{{'pages.accounts.accountMovementDetail.cbvu' | translate}}</span>
			<span class="debit-movement-detail__special">{{data.account.cbvu}}</span>
		</div>
	</div>
	<div class="debit-movement-detail__info">
		<div class="debit-movement-detail__info-item" *ngIf="data.movement.accountingDate">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.accountingDate' | translate }}</span>
			<span class="debit-movement-detail__value">{{formatDate(data.movement.accountingDate)}}</span>
		</div>
		<div class="debit-movement-detail__info-item" *ngIf="data.movement.valueDate">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.valueDate' | translate }}</span>
			<span class="debit-movement-detail__value">{{formatDate(data.movement.valueDate)}}</span>
		</div>
	</div>
	<div class="debit-movement-detail__info" *ngIf="data.servicePayment">
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.requestNumber' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.referenceNumber}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.amount' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.currency.symbol}} {{data.movement.amount | mcyAmount}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.commerce' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.companyName}}</span>
		</div>
	</div>
	<div class="debit-movement-detail__info" *ngIf="!data.servicePayment">
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.branch' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.accountBranch}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.branchAddress' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.accountBranchAddress}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.referenceNumber' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.referenceNumber}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.amount' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.currency.symbol}} {{data.movement.amount | mcyAmount}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.commerce' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.companyName}}</span>
		</div>
		<div class="debit-movement-detail__info-item">
			<span class="debit-movement-detail__label">{{ 'pages.accounts.accountMovementDetail.cardNumber' | translate }}</span>
			<span class="debit-movement-detail__value">{{data.movement.cardNumber}}</span>
		</div>
	</div>

	<div class="debit-movement-detail__message">
		<mcy-icon class="debit-movement-detail__icon">
			informacao_outline
		</mcy-icon>
		<span class="debit-movement-detail__text">{{
			'pages.accounts.accountMovementDetail.message' | translate
		}}</span>
	</div>

	<mcy-sidenav-footer>
		<div class="debit-movement-detail__footer">
			<mcy-button
				color="primary"
				(click)="close()"
				>{{ 'pages.accounts.accountMovementDetail.end' | translate }}</mcy-button>
		</div>
	</mcy-sidenav-footer>
</div>