<div style="padding: 20px;">
    <div mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        Actualizar permisos
    </div>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Selecciones las aplicaciones</mat-label>
            <mat-select placeholder="Aplicación" [formControl]="applicationsSelected" [compareWith]="compareFn"
                multiple>
                <mat-option *ngFor="let application of applicationsList" [value]="application._id">
                    {{application.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" (click)="updatePermissions()">
            Actualizar permisos
        </button>
        <mat-spinner diameter="30" *ngIf="loading" style="width: 10px;"></mat-spinner>
    </div>
</div>