<mcy-signup-layout>
	<div aside>
		<mcy-sidebar-title [title]="'pages.updatePassword.stepperTitle' | translate ">
			<mcy-signup-stepper
				[selectedStep]="'updatePassword'"
				[isUpdatePasswordFlow]="true"
				[isUpdatePasswordValid]="true"				
			></mcy-signup-stepper>
		</mcy-sidebar-title>
	</div>
	<div body class="update-password__main">
		<div class="update-password__main-header">
			<h1 class="update-password__main-header-title">{{ 'pages.updatePassword.title' | translate }}</h1>
		</div>
		<span class="update-password__form-description">
			{{ 'pages.updatePassword.helpMessage' | translate }}
		</span>
		<form [formGroup]="updatePasswordForm" class="update-password__form" *ngIf="!updatePasswordState.isLoading && !updatePasswordState.hasErrors">
			<div class="update-password__form-row">
				<mcy-input
					class="update-password__form-input"
					[id]="'update-password__form-input-old-password'"
					formControlName="oldPassword"
					[maxLength]="passwordMaxLength"
					[label]="'pages.updatePassword.form.oldPassword.label' | translate"
					[validators]="oldPasswordValidators"
					[required]="true"
					[type]="'password'"
				>
				<div hint *ngIf="oldPasswordRemainingPasswordCharacters > 0">
					{{ 'pages.updatePassword.form.oldPassword.note' | translate: { value: oldPasswordRemainingPasswordCharacters } }}
				</div>
				</mcy-input>
			</div>
			<div class="update-password__form-row">
				<mcy-input
					class="update-password__form-input"
					[id]="'update-password__form-input-newPassword'"
					formControlName="newPassword"
					[maxLength]="passwordMaxLength"
					[label]="'pages.updatePassword.form.newPassword.label' | translate"
					[validators]="newPasswordValidators"
					[required]="true"
					[type]="'password'"
				>
					<div hint *ngIf="remainingPasswordCharacters > 0">
						{{ 'pages.updatePassword.form.newPassword.note' | translate: { value: remainingPasswordCharacters } }}
					</div>
				</mcy-input>
				<mcy-password-security
					*ngIf="updatePasswordForm.controls.newPassword.valid"
					class="update-password__form-password-security"
					[password]="updatePasswordForm.value.newPassword"
				></mcy-password-security>
			</div>
			<mcy-input
				class="update-password__form-input"
				[id]="'update-password__form-input-repeated-password'"
				formControlName="newRepeatedPassword"
				[label]="'pages.updatePassword.form.newRepeatedPassword.label' | translate"
				[validators]="newRepeatedPasswordValidators"
				[required]="true"
				[maxLength]="passwordMaxLength"
				[type]="'password'"
			>
				<div hint
					 *ngIf="updatePasswordForm.value.newPassword === updatePasswordForm.value.newRepeatedPassword
					 		&& updatePasswordForm.controls.newPassword.valid">
					{{ 'pages.updatePassword.form.newRepeatedPassword.passwordMatch' | translate }}
				</div>
			</mcy-input>
		</form>
		<div class="update-password__form-loading-spinner" *ngIf="updatePasswordState.isLoading || updatePasswordState.hasErrors">
			<voxel-loading-circle 
				[showLoading]="true" 
				size="large" 
				*ngIf="updatePasswordState.isLoading">
			</voxel-loading-circle>
			<mcy-loading-data-error 
			[errorDescription]="'pages.updatePassword.errorStateDescription' | translate"
			*ngIf="updatePasswordState.hasErrors"
			(handleOnRetry)="onContinue()"
			[displayRetry]="true"
			></mcy-loading-data-error>
		</div>
		<div class="update-password__form-actions">
			<span class="update-password__form-required">
				<span class="update-password__form-required-icon">* </span>
				{{ 'pages.updatePassword.requiredFields' | translate }}
			</span>
			<div class="update-password__form-actions-row">
				<mcy-button
					[id]="'update-password__form-actions-continue'"
					[color]="'primary'"
					[disabled]="!updatePasswordForm.valid"
					(handleClick)="onContinue()"
				>
				{{ 'pages.updatePassword.continueButton' | translate }}
				</mcy-button>
			</div>
		</div>
	</div>
</mcy-signup-layout>
