@import 'variablesNew';

.balance-detail {
	background-color: $background-color-secondary;
	padding: $spacing-S $spacing-XS;
	margin-right: $spacing-XXL;
	margin-bottom: $spacing-XXL;
	&__row {
		margin-bottom: $spacing-S;
		display: flex;
		&__item {
			flex: 1;
			font-size: $font-size-L;
		}
		&__small {
			flex: 1;
			font-size: $font-size-S;
		}
		&__small-title {
			flex: 1;
			font-size: $font-size-S;
			color: $text-color-tertiary;
		}
	}
	&__footer {
		border-top: 1px solid $text-color-disabled-button;
		padding-top: $spacing-S;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: $spacing-L;
		margin-bottom: $spacing-L
	}
}
