<form autocomplete="off" [formGroup]="formDependencyRelationship">
  <div class="row">
    <div class="col">
      <app-form-field
        label="{{ '@Tax Residence' | translate }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group-vertical btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionOne"
          formControlName="questionOne"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{
              '@I am an Argentine tax resident and I do not reside in another country'
                | translate
            }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{
              '@I am an Argentine tax resident and I reside in another country'
                | translate
            }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-form-field
        tooltip="{{
          '@Example: consignees, tourism, managers, insurance producers, intermediaries, purchase of telephone cards.'
            | translate
        }}"
        label="{{
          '@Does your activity operate funds on behalf of third parties?'
            | translate
        }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionTwo"
          formControlName="questionTwo"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{ '@Yes' | translate }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{ '@Not' | translate }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-form-field
        label="{{
          '@Are you a high-level foreign public official and / or your immediate family members?'
            | translate
        }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionThree"
          formControlName="questionThree"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{ '@Yes' | translate }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{ '@Not' | translate }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
</form>
