@import 'scss/mixins';
@import 'scss/colors';
@import 'scss/fonts';

@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes check-animation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  8% {
    opacity: 1;
    transform: scale(1);
  }

  12% {
    transform: scale(1.3);
  }

  15% {
    transform: scale(1);
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes plus-animation {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.documents {
  &__item {
    padding: 1rem;
    position: relative;
    background: $white-05;
    width: 100%;
    margin-bottom: 1rem;
    @include border-radius(0.5rem);
    @include box-shadow(0, 0, 0.5rem, rgba(0, 0, 0, 0.1));

    &--pending {
    }

    &-header {
      &-title {
        margin-bottom: 0;
        font-weight: bold;
      }

      &-button {
        width: auto;
        position: relative;
        padding-right: 2.5rem;

        i {
          position: absolute;
          right: 1rem;
          top: 0.65rem;
        }

        i.fa-spinner,
        i.fa-check,
        i.fa-plus {
          opacity: 0;
        }

        i.fa-spinner {
          animation: spinner-rotation 1s infinite linear;
        }

        &--loading {
          i.fa-arrow-up {
            opacity: 0;
            transition: all 400ms;
          }

          i.fa-spinner {
            opacity: 1;
            transition: all 400ms;
          }

          i.fa-check {
            opacity: 0;
          }

          i.fa-plus {
            opacity: 0;
          }
        }

        &--loaded {
          i.fa-arrow-up {
            opacity: 0;
          }

          i.fa-spinner {
            opacity: 0;
            transition: all 400ms;
          }

          i.fa-check {
            animation: check-animation 2s linear;
          }

          i.fa-plus {
            animation: plus-animation 2s linear forwards;
          }
        }

        &.btn-link {
          i {
            color: $santander-success;
            opacity: 1;
            font-size: 1.5rem;
            right: 0.5rem;
            top: 0.5rem;
          }

          &:hover {
            i {
              color: $santander-success;
            }
          }
        }
      }
    }

    &-body {
      padding-top: 1rem;
      border-top: 1px dotted $gray-light;
      margin-top: 1rem;

      &-message {
        margin: 0.5rem 0 0;
        color: $gray-dark;
        font-size: $font-sm;
      }

      &-link {
        font-size: $font-sm;
        display: block;
        margin: 0.5rem 0 0;
      }
    }

    &-required {
      &::after {
        content: '\f069';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $santander-info;
        font-size: 0.5rem;
        margin-left: 5px;
        position: absolute;
        top: 4px;
      }
    }
  }
}

:host {
}
