@import 'variables';

$root: '.export-csv-modal';

#{$root} {
	color: $text-color-primary;
	width: 605px;

	&__description-container {
		padding: $spacing-XL 0 0 0;
		margin: 0 0 $spacing-L 0;
	}

	&__description {
		margin: 0;
	}

	&__form-wrapper {
		display: flex;
		align-items: flex-end;
		height: 100%;
		padding: $spacing-L 0;
	}

	&__radio:first-child {
		margin: 0 0 $spacing-M 0;
	}
	&__radio {
		margin: $spacing-L 0 $spacing-M 0;
	}
	&__radio:last-child {
		margin: $spacing-L 0 0 0;
	}
	&__radios {
		margin-bottom: $spacing-L;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
	}

	&__select {
		width: 240px;
	}
}