<mcy-modal-content
	[title]="'pages.contacts.exportCSVModal.message' | translate"
	[cancel]="'pages.contacts.exportCSVModal.cancel' | translate"
	[confirmation]="'pages.contacts.exportCSVModal.confirmation' | translate"
	(handleCancel)="onCancel()"
	(handleClose)="onClose()"
	(handleConfirmation)="onConfirm()"
>
	<div class="export-csv-modal__description-container">
		<p class="export-csv-modal__description">
			{{'pages.contacts.exportCSVModal.description' | translate}}
		</p>
	</div>
	<div class="export-csv-modal__form-wrapper" [formGroup]="form">
		<voxel-radio-button-group
			aria-labelledby="'pages.contacts.exportCSVModal.optionsAriaLabel' | translate"
			class="export-csv-modal__radios"
			formControlName="filterType"
		>
			<voxel-radio-button class="export-csv-modal__radio" [value]="'all'" [radioId]="'export_modal__export-all'">
				{{'pages.contacts.exportCSVModal.all' | translate}}
			</voxel-radio-button>
			<voxel-radio-button class="export-csv-modal__radio" [value]="'favorites'" [radioId]="'export_modal__favorites'">
				{{'pages.contacts.exportCSVModal.favorites' | translate}}
			</voxel-radio-button>
			<voxel-radio-button class="export-csv-modal__radio" [value]="'category'" [radioId]="'export_modal__categories'">
				{{'pages.contacts.exportCSVModal.categories' | translate}}
			</voxel-radio-button>
		</voxel-radio-button-group>
			<div class="export-csv-modal__select-container">
				<mcy-select
					formControlName="contactCategory"
					class="export-csv-modal__select"
					[data]="categoriesList"
					*ngIf="areCategoriesSelected"
					[id]="'export_modal__select'"
				></mcy-select>
			</div>
	</div>
</mcy-modal-content>
