<form autocomplete="off" [formGroup]="formOwnAccount">
  <div class="row">
    <div class="col">
      <app-form-field
        label="{{ '@Tax Residence' | translate }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group-vertical btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionOne"
          formControlName="questionOne"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{
              '@I am an Argentine tax resident and I do not reside in another country'
                | translate
            }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{
              '@I am an Argentine tax resident and I reside in another country'
                | translate
            }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-form-field
        label="{{
          '@Does your activity operate funds on behalf of third parties?'
            | translate
        }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionTwo"
          formControlName="questionTwo"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{ '@Yes' | translate }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{ '@Not' | translate }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-form-field
        label="{{
          '@Are you an obligated subject according to the article of Law 25.246 or do you carry out activities with tax benefits?'
            | translate
        }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionThree"
          formControlName="questionThree"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{ '@Yes' | translate }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{ '@Not' | translate }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-form-field
        label="{{
          '@Are you related to the production or distribution of weapons and / or other military products?'
            | translate
        }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <div
          class="btn-group btn-group-toggle btn-group-radio"
          ngbRadioGroup
          name="questionFour"
          formControlName="questionFour"
        >
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="1" />{{ '@Yes' | translate }}
          </label>
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="0" />{{ '@Not' | translate }}
          </label>
        </div>
      </app-form-field>
    </div>
  </div>
</form>
