<div class="service-request-list">
	<div *ngIf="!requestsState.loading && !requestsState.hasRequestError">
		<div class="service-request-list__title-container">
			<span class="service-request-list__length">
				{{ totalRequest }}
			</span>
			<span class="service-request-list__title">
				{{ 'pages.payments.serviceResquestsList.requests' | translate }}
			</span>
		</div>
		<span class="service-request-list__subtitle">
			{{ 'pages.payments.serviceResquestsList.serviceSignaturesPending' | translate }}
		</span>
		<div
			class="service-request-list__no-message"
			*ngIf="!totalRequest">
			<mcy-no-data-message
				[message]="'pages.payments.serviceResquestsList.emptyRequestsMessage' | translate">
			</mcy-no-data-message>
		</div>
		<div *ngIf="totalRequest">
			<mcy-requests-list
				[selectedRequests]="selectedRequests"
				(resetSelection)="resetSelection()"
				(selectRequest)="select($event)"
				[requests]="filteredRequestBySizePage"
				(actionRedirect)="goTo($event)">
			</mcy-requests-list>
			<div class="service-request-list__show-more">
				<mcy-contextual-button
					[id]="'service-debts-list__go-to-requests-landing'"
					*ngIf="isGreaterFive();"
					sufixIcon="seta_direita"
					(handleClick)="goToRequestsLanging()">
					{{ 'pages.payments.serviceResquestsList.all' | translate }}
				</mcy-contextual-button>
			</div>
		</div>
	</div>

	<div class="service-request-list__spinner-container"
		*ngIf="requestsState.loading">
		<voxel-loading-circle
			[showLoading]="true"
			size="large">
		</voxel-loading-circle>
	</div>

	<div class="service-request-list__error"
		*ngIf="requestsState.hasRequestError && !requestsState.loading">
		<mcy-loading-data-error
			[displayRetry]="true"
			(handleOnRetry)="onSubmitRequest()"
		></mcy-loading-data-error>
	</div>
</div>
