<div class="container pt-5">
  <h1 class="section-header__title">
    {{ '@Appointment management' | translate }}
  </h1>
</div>

<app-proposal-detail
  *ngIf="proposal"
  [proposal]="proposal"
></app-proposal-detail>

<div *ngIf="enableCalendar" class="container appointment__date-container">
  <h4>{{ '@Book a new appointment' | translate }}</h4>
  <div class="row py-3 d-flex align-items-center">
    <div class="col col-sm-auto pb-3 pb-sm-0">
      <ngb-datepicker
        #dp
        
        [minDate]="minDate"
        [maxDate]="maxDate"
        [(ngModel)]="selectedDate"
        [markDisabled]="isDisabled"
      ></ngb-datepicker>
    </div>
    <div class="col col-md-7">
      <p class="appointment__date-title">{{ '@Selected day' | translate }}</p>
      <h1 class="appointment__date-text">
        {{
          (selectedDate && selectedDate?.day < 10
            ? '0' + selectedDate.day
            : selectedDate?.day) +
            '/' +
            (selectedDate && selectedDate?.month < 10
              ? '0' + selectedDate.month
              : selectedDate?.month) +
            '/' +
            selectedDate?.year
        }}
      </h1>

      <p class="appointment__date-reminder-text">
        {{ '@Appointment reminder first day' | translate }}
      </p>
      <p class="appointment__date-reminder-text">
        {{ '@Appointment reminder modify' | translate }}
      </p>
    </div>
  </div>
</div>

<div *ngIf="!enableCalendar" class="container appointment__date-container">
  <h4>{{ '@Book a new appointment' | translate }}</h4>
  <div class="row py-3 d-flex align-items-center">
    <div class="col col-sm-auto pb-3 pb-sm-0">
      <div class="alert alert-warning">
        {{ '@No available dates at this moment' | translate }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row form-actions">
    <div class="col text-right">
      <button
        type="button"
        class="btn btn-secondary btn-lg rounded-pill"
        (click)="saveAppointment()"
        [disabled]="!proposal?.proposalNumber || formSubmitted || !selectedDate"
      >
        {{ '@Confirm appointment' | translate
        }}<i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
