@import 'variablesNew';
@import 'mixins';

.salary-requests-list {
	&__title-container {
		margin: $spacing-XS $spacing-XXL 0;
	}

	&__length {
		@include font-primary-semibold();
		color: $text-color-tertiary;
		font-size: $font-size-XXL;
	}

	&__title {
		@include font-primary-regular();
		color: $text-color-disabled;
		font-size: $font-size-L;
	}

	&__subtitle {
		@include font-primary-regular();
		font-size: $font-size-M;
		margin: $spacing-XS $spacing-XXL 0;
	}

	&__show-more {
		font-size: $font-size-M;
		cursor: pointer;
		display: flex;
		justify-content: center;
		color: $text-color-link;
	}

	&__show-more-description {
		@include font-primary-bold();
		padding: 0 $spacing-S 0 0;
	}

	&__no-message {
		margin: $spacing-XS $spacing-XXL 0;
	}
}
