@import 'variables';
@import 'mixins';

.credit-movement-detail {
	margin-bottom: 140px;
	&__header {
		color: $text-color-disabled;
		display: flex;
		margin: $spacing-XL 0;
	}
	&__column {
		flex: 5;
		display: flex;
		flex-direction: column;
	}
	&__special {
		@include font-primary-bold();
	}
	&__info {
		display: flex;
		flex-direction: row;
		width: 520px;
		flex-wrap: wrap;
		margin-top: $spacing-XL;

	}
	&__info-item {
		width: 50%;
		display: flex;
		flex-direction: column;
		margin-top: $spacing-M;
	}
	&__label {
		font-size: $font-size-M;
		color: $text-color-senary;
	}
	&__value {
		font-size: $font-size-M;
		color: $text-color-primary;
		margin-top: $spacing-XS;
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}