<div class="table table-scroll material">
  <div class="table-content">
    <div>
      <!-- headers -->
      <div
        class="table-header"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span *ngIf="multiSelect" fxFlex="5">
          <mat-checkbox
            color="primary"
            #mainCheckbox
            (click)="checkedAllAction()"
          ></mat-checkbox>
        </span>
        <!-- <span>#</span> -->
        <span
          *ngFor="let header of headers"
          fxFlex
          (click)="changeSortAction(header)"
        >
          {{ header.label }}
          <button
            *ngIf="header.label && header.sortable"
            [disabled]="header.key !== activeSort"
            mat-icon-button
          >
            <mat-icon>unfold_more</mat-icon>
          </button>
        </span>
        <span *ngFor="let button of rowActions" fxFlex="5"></span>
      </div>
      <!-- loading -->
      <div
        *ngIf="loading && loadingType === 'SPINNER'"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      <mat-progress-bar
        *ngIf="loading && loadingType === 'PROGRESS_BAR'"
        mode="indeterminate"
      ></mat-progress-bar>
      <div *ngIf="loading && loadingType === 'BOX'">
        <div class="box-loading" *ngFor="let box of boxes"></div>
      </div>
      <!-- data -->
      <div #tableData class="table-data" *ngIf="!loading">
        <div class="table-data-row" *ngFor="let item of data; index as i">
          <app-table-modal
            [modalData]="modalSelected"
            [position]="i"
            [item]="item"
            *ngIf="modalSelected.row === i + 1"
          ></app-table-modal>
          <div
            class="table-data-header"
            fxLayouttable="row"
            fxLayoutAlign="space-between center"
            (click)="clickRowEventAction(item)"
          >
            <span *ngIf="multiSelect" fxFlex="5">
              <mat-checkbox
                #checkbox
                color="primary"
                (click)="$event.stopPropagation(); selectItem(i)"
              ></mat-checkbox>
            </span>
            <!-- <span>{{i + 1}}</span> -->
            <span *ngFor="let data of headers" fxFlex>
              <app-table-container
                [componentType]="data.component"
                [componentData]="{
                  item: item,
                  field: data.key,
                  position: i
                }"
              ></app-table-container>
            </span>
            <span *ngFor="let button of rowActions" fxFlex="5">
              <app-table-container
                [componentType]="button.type"
                [componentData]="{
                  item: item,
                  button: button,
                  position: i
                }"
              ></app-table-container>
            </span>
          </div>
          <app-table-container
            *ngIf="rowSubItemSelected.row === i + 1"
            [componentType]="rowSubItemSelected.type"
            [componentData]="{
              item: item,
              field: rowSubItemSelected.data.field,
              observable: rowSubItemSelected.data.observable,
              galleryConfig: rowSubItemSelected.data.galleryConfig,
              secondTableConfig: rowSubItemSelected.data.secondTableConfig,
              position: i
            }"
          ></app-table-container>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        *ngIf="data && !data.length && !loading"
      >
        <p>No hay datos encontrados</p>
      </div>
      <!-- paginator -->
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="pagination">
        <app-table-paginator
          [DynamicTablePagination]="pagination"
          (changePage)="changePageAction($event)"
        ></app-table-paginator>
      </div>
    </div>
    <!-- multi actions -->
    <div fxLayout="row">
      <app-table-multi-actions
        [colors]="colors"
        [items]="itemsSelected"
        (unSelectItems)="unSelectItems()"
        [multiActions]="multiActions"
      ></app-table-multi-actions>
    </div>
  </div>
</div>
