<div class="enterprise-select">
	<div class="enterprise-select__header">
		<div class="enterprise-select__logo-container">
			<mcy-logo></mcy-logo>
		</div>
		<mcy-contextual-button
			[id]="'enterprise-select__logout'"
			class="enterprise-select__exit"
			(click)="logout()"
			sufixIcon="fechar">
			{{ 'pages.enterprises.exit' | translate }}
		</mcy-contextual-button>
	</div>
	<div class="enterprise-select__body">
		<div class="enterprise-select__left-panel">
			<div class="enterprise-select__main-panel">
				<h3 class="enterprise-select__title">
					{{ 'pages.enterprises.welcome' | translate }}
					 {{ userState.user.name }}
				</h3>

				<mcy-enterprise-selector
					*ngIf="!isLoadingEnterprisePermissions"
					(handleChange)="goToDashboard($event)">
				</mcy-enterprise-selector>
				<div
					class="enterprise-select__loading-container"
					*ngIf="isLoadingEnterprisePermissions">
					<voxel-loading-circle
						[showLoading]="true"
						size="large"
					></voxel-loading-circle>
				</div>
			</div>
		</div>

		<div class="enterprise-select__right-panel">
			<div class="enterprise-select__image"></div>
		</div>
	</div>
</div>

