<div class="service-payment-detail__content">
	<div class="service-payment-detail__header"  *ngIf="data.description">
		<mcy-icon class="service-payment-detail__icon">globo_outline</mcy-icon>
		<div class="service-payment-detail__header-info">
			<span class="service-payment-detail__label">{{ 'pages.payments.detail.serviceName' | translate }}</span>
			<span class="service-payment-detail__name-value">{{ data.description }}</span>
		</div>
	</div>
	<div class="service-payment-detail__info">
		<div class="service-payment-detail__info-item" *ngIf="data.controlNumber">
			<span class="service-payment-detail__label"># {{ 'pages.payments.detail.referenceNumber' | translate }}</span>
			<span class="service-payment-detail__value">{{ data.controlNumber }}</span>
		</div>
		<div class="service-payment-detail__info-item" *ngIf="showOtherAmount && data.currency.symbol && data.otherAmount">
			<span class="service-payment-detail__label">{{ 'pages.payments.detail.amount' | translate }}</span>
			<span class="service-payment-detail__value">{{ data.currency.symbol }} {{ data.otherAmount | mcyAmount }}</span>
		</div>
		<div class="service-payment-detail__info-item" *ngIf="data.currency.symbol && data.amount">
			<span class="service-payment-detail__label">{{ 'pages.payments.detail.originalAmount' | translate }}</span>
			<span class="service-payment-detail__value">{{ data.currency.symbol }} {{data.amount | mcyAmount }}</span>
		</div>
		<div class="service-payment-detail__info-item" *ngIf="data.expirationDate">
			<span class="service-payment-detail__label">{{ 'pages.payments.detail.exprirationDate' | translate }}</span>
			<span class="service-payment-detail__value">{{ formattedDate(data.expirationDate) }}</span>
		</div>
		<div class="service-payment-detail__info-item" *ngIf="data.date">
			<span class="service-payment-detail__label">{{ 'pages.payments.detail.paymentDate' | translate }}</span>
			<span class="service-payment-detail__value">{{ formattedDate(data.date) }}</span>
		</div>
		<div class="service-payment-detail__info-item" *ngIf="data.account.type && data.account.number">
			<span class="service-payment-detail__label">{{ 'pages.payments.detail.originAccount' | translate }}</span>
			<span class="service-payment-detail__value">{{ data.account.type }} {{ data.account.number | mcyAccountNumber }}</span>
		</div>
	</div>
	<div class="service-payment-detail__actions" *ngIf="showShareSection">
		<div class="service-payment-detail__action">
			<mcy-button
				class="service__button"
				color="primary"
				(click)="downloadReceipt();">
				<mcy-icon class="service-payment-detail__action-download">download_outline</mcy-icon>
				{{ 'pages.payments.detail.downloadReceipt' | translate }}
			</mcy-button>
		</div>
	</div>
	<div class="service-payment-detail__status" *ngIf="data.state === 'APPROVED'">
		<div class="service-payment-detail__status-successful">
			<mcy-icon class="service-payment-detail__status-icon">check</mcy-icon>
			<div class="service-payment-detail__status-info">
				<span class="service-payment-detail__status-message">{{ 'pages.payments.state.successful' | translate }}</span>
				<span class="service-payment-detail__status-date">{{ formattedDate(data.date) }}</span>
			</div>
		</div>
	</div>
	<div class="service-payment-detail__status" *ngIf="data.state === 'DENIED'">
		<div class="service-payment-detail__status-rejected">
			<mcy-icon class="service-payment-detail__status-icon">fechar</mcy-icon>
			<div class="service-payment-detail__status-info">
				<span class="service-payment-detail__status-message">{{ 'pages.payments.state.rejected' | translate }}</span>
				<span class="service-payment-detail__status-date">{{ formattedDate(data.date) }}</span>
			</div>
		</div>
	</div>
</div>
