<div class="contact-search-form">
	<form [formGroup]="searchForm" class="contact-search-form__form">
		<mcy-input
			[id] ="'contact-search-form__searchKeyword'"
			class="contact-search-form__keyword-input"
			(handleChange)="onInputChange()"
			[id]="'contact-search-form__search-input'"
			[type]="'text'"
			[label]="'pages.payments.filterContacs.searchFieldLabel' | translate"
			formControlName="searchKeyword">
		</mcy-input>
		<mcy-select
			[id] ="'contact-search-form__category'"
			[data]="categoryOptions"
			(handleChange)="onInputChange()"
			[id]="'contact-search-form__search-select'"
			[label]="'components.contactSearchForm.categoriesLabel' | translate"
			formControlName="category">
		</mcy-select>
	</form>
</div>
