@import 'variablesNew';

.signup-layout {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $background-color-secondary;

	&__header {
		padding: $spacing-XS $spacing-XXL;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $border-color-secondary;
	}

	&__body {
		display: flex;
		flex: 1;
		height: 100%;
	}

	&__side-panel {
		width: 272px;
		background-color: $background-color-menu;
	}

	&__content {
		flex: 1;
		display: flex;
		justify-content: center;
	}
}
