:host /deep/ ::placeholder {
  text-transform: none !important;
}

:host /deep/ :-ms-input-placeholder {
  text-transform: none !important;
}

:host /deep/ input[type='password'] {
  text-transform: none !important;
}
