<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="section-header__subtitle">
        {{ '@Details of the proposal' | translate }}
      </h2>
    </div>
  </div>
</div>

<div class="pb-5">
  <ngb-accordion
    #a="ngbAccordion"
    [destroyOnHide]="false"
    [activeIds]="activeIds"
    (panelChange)="panelChange($event)"
  >
    <ng-container *ngFor="let panel of proposalPanels">
      <ngb-panel id="{{ panel.id }}">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
            <div class="container">
              <h4 class="m-0">{{ panel.title }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container" [ngSwitch]="panel.id">
            <ng-template #ownerDataPanel ngSwitchCase="ownerDataPanel"
              ><app-customer [customer]="proposal?.owner"></app-customer
            ></ng-template>

            <ng-template
              *ngIf="proposal?.coOwner"
              #coOwnerDataPanel
              ngSwitchCase="coOwnerDataPanel"
              ><app-customer
                *ngIf="proposal?.coOwner"
                [customer]="proposal?.coOwner"
              ></app-customer
            ></ng-template>

            <ng-template #vehicleDataPanel ngSwitchCase="vehicleDataPanel"
              ><app-vehicle [vehicle]="proposal?.vehicle"></app-vehicle
            ></ng-template>

            <ng-template #financingDataPanel ngSwitchCase="financingDataPanel"
              ><app-financing [scoring]="proposal?.scoring"></app-financing
            ></ng-template>

            <ng-template #legendDataPanel ngSwitchCase="legendDataPanel"
              ><app-legends
                [owner]="proposal?.owner"
                [coOwner]="proposal?.coOwner"
              ></app-legends
            ></ng-template>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</div>
