@import 'variables';

.requests-filters {
    &__row {
        display: flex;
        cursor: pointer;
        padding: 0px $spacing-XL;
    }
    &__search {
        min-width: 0;

        flex: 3;
        margin-right: $spacing-M;
    }
    &__types {
        min-width: 0;
        flex: 1;
        margin-right: $spacing-M;
    }

    &__states {
        min-width: 0;
        flex: 2;
        margin-right: $spacing-M;
    }

    &__start-date {
        min-width: 0;
        flex: 2;
        margin-right: $spacing-M;
    }
    &__end-date {
        min-width: 0;
        flex: 2;
    }
}
