@import 'variablesNew';
@import 'mixins';

.sidenav-soft-token-error {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;

	&__warning {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
	}

	&__warning-title {
		@include font-primary-bold;
		color: $text-color-primary;
		font-size: $font-size-XXL;
		line-height: 1.5;
		margin: $spacing-M 0;
	}

	&__warning-description {
		@include font-primary-regular;
		color: $text-color-tertiary;
		font-size: $font-size-L;
		margin: 0;
		max-width: 350px;
		text-align: center;
	}
}
