<div class="sidenav-soft-token-error">
	<div
		class="sidenav-soft-token-error__warning"
	>
		<mcy-badge-icon [type]="'information'">aviso_outline</mcy-badge-icon>
		<h3 class="sidenav-soft-token-error__warning-title">
			{{ 'components.sidenavSoftTokenError.subtitle' | translate }}
		</h3>
		<p class="sidenav-soft-token-error__warning-description" *ngIf="!data.message">
			{{ 'components.sidenavSoftTokenError.description' | translate }}
		</p>
		<p class="sidenav-soft-token-error__warning-description" *ngIf="data.message">
			{{ data.message }}
		</p>
	</div>
</div>
