<div class="checks-received">
	<mcy-account-selector
		[id]="'checks-received__account-selector'"
		[accountList]="accountList"
		[title]="'pages.checkbooks.received.accountSelectorTitle' | translate"
		(accountSelected)="accountSelected($event)">
	</mcy-account-selector>

	<div class="checks-received__general-error" *ngIf="hasGeneralError">
		<mcy-loading-data-error
			[errorDescription]="generalErrorMessage"
			[displayRetry]="true"
			(handleOnRetry)="retry()">
		</mcy-loading-data-error>
	</div>

	<div *ngIf="!paginatedChecksList.length && !state.hasErrorChecksReceived && !state.loadingChecksReceived">
		<mcy-check-service-errors *ngIf="errorMessages.length"
			[errorMessages]="errorMessages">
		</mcy-check-service-errors>

		<div class="checks-received__title-container">
			<div>
				<span class="checks-received__length">{{ totalChecks }}</span>
				<span class="checks-received__title"> {{'pages.checkbooks.received.checksReceived' | translate}}</span>
			</div>

			<div class="checks-received__box-search">
				<mcy-contextual-button
					[id]="'checks-received__search-icon'"
					[sufixIconSize]="'16px'"
					[sufixIcon]="visibleFilters ? 'seta_cima' : 'busca_outline'"
					(handleClick)="showFilters()">
					{{labelShowFilter}}
				</mcy-contextual-button>
			</div>
		</div>
	</div>

	<div *ngIf="visibleFilters">
		<mcy-checks-received-filters (sendFilters)="filterChecks($event)"></mcy-checks-received-filters>
	</div>

	<mcy-checks-received-list *ngIf="!hasGeneralError"
		[checks]="paginatedChecksList"
		[loading]="loading"
		[hasAccountSelected]="hasAccountSelected"
		[emptyMessage]="'pages.checkbooks.received.emptyMessage' | translate"
		[selectedAccount]="selectedAccount">
	</mcy-checks-received-list>

	<div class="checks-received__show-more">
		<mcy-contextual-button [id]="'checks-received__change-pagination'" sufixIcon="seta_baixo"
			(handleClick)="changePagination()"
			*ngIf="originalChecksFilteredByType.length > paginatedChecksList.length && !hasGeneralError && !loading">
			{{'pages.checkbooks.received.showMore' | translate}}
		</mcy-contextual-button>
	</div>
</div>