<div class="contact-add-confirmation">
	<div class="contact-add-confirmation__main-section">

		<div class="contact-add-confirmation__description-section">
			<mcy-stepper-guidelines
				class="contact-add-confirmation__stepper-guidelines"
				[nextGuideline]="true"
				[selected]="true">
			</mcy-stepper-guidelines>
			<div class="contact-add-confirmation__description-container contact-add-confirmation__border">
				<h3 class="contact-add-confirmation__description-title">
					{{ 'pages.contacts.addConfirmation.contactTitle' | translate }}
				</h3>
				<div class="contact-add-confirmation__description-info">
					<span class="contact-add-confirmation__description-text--bold">
						{{ data.contact.name }}
					</span>
					<span class="contact-add-confirmation__description-text">
						{{ 'pages.contacts.addConfirmation.cuilt' | translate }}: {{ data.contact.cuilt }}
					</span>
					<span class="contact-add-confirmation__description-text">
						{{ 'pages.contacts.addConfirmation.cbvu' | translate }}: {{ data.contact.cbvu }}
					</span>
				</div>
				<div class="contact-add-confirmation__icon-container">
					<mcy-icon-button
					(handleClick)="backToFindContact()"
					class="contact-add-confirmation__edit-icon"
					id="'contact-add-confirmation__edit-destination-icon'">
						editar_outline
					</mcy-icon-button>
				</div>
			</div>
		</div>

		<div class="contact-add-confirmation__description-section">
			<mcy-stepper-guidelines
				class="contact-add-confirmation__stepper-guidelines"
				[previousGuideline]="true"
				[selected]="true">
			</mcy-stepper-guidelines>
			<div class="contact-add-confirmation__description-container">
				<h3 class="contact-add-confirmation__description-title">
					{{ 'pages.contacts.addConfirmation.otherInformation' | translate }}
				</h3>
				<div class="contact-add-confirmation__description-info">
					<span class="contact-add-confirmation__description-text">
						{{ 'pages.contacts.addConfirmation.reference' | translate }}: {{ data.contact.reference }}
					</span>
					<span class="contact-add-confirmation__description-text">
						{{ 'pages.contacts.addConfirmation.category' | translate }}: {{'pages.contacts.categories.' + data.contact.category | translate}}
					</span>
					<span class="contact-add-confirmation__description-text">
						{{ 'pages.contacts.addConfirmation.email' | translate }}: {{ data.contact.email }}
					</span>
				</div>
				<div class="contact-add-confirmation__icon-container">
					<mcy-icon-button
						(handleClick)="backToEditContact()"
						class="contact-add-confirmation__edit-icon"
						[id]="'contact-add-confirmation__edit-description-icon'">
						editar_outline
					</mcy-icon-button>
				</div>
			</div>
		</div>


	</div>
	<div class="contact-add-confirmation__buttons-section">
		<mcy-button
			class="contact-add-confirmation__button"
			[color]="'tertiary'"
			(handleClick)="back()"
			[id]="'contact-add-confirmation__back-button'">
			{{ 'pages.contacts.addConfirmation.back' | translate }}
		</mcy-button>
		<mcy-button
			class="contact-add-confirmation__button"
			[color]="'primary'"
			(handleClick)="next()"
			[id]="'contact-add-confirmation__confirmation-button'">
			{{ 'pages.contacts.addConfirmation.next' | translate }}
		</mcy-button>
	</div>
</div>
