@import 'variablesNew';
@import 'mixins';

.no-data-message {
	@include box-shadow-notification();
	position: relative;
	background-color: $background-color-secondary;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: $spacing-S 0;
	padding: 0 $spacing-S;
	border-radius: $radius-XS;
	height: 64px;

	&__icon {
		position: absolute;
		left: $spacing-S;
		color: $icon-color-brand;
		font-size: 24px;
	}

	&__text {
		padding-left: $spacing-XL;
	}
}