# compiled output
dist/
tmp/
out-tsc/
documentation/

# dependencies
node_modules/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.idea/
.vscode/
.history/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.sass-cache
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings
*.log
*.tgz
.cache
*.stackdump
/package-lock.json
.prettierrc.js
# System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini




