<mcy-signup-layout>
	<div aside>
		<mcy-sidebar-title [title]="'pages.updatePasswordSuccess.stepperTitle' | translate">
			<mcy-signup-stepper
			[selectedStep]="'success'"
			[isUpdatePasswordFlow]="true"
			></mcy-signup-stepper>
		</mcy-sidebar-title>
	</div>
	<div body class="update-password-success__main">
		<div class="update-password-success__main-header">
			<h1 class="update-password-success__main-header-title">{{ 'pages.updatePasswordSuccess.title' | translate }}</h1>
		</div>
		<span class="update-password-success__form-description">
			{{ 'pages.updatePasswordSuccess.formDescriptionStart' | translate }}
			<span 
				class="update-password-success__form-description-bold">
				{{ 'pages.updatePasswordSuccess.formDescriptionBold' | translate }}
			</span>
			{{ 'pages.updatePasswordSuccess.formDescriptionEnd' | translate }}
		</span>
		<div class="update-password-success__success-image">
			<img class="update-password-success__success-image">
		</div>

		<div class="update-password-success__form-actions">
			<mcy-button
				[id]="'update-password-success__form-actions-continue'"
				[color]="'primary'"
				(handleClick)="redirectToLogin()"
			>
				{{ 'pages.updatePasswordSuccess.continueButton' | translate }}
			</mcy-button>
		</div>
	</div>
</mcy-signup-layout>
