<div class="salary-scheduled-requests">
	<div class="salary-scheduled-requests__title-container">
		<span class="salary-scheduled-requests__length">
			{{ totalRequest }}
		</span>
		<span class="salary-scheduled-requests__title">
			{{ 'pages.payments.scheduledSalaryPaymentsList.requests' | translate }}
		</span>
	</div>
	<span class="salary-scheduled-requests__subtitle">
		{{ 'pages.payments.scheduledSalaryPaymentsList.salarySignaturesPending' | translate }}
	</span>
	<div
		class="salary-scheduled-requests__no-message"
		*ngIf="!totalRequest">
		<mcy-no-data-message
			[message]="'pages.payments.scheduledSalaryPaymentsList.emptyRequestsMessage' | translate">
		</mcy-no-data-message>
	</div>
	<div *ngIf="totalRequest" class="salary-scheduled-requests__carousel">
		<mcy-carousel
			[list]="requests"
			[configuration]="configuration"
			[selection]="false"
			(actionEvent)="requestAction($event)"
			[component]="component">
		</mcy-carousel>
	</div>
</div>
