<button
	type="button"
	aria-label="notificaciones"
	mat-icon-button
	class="notification"
	id="notification__button"
	mat-button
	[matMenuTriggerFor]="notificationMenu"
	(menuOpened)="switchMenuStatus()"
	(menuClosed)="switchMenuStatus()"
>
	<mcy-icon
		aria-label="notificaciones icon"
		class="notification__icon"
		[ngClass]="{'notification__icon--focused': menuOpened === true,
				'notification__icon--normal': menuOpened === false}"
	>
		notificacao
	</mcy-icon>
	<span class="notification__number-wrapper" *ngIf="hasNotificationsUnread()">
		<span class="notification__number">
			<div class="notification__exceeded-number" *ngIf="getUnreadedNotifications() > 9"> 9 <div class="notification__plus-simbol">+</div></div>
			<div *ngIf="getUnreadedNotifications() <= 9"> {{getUnreadedNotifications()}}</div>
		</span>
	</span>
</button>
<mat-menu #notificationMenu="matMenu" xPosition="before">
	<div class="notification__menu">
		<div class="notification__menu-header">
			<span class="notification__menu-title">{{ 'components.header.notifications.title' | translate }}</span>
			<a [ngClass]="{
				'notification__menu-mark-as-read-link--active' : hasNotificationsUnread(),
				'notification__menu-mark-as-read-link--disabled': !hasNotificationsUnread()}"
				class="notification__menu-mark-as-read-link"
				(click)="hasNotificationsUnread() && markAllAsRead()"
				[id]="'notification__menu-mark-all-as-read'">
			{{ 'components.header.notifications.markAllAsRead' | translate }}
			</a>
		</div>
		<div  *ngFor="let item of notificationState.notifications | slice:0:maxNotificationsNum">
			<div class="notification__menu-list">
				<mcy-notification-item
					[notificationItem]="item"
					(click)="handleNotificationClick(item)"
					(handleDeleteAction)="onDelete($event)"
					(handleSetAsReadAction)="onSetAsReadAction($event)">
				</mcy-notification-item>
			</div>
		</div>
		<div class="notification__menu-all-notifications">
			<mcy-link
				[id]="'notification__menu-go-all-notifications'"
				*ngIf="notificationState.notifications.length > 3"
				(handleClick)="onGoToDetailsAction()">
				{{ 'components.header.notifications.viewAllNotifications' | translate }}
			</mcy-link>
		</div>
	</div>
</mat-menu>
