<div class="filter-services">
	<form [formGroup]="filterForm">
		<div class="filter-services__row">
			<div class="filter-services__search">
				<mcy-input
					[id]="'filter-services__search'"
					type="text"
					(handleChange)="filtersEmit()"
					[label]="'pages.payments.services.searchFieldLabel' | translate"
					[maxLength]="searchFieldLength"
					icon="busca_outline"
					formControlName="searchField">
				</mcy-input>
			</div>
			<div class="filter-services__start-date">
				<mcy-date
					[id]="'filter-services__start-date'"
					[label]="'pages.payments.services.startFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="startDate"
					[minDate]="minDate"
					[maxDate]="maxDate"
				></mcy-date>
			</div>
			<div class="filter-services__end-date">
				<mcy-date
					[id]="'filter-services__end-date'"
					[label]="'pages.payments.services.endFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="endDate"
					[minDate]="minDate"
					[maxDate]="maxDate"
				></mcy-date>
			</div>
		</div>
	</form>
</div>
