@import 'variablesNew';
@import 'mixins';

.empty-debts {
	display: flex;
	align-items: center;

	&__icon {
		font-size: 72px;
		color: $icon-color-secondary;
		margin-right: $spacing-XXL;
		background-color: $background-color-info-box;
		border-radius: 100%;
		padding: $spacing-XS;
		height: 104px;
		width: 104px;
	}

	&__text {
		color: $text-color-tertiary;
		font-size: $font-size-S;
		line-height: 1.7;
	}
}