@import 'variablesNew';
@import 'mixins';

.select-own-accounts-transfer {
	display: flex;
	height: 100%;
	padding: $spacing-M 0 0 $spacing-L;

	&__content {
		padding: $spacing-XXS $spacing-L $spacing-M $spacing-L;
		width: 100%;
	}

	&__title {
		@include font-primary-bold();
		margin: 0;
	}

	&__selects-container {
		padding-top: $spacing-L;
	}

	&__source-account-select {
		margin-bottom: $spacing-M;
	}

	&__destination-account-select {
		margin-bottom: $spacing-M;
	}
}
