<div class="select-own-accounts-transfer">
	<mcy-stepper-guidelines
		[nextGuideline]="true"
		icon="trconta_corrente_outline"
		[selected]="complete">
	</mcy-stepper-guidelines>
	<div class="select-own-accounts-transfer__content">
		<h3 class="select-own-accounts-transfer__title">
			{{ 'pages.transfers.ownAccount.accounts.subtitle' | translate }}
		</h3>
		<form [formGroup]="accountForm" class="select-own-accounts-transfer__selects-container">
			<div class="select-own-accounts-transfer__source-account-select">
				<mcy-account-select
					class="select-own-accounts-transfer__select"
					[id]="'select-own-accounts-transfer__source-account-select'"
					formControlName="sourceAccount"
					required="true"
					(handleChange)="changeAccount($event, 'sourceAccounts')"
					[balanceText]="'pages.transfers.ownAccount.accounts.balance' | translate"
					[label]="'pages.transfers.ownAccount.accounts.sourceAccount' | translate"
					[accounts]="sourceAccounts">
				</mcy-account-select>
			</div>
			<div class="select-own-accounts-transfer__destination-account-select">
				<mcy-account-select
					class="select-own-accounts-transfer__select"
					formControlName="destinationAccount"
					[id]="'select-own-accounts-transfer__destination-account-select'"
					required="true"
					(handleChange)="changeAccount($event, 'destinationAccounts')"
					[balanceText]="'pages.transfers.ownAccount.accounts.balance' | translate"
					[label]="'pages.transfers.ownAccount.accounts.destinationAccount' | translate"
					[accounts]="destinationAccounts">
				</mcy-account-select>
			</div>
		</form>
	</div>
</div>
