<div class="container">
  <form autocomplete="off" [formGroup]="professionalData">
    <div class="row">
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Occupation' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="occupations"
            placeholder="{{ '@Select Occupation' | translate }}"
            bindLabel="description"
            formControlName="occupation"
            (change)="occupationChanged($event)"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Function' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="roles"
            placeholder="{{ '@Select Function' | translate }}"
            bindLabel="description"
            formControlName="role"
            (change)="roleChanged($event)"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Profession' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="professions"
            placeholder="{{ '@Select Profession' | translate }}"
            bindLabel="description"
            formControlName="profession"
            (change)="professionChanged($event)"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Study Level' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="educationLevels"
            placeholder="{{ '@Select Study Level' | translate }}"
            bindLabel="description"
            formControlName="educationLevel"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Type of Company' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="enterpriseTypes"
            placeholder="{{ '@Select Type of Company' | translate }}"
            bindLabel="description"
            formControlName="enterpriseType"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Economic Sector' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="economicSectors"
            placeholder="{{ '@Select Economic Sector' | translate }}"
            bindLabel="description"
            formControlName="economicSector"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <app-form-field
          label="{{ '@Labor Activity AFIP' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="afipActivities"
            placeholder="{{ '@Select Labor Activity AFIP' | translate }}"
            bindLabel="description"
            formControlName="afipActivity"
            (change)="afipActivityChanged($event)"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm-4" *ngIf="afipDateActive">
        <app-form-field
          label="{{ '@Initial Month' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="afipMonths"
            placeholder="{{ '@Select Month' | translate }}"
            bindLabel="id"
            bindValue="id"
            formControlName="afipMonth"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm-4" *ngIf="afipDateActive">
        <app-form-field
          label="{{ '@Initial Year' | translate }}"
          [formSubmitted]="formSubmitAttempt"
          [errorMessages]="invalidAfipDateErrorMessages"
        >
          <ng-select
            [items]="afipYears"
            placeholder="{{ '@Select Year' | translate }}"
            formControlName="afipYear"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>
  </form>
</div>
