<div class="contact-add">
	<form [formGroup]="contactForm" class="contact-add__form">
		<div class="contact-add__main-section">
			<div class="contact-add__header">
				<span class="contact-add__header-title">
					{{ 'pages.contacts.addConfirmation.otherInformation' | translate }}
				</span>
			</div>
			<mcy-profile-image
				[size]="'medium'"
				[name]="contactForm.value.description"
				[favorite]="data.contact.favorite"
				[category]="contactForm.value.category"
				[showFavoriteTooltip]="true"
				(handleFavorite)="toggleFavorite()"
				class="contact-add__contact-image"
			></mcy-profile-image>
			<div class="contact-add__data-section">
				<div class="contact-add__column">
					<div class="contact-add__text-container">
						<mcy-input
							[validators]="descriptionValidators"
							[maxLength]="descriptionMaxlength"
							formControlName="description"
							[id]="'contact-add__data-name-input'">
						</mcy-input>
					</div>
				</div>

				<div class="contact-add__column">
					<div class="contact-add__text-container">
						<h3 class="contact-add__label">
							{{ 'pages.contacts.add.name' | translate }}
						</h3>
						<span class="contact-add__text">
							{{ data.contact.name }}
						</span>
					</div>
				</div>

				<div class="contact-add__column">
					<div class="contact-add__text-container">
						<h3 class="contact-add__label">
							{{ 'pages.contacts.add.cuilt' | translate }}
						</h3>
						<span class="contact-add__text">
							{{ data.contact.cuilt }}
						</span>
					</div>
					<div class="contact-add__text-container">
						<h3 class="contact-add__label">
							{{ 'pages.contacts.add.cbvu' | translate }}
						</h3>
						<span class="contact-add__text">
							{{ data.contact.cbvu }}
						</span>
					</div>
				</div>

				<div class="contact-add__column">
					<mcy-input
						class="contact-add__text-container"
						[validators]="emailValidators"
						formControlName="email"
						[label]="'pages.contacts.add.email' | translate"
						[id]="'contact-add__email-input'">
					</mcy-input>
					<mcy-select
						class="contact-add__text-container"
						[data]="categoryOptions"
						formControlName="category"
						[id]="'contact-add__type-select'">
					</mcy-select>
				</div>
			</div>
		</div>
	</form>
	<div class="contact-add__buttons-section">
		<div>
			<mcy-button
				class="contact-add__button"
				[color]="'tertiary'"
				(handleClick)="back()"
				[id]="'contact-add__back-button'">
				{{ 'pages.contacts.add.back' | translate }}
			</mcy-button>
		</div>
		<mcy-button
			class="contact-add__button"
			[disabled]="!contactForm.valid"
			[color]="'primary'"
			(handleClick)="next()"
			[id]="'contact-add__next-button'">
			{{ 'pages.contacts.add.next' | translate }}
		</mcy-button>
	</div>
</div>
