@import 'variablesNew';
@import 'mixins';

.contact-add {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;

	&__header {
		border-bottom: 1px solid $border-color-primary;
		width: 100%;
		padding-bottom: $spacing-L;
	}

	&__header-title {
		@include font-primary-semibold();
		padding: 0 0 0 $spacing-XXXS;
	}

	&__header-icon {
		@include font-primary-semibold();
		position: relative;
		top: 1px;
	}

	&__data-section {
		margin-top: $spacing-L;
	}

	&__contact-image {
		margin-top: $spacing-S;
		display: flex;
		justify-content: center;
	}

	&__text-container {
		margin-bottom: $spacing-M;
		flex: 1;
		padding-right: $spacing-S;

		&:last-child {
			padding-right: 0;
		}
	}

	&__column {
		display: flex;
	}

	&__label {
		@include font-primary-regular();
		color: $text-color-secondary;
		font-size: $font-size-XS;
		margin: 0 0 $spacing-XXXS;
		line-height: 1.54;
	}

	&__text {
		@include font-primary-regular();
		color: $text-color-primary;
		font-size: $font-size-S;
		line-height: 1.71;
		margin: 0 0 $spacing-XXXS;
	}

	&__buttons-section {
		display: flex;
		justify-content: space-between;
	}
}
