<div class="accounts-summaries">
	<div class="accounts-summaries__header ">
		<div class="accounts-summaries__column">
			<span class="accounts-summaries__text-detatil-account">
				Cuenta corriente (ARS)</span>
			<span class="accounts-summaries__special">
				{{data.account.number | mcyAccountNumber }}
			</span>
		</div>
		<div class="accounts-summaries__column">
			<span>CBU</span>
			<span class="accounts-summaries__special">{{data.account.cbvu}}</span>
		</div>
	</div>

	<div class="accounts-summaries__data" *ngFor="let statement of data.statements">
		<div class="accounts-summaries__row">
			<div class="accounts-summaries__item">
				<div class="accounts-summaries__icon-content">
					<mcy-icon class="accounts-summaries__icon-document">
						documento_outline
					</mcy-icon>
				</div>
				<span class="accounts-summaries__text-description-movement">
					{{formatDate(statement.date)}}
				</span>
			</div>
			<mcy-contextual-button prefixIcon="download_outline" (click)="download(statement)">
				{{ "pages.accounts.accountSumamry.download" | translate }}
			</mcy-contextual-button>
		</div>
	</div>
	<mcy-sidenav-footer>
		<div class="accounts-summaries__footer">
			<mcy-button
				color="primary"
				class="accounts-summaries__button"
				(click)="end()"
				>{{ "pages.accounts.balanceDetail.end" | translate }}</mcy-button
			>
		</div>
	</mcy-sidenav-footer>
</div>
