@import 'variablesNew';
@import 'mixins';

.enterprise-selector {
	&__icons-section {
		font-size: $font-size-XL;
	}

	&__arrow {
		color: $icon-color-normal;
		display: flex;
		justify-content: flex-end;
	}

	&__search {
		margin-bottom: $spacing-L;
	}

	&__title {
		@include font-primary-semibold();
		font-size: $font-size-M;
		line-height: 1;
	}

	&__text {
		@include font-primary-regular();
	}

	&__show-more {
		display: flex;
		justify-content: center;
		color: $text-color-link;
		padding-top: $spacing-M;
	}

	&__row {
		cursor: pointer;
	}
}
