<div class="transfer-filter-form" [formGroup]="form">
	<mcy-input
		(handleChange)="onInputChange()"
		[icon]="'busca_outline'"
		[label]="'pages.transfers.transferFilterForm.searchKeyword.label' | translate"
		[maxLength]="searchKeywordMaxLength"
		[type]="'text'"
		[validators]="searchKeywordValidators"
		[id]="'transfer-filter-form__search-keyword-input'"
		class="transfer-filter-form__search-keyword-input"
		formControlName="searchKeyword"
	></mcy-input>
	<mcy-select
		(handleChange)="onInputChange()"
		[data]="transferStatusOptions"
		[label]="'pages.transfers.transferFilterForm.transferStatus.label' | translate"
		[id]="'transfer-filter-form__transfer-status-input'"
		class="transfer-filter-form__transfer-status-input"
		formControlName="transferStatus"
	></mcy-select>
	<mcy-date
		(handleChange)="onInputChange()"
		[icon]="'calendario_outline'"
		[label]="'pages.transfers.transferFilterForm.transferExecutionDateFrom.label' | translate"
		[maxDate]="executionDateFromMax"
		[validators]="transferExecutionDateFromValidators"
		[id]="'transfer-filter-form__transfer-execution-date-from-input'"
		class="transfer-filter-form__transfer-execution-date-from-input"
		formControlName="transferExecutionDateFrom"
	></mcy-date>
	<mcy-date
		(handleChange)="onInputChange()"
		[icon]="'calendario_outline'"
		[label]="'pages.transfers.transferFilterForm.transferExecutionDateTo.label' | translate"
		[maxDate]="executionDateToMax"
		[minDate]="executionDateToMin"
		[validators]="transferExecutionDateToValidators"
		[id]="'transfer-filter-form__transfer-execution-date-to-input'"
		class="transfer-filter-form__transfer-execution-date-to-input"
		formControlName="transferExecutionDateTo"
	></mcy-date>
</div>
