@import "variablesNew";
@import "mixins";

.mcy-account-total-balances {
	display: flex;

	&__balance {
		padding: 0 $spacing-M 0 0;
	}

	&__label {
		@include font-primary-extrabold();
		padding: 0 $spacing-M 0 0;
		font-size: $font-size-L;
	}

	&__currency {
		@include font-primary-regular();
		font-size: $font-size-L;
	}

	&__amount {
		@include font-primary-regular();
		font-size: $font-size-L;
	}
}
