
@import 'variables';
@import 'mixins';

.checks-issued-filters {
	padding: $spacing-M $spacing-XL;
	&__row {
		height: 100px;
		display: flex;
		cursor: pointer;
	}

	&__search {
		flex: 3;
		padding-right: $spacing-L;
	}

	&__start-date {
		padding-right: $spacing-L;
		flex: 1;
	}

	&__states {
		padding-right: $spacing-L;
		flex: 1;
	}

	&__end-date {
		flex: 1;
	}
}