

<div class="login-page">
	<h1 class="login-page__title">{{ 'pages.login.title' | translate }}</h1>
	<form
		[formGroup]="loginForm"
		id="login-page__form"
		class="login-page__form">
		<div class="login-page__input">
			<mcy-input
				formControlName="user"
				label="{{'pages.login.user' | translate}}"
				[validators]="userValidators"
				[id]="'login-page__user-input'"
			>
			</mcy-input>
		</div>
		<div class="login-page__input">
			<mcy-input
				[type]="'password'"
				formControlName="password"
				label="{{ 'pages.login.password' | translate }}"
				[validators]="passwordValidators"
				[id]="'login-page__password-input'"
			>
			</mcy-input>
		</div>
		<div class="login-page__error" *ngIf="errorList.length">
			<p *ngFor="let errorMessage of errorList" class="login-page__error-mesage">{{ errorMessage }}</p>
		</div>
		<div class="login-page__form-action">
			<mcy-button
				[disabled]="!loginForm.valid"
				(handleClick)="submitForm()"
				[id]="'login-page__submit-button'"
			>
				{{ 'pages.login.signIn' | translate }}
			</mcy-button>
		</div>
	</form>
</div>
