@import 'variablesNew';
@import 'mixins';

.login-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include font-primary-light();
		font-size: $font-size-XXXL;
		margin: 120px 0 $spacing-L;
	}

	&__form {
		width: 324px;
	}

	&__form-action {
		display: flex;
		justify-content: flex-end;
	}

	&__input {
		margin-bottom: $spacing-XXS;
	}

	&__error-mesage {
		@include font-primary-regular();
		margin: 0;
		color: $text-color-error;
		font-size: $font-size-XXS;
		line-height: 1.2;
	}

	&__error {
		margin-bottom: $spacing-S;
	}
}
