<div fxLayout="row" fxLayoutAlign="center center">
  <h2 class="mainTitle">Producto</h2>
</div>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Seleccione la empresa</ng-template>
      <div fxLayout="column">
        <app-autocomplete [optionsAutocomplete]="companiesList" [defaultMessage]="'No hay empresas encontradas'" [autocompleteData]="autocompleteData"
          [optionsLoading]="loadingCompanies" (searchValues)="searchValues($event)" (patchValue)="patchValue($event)"></app-autocomplete>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Datos del producto</ng-template>
      <div fxLayout="row" fxLayout.lt-sm="column" class="form__content" fxLayoutAlign="center center">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" placeholder="Nombre">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select placeholder="Categoria" formControlName="category" [compareWith]="compareFn">
                <mat-option *ngIf="productCategoriesList.length === 0">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <p>No hay categorias disponibles para la empresa seleccionada</p>
                  </div>
                </mat-option>
                <mat-option *ngFor="let productCategory of productCategoriesList" [value]="productCategory._id">
                  {{productCategory.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Precio</mat-label>
              <input matInput formControlName="price" placeholder="Precio">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Tipo</mat-label>
              <mat-select placeholder="Tipo" formControlName="type" [compareWith]="compareFn">
                <mat-option *ngIf="productTypesList.length === 0">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <p>No hay tipos disponibles</p>
                  </div>
                </mat-option>
                <mat-option *ngFor="let type of productTypesList" [value]="type._id">
                  {{type.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Marca</mat-label>
              <mat-select placeholder="Marca" formControlName="brand" [compareWith]="compareFn">
                <mat-option *ngIf="brandsList.length === 0">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <p>No hay marcas disponibles para la empresa seleccionada</p>
                  </div>
                </mat-option>
                <mat-option *ngFor="let brand of brandsList" [value]="brand._id">
                  {{brand.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Unidad de medida</mat-label>
              <mat-select placeholder="Unidad de medida" formControlName="unit">
                <mat-option *ngFor="let unit of unitsList" [value]="unit">
                  {{unit}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Características del producto</ng-template>
      <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext (click)="buttonActionProduct()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Hecho</ng-template>
    <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
      <button mat-flat-button color="primary" matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>