@import 'variables';
@import 'mixins';

.service-payment-history {
    &__buttons {
        display: flex;
    }
    &__button {
        padding-right: $spacing-L;
    }

    &__icon {
        margin-right: $spacing-S;
        font-size: 24px;
    }
    &__icon {
        margin-right: $spacing-S;
        font-size: 24px;
    }

    &__icon-search {
        cursor: pointer;
        color: $icon-color-tertiary;
        margin-right: $spacing-S;
        font-size: 24px;
    }

    &__box-title {
        padding: $spacing-M $spacing-XL;
        margin-top: $spacing-M;
        margin-bottom: $spacing-M;

    }
    &__sub-box-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @include font-primary-regular();
		color: $text-color-disabled;
		font-size: $font-size-L;
    }
    &__sub-title {
        @include font-primary-regular();
		font-size: $font-size-M;
    }

    &__total-services-soon-expired {
        @include font-primary-semibold();
		color:$text-color-octanary;
        font-size: $font-size-XL;
        margin-right: $spacing-S;
    }

    &__box-sub-title {
       margin-bottom: $spacing-XS;
    }

    &__more-button-container {
		display: flex;
		justify-content: center;
	}
}