<div class="container">
  <div class="row pt-5 pb-3">
    <div class="col-sm">
      <h1 class="section-header__title">
        {{ '@Data of Owner' | translate }}
      </h1>
    </div>
    <div class="col-sm section-header__message">
      <p>
        {{ '@All fields marked with' | translate }}&nbsp;<i
          class="fas fa-asterisk"
        ></i
        >&nbsp;{{ '@Are obligatory' | translate }}
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <ngb-accordion
      #accordion="ngbAccordion"
      [destroyOnHide]="false"
      activeIds="personalDataPanel, contactDataPanel, professionalDataPanel"
    >
      <ngb-panel id="personalDataPanel">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
            <div class="container">
              <h4 class="m-0">{{ '@Personal Data' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-personal
            [customer]="personalDataInput"
            [isOwner]="true"
            [isMarriedWithCoOwner]="isMarriedWithCoOwner"
            [isPyme]="isPyme"
            [title]="title"
            [formSubmitAttempt]="formSubmitAttempt"
            [personalDocumentTypes]="personalDocumentTypes"
            [genders]="genders"
            [countries]="countries"
            [maritalStatusList]="maritalStatusList"
            [ivaCategories]="ivaCategories"
            [iibbCategories]="iibbCategories"
            [workDocumentTypes]="workDocumentTypes"
            [errors]="personalErrors"
            (personalComponentOutput)="loadChildComponentData($event)"
          >
          </app-personal>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="contactDataPanel">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
            <div class="container">
              <h4 class="m-0">{{ '@Contact Data' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-contact
            [customer]="contactDataInput"
            [isMarriedWithCoOwner]="isMarriedWithCoOwner"
            [isOwner]="isOwner"
            [states]="states"
            [localities]="localities"
            [mobileProviders]="mobileProviders"
            [normalizedAddress]="normalizedAddress"
            [formSubmitAttempt]="formSubmitAttempt"
            [cellPhoneIsBlacklisted]="cellPhoneIsBlacklisted"
            (contactComponentOutput)="loadChildComponentData($event)"
            (fetchLocalities)="loadLocalities($event)"
            (fetchNormalizedAddress)="normalizeAddress($event)"
            (cellPhoneBlacklistNumber)="checkCellPhoneBlacklist($event)"
          ></app-contact>
          <!--  -->
        </ng-template>
      </ngb-panel>

      <ngb-panel id="professionalDataPanel">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
            <div class="container">
              <h4 class="m-0">{{ '@Professional Data' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-professional
            [customer]="professionalDataInput"
            [formSubmitAttempt]="formSubmitAttempt"
            [occupations]="occupations"
            [roles]="roles"
            [professions]="professions"
            [enterpriseTypes]="enterpriseTypes"
            [economicSectors]="economicSectors"
            [educationLevels]="educationLevels"
            [afipActivities]="afipActivities"
            [afipMonths]="afipMonths"
            [afipYears]="afipYears"
            [depRel]="depRel"
            [isOwner]="true"
            [isMarriedWithCoOwner]="isMarriedWithCoOwner"
            [errors]="professionalErrors"
            (professionalComponentOutput)="loadChildComponentData($event)"
            (fetchRoles)="loadRoles($event)"
            (fetchProfessionsEconomicSectorsAndEnterpriseTypes)="
              loadProfessionsEconomicSectorsAndEnterpriseTypes($event)
            "
            (fetchEducationLevels)="loadEducationLevels($event)"
          ></app-professional>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<div class="container">
  <div class="row form-actions">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary btn-lg rounded-pill"
        (click)="submit()"
      >
        <span class="d-none d-sm-inline-block">{{
          '@Continue' | translate
        }}</span
        ><i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
