
<mcy-page-layout
	[back]="'pages.enterpriseDetails.backTo' | translate"
	(handleBack)="onBack()"
	[title]="enterprise.name"
	>
	<div body class="enterprise-details">
		<h4 class="enterprise-details__enterprise-cuit">{{ 'pages.enterpriseDetails.enterpriseId' | translate: { value: enterprise.cuilt } }}</h4>

		<span class="enterprise-details__users-found-count">
			{{ enterprise.users.length}}
		</span> 
		<span class="enterprise-details__users-found-label">{{ 'pages.enterpriseDetails.users' | translate }}</span>

		<table
			*ngIf="enterpriseUsers.length > 0"
			mat-table
			class="enterprise-details__users-table"
			id="enterprise-details__users-table"
			[dataSource]="usersTableSource">
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>
					{{ 'pages.enterpriseDetails.usersTable.name' | translate }}
				</th>
				<td mat-cell *matCellDef="let user">
					{{ user.firstName}} {{ user.lastName }}
				</td>
			</ng-container>
			<ng-container matColumnDef="document">
				<th mat-header-cell *matHeaderCellDef>
					{{ 'pages.enterpriseDetails.usersTable.document' | translate }}
				</th>
				<td mat-cell *matCellDef="let user">
					{{ user.documentNumber}}
				</td>
			</ng-container>
			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef>
					{{ 'pages.enterpriseDetails.usersTable.role' | translate }}
				</th>
				<td mat-cell *matCellDef="let user">
					{{ 'pages.enterpriseDetails.usersTable.userRole.' + user.enterpriseRole | translate }}
				</td>
			</ng-container>
			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let user; let cellIndex = index">
					<div class="enterprise-details__actions">
						<mcy-icon-button
							[id]="'enterprise-details__button-' + cellIndex"
							class="enterprise-details__icon-actions"
							(handleClick)="goToUserDetail(user)"
						>
							seta_direita
						</mcy-icon-button>
					</div>
				</td>
			</ng-container>
			<tr
				mat-header-row
				*matHeaderRowDef="displayedColumns"
			>
			<tr
				mat-row
				*matRowDef="let row; columns: displayedColumns;"
			>
			</tr>
		</table>
		<mcy-contextual-button
			[id]="'enterprise-details__show-more-button'"
			class="enterprise-details__show-more"
			*ngIf="totalEnterpriseUsers > itemsPerPage"
			(handleClick)="showMoreUsers()"
			[sufixIcon]="'seta_baixo'"
		>
		{{ 'pages.enterpriseDetails.showMore' | translate }}
		</mcy-contextual-button>
	</div>
</mcy-page-layout>
