<div class="container">
  <form autocomplete="off" [formGroup]="contactData">
    <div formGroupName="address">
      <div class="row">
        <div class="col-md-6">
          <app-form-field
            label="{{ '@Province' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              [items]="states"
              placeholder="{{ '@Select Province' | translate }}"
              bindLabel="description"
              formControlName="state"
              (change)="stateChange($event)"
            >
            </ng-select>
          </app-form-field>
        </div>
        <div class="col-md-6">
          <app-form-field
            label="{{ '@Location' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              [items]="localities"
              bindLabel="description"
              formControlName="locality"
              placeholder="{{ '@Select Location' | translate }}"
              (change)="localityChange($event)"
            >
            </ng-select>
          </app-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-xl-6">
          <app-form-field
            label="{{ '@Street' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <input
              #streetInput
              type="text"
              class="form-control"
              formControlName="street"
              placeholder="{{ '@Enter Street' | translate }}"
              maxlength="50"
              (input)="streetChange()"
              appStreetMask
            />
          </app-form-field>
        </div>
        <div class="col-lg-7 col-xl-6">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <app-form-field
                label="{{ '@Number' | translate }}"
                [formSubmitted]="formSubmitAttempt"
              >
                <input
                  type="text"
                  class="form-control"
                  formControlName="number"
                  placeholder="{{ '@Enter Number' | translate }}"
                  maxlength="5"
                  (blur)="updateAddress()"
                  appOnlyNumbersMask
                />
              </app-form-field>
            </div>
            <div class="col-lg-3 col-sm-6">
              <app-form-field
                label="{{ '@Floor' | translate }}"
                [formSubmitted]="formSubmitAttempt"
              >
                <input
                  #floorInput
                  type="text"
                  class="form-control"
                  formControlName="floor"
                  placeholder="{{ '@Enter Floor' | translate }}"
                  maxlength="3"
                  appOnlyAlphanumericMask
                />
              </app-form-field>
            </div>
            <div class="col-lg-3 col-sm-6">
              <app-form-field
                label="{{ '@Department' | translate }}"
                [formSubmitted]="formSubmitAttempt"
              >
                <input
                  #apartmentInput
                  type="text"
                  class="form-control"
                  formControlName="apartment"
                  placeholder="{{ '@Enter Department' | translate }}"
                  maxlength="3"
                  appOnlyAlphanumericMask
                />
              </app-form-field>
            </div>
            <div class="col-lg-3 col-sm-6">
              <app-form-field
                label="{{ '@Postal Code' | translate }}"
                [formSubmitted]="formSubmitAttempt"
              >
                <input
                  #postalCodeInput
                  type="text"
                  class="form-control"
                  formControlName="postalCode"
                  placeholder="{{ '@Enter Postal Code' | translate }}"
                  maxlength="4"
                  appOnlyNumbersMask
                />
              </app-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="cellPhone">
      <div class="row">
        <div class="col-md-2">
          <app-form-field
            label="{{ '@Area Code' | translate }}"
            [formSubmitted]="formSubmitAttempt"
            tooltip="Sin el 0."
          >
            <input
              type="text"
              class="form-control"
              formControlName="areaCode"
              placeholder="{{ '@Entre Area Code' | translate }}"
              maxlength="4"
              (blur)="cellPhoneChanged()"
              appOnlyNumbersMask
            />
          </app-form-field>
        </div>
        <div class="col">
          <app-form-field
            label="{{ '@Cellphone Number' | translate }}"
            [formSubmitted]="formSubmitAttempt"
            [errorMessages]="invalidNumber"
            tooltip="Sin el 0 y sin el 15."
          >
            <input
              type="text"
              class="form-control"
              formControlName="number"
              placeholder="{{ '@Enter Cellphone Number' | translate }}"
              maxlength="8"
              (blur)="cellPhoneChanged()"
              appOnlyNumbersMask
            />
          </app-form-field>
        </div>
        <div class="col-md-6">
          <app-form-field
            label="{{ '@Cellphone Provider' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              [items]="mobileProviders"
              bindLabel="description"
              formControlName="provider"
              placeholder="{{ '@Select Cellphone Provider' | translate }}"
            >
            </ng-select>
          </app-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-form-field
          label="{{ '@Email Address' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <input
            #emailInput
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="{{ '@Enter Email Address' | translate }}"
            appEmailMask
          />
        </app-form-field>
      </div>
    </div>
  </form>
</div>
