@import 'variablesNew';
@import 'mixins';

.check-service-error {
	background: $background-color-info-box;
	height: 80px;
	display: flex;
	align-items: center;
	margin: $spacing-XS $spacing-XL;
	border-radius: $spacing-XXXS;

	&__icon {
		margin: $spacing-XS;
		font-size: $font-size-XXXL;
	}

	&__message-box {
		@include font-primary-italic();
		color: $text-color-checks-service-error;
		font-size: $font-size-M;
		display: flex;
		align-items: center;
	}
}