@import 'variablesNew';
@import 'mixins';

.enterprise-button {

	&__menu {
		padding: $spacing-S;
		min-width: 280px;
	}

	&__menu-subtitle {
		@include font-primary-regular();
		font-size: $font-size-M;
		color: $text-color-secondary;
	}

	&__selected-enterprise {
		padding: $spacing-S 0 0 0;
		display: flex;
	}

	&__enterprise-icon {
		color: $icon-color-spinner;
		font-size: 24px;
	}

	&__enterprise-details {
		display: flex;
		padding: 0 0 0 $spacing-S;
		flex-direction: column;
	}

	&__selected-enterprise-title {
		@include font-primary-bold();
		font-size: $font-size-L;
	}

	&__selected-enterprise-subtitle {
		@include font-primary-regular();
		font-size: $font-size-M;
		padding: $spacing-XXXS 0 0 0;
		color: $text-color-secondary;
	}

	&__selected-enterprise-details {
		display: flex;
		padding: 0 0 0 $spacing-S;
		flex-direction: column;
	}

	&__selected-enterprise-view-details {
		padding: $spacing-XXXS 0 $spacing-S 0;
	}

	&__other-enterprises-subtitle {
		@include font-primary-regular();
		font-size: $font-size-M;
		display: block;
		padding: $spacing-S 0 0 0;
		color: $text-color-secondary;
	}

	&__other-enterprise-icon {
		color: $icon-color-spinner;
		font-size: 24px;
	}

	&__other-enterprise {
		cursor: pointer;
		display: flex;
		padding: $spacing-S 0 $spacing-XXXS 0;
	}

	&__all-enterprise-details {
		padding: $spacing-S 0 0 0;
		display: flex;
		justify-content: center;
	}

}
