@import 'scss/colors';
@import 'scss/fonts';

.viewer-header {
  padding: 0 1rem;
  height: 4rem;
  background: $santander-secondary-dark;

  &__info {
    color: $white;
    margin-bottom: 0;
  }

  &__date {
    opacity: 0.5;
    margin-left: 1rem;
  }

  &__button {
    i {
      margin-left: 0.5rem;
    }

    &:first-child {
      margin-right: 0.5rem;
    }
  }
}
