<div class="row d-flex align-items-center viewer-header">
  <div class="col">
    <p class="viewer-header__info" ngbAutofocus>
      {{ title }}
      <span class="viewer-header__date" *ngIf="lastUpdate">
        Actualizado el {{ lastUpdate }}</span
      >
    </p>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-outline-light rounded-pill viewer-header__button"
      *ngIf="canDownload"
      (click)="downloadFile(documentInfo.pageNumber)"
    >
      Descargar<i class="fas fa-download"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-light rounded-pill viewer-header__button"
      (click)="closeModal()"
    >
      Guardar y cerrar<i class="fas fa-check"></i>
    </button>
  </div>
</div>
