<div class="notification-item" [ngClass]="{'notification-item--box-shadow': isDetailNotifitacion}">
	<div class="notification-item__icon-section">
		<mcy-badge-icon 
			[iconSize]="'24px'" 
			[type]="'notification'">
			{{getIcon()}}
		</mcy-badge-icon>
		<div *ngIf="!notificationItem.readStatus" class="notification-item__unread-indicator"></div>	
	</div>
	<div class="notification-item__text-section">
		<span [ngClass]="{
			'notification-item__date--readed': notificationItem.readStatus,
			'notification-item__date--unread': !notificationItem.readStatus
			}"
			class="notification-item__date"
			*ngIf="!isDetailNotifitacion">{{checkDate(notificationItem.createDate)}}
		</span>
		<span [ngClass]="{
			'notification-item__title--readed': notificationItem.readStatus,
			'notification-item__title--unread': !notificationItem.readStatus
			}"
		class="notification-item__title">{{notificationItem.title}}
		</span>
		<span [ngClass]="{
			'notification-item__subtitle--readed': notificationItem.readStatus,
			'notification-item__subtitle--unread': !notificationItem.readStatus
			}"
			class="notification-item__subtitle">{{notificationItem.message}}
		</span>
	</div>
	<div class="notification-item__actions-section">
		<a 
			*ngIf="isDetailNotifitacion"
			(click)="onGoToSectionAction()"
			class="notification-item__more-details">
			{{ 'components.header.notifications.moreDetail' | translate }}
		</a>
		<mcy-icon-button 
			*ngIf="!notificationItem.readStatus" 
			class="notification-item__icon-button" 
			[id]="'notification-item-read-button'" 
			(handleClick)="onSetAsReadAction($event)"
			tooltip="{{ 'components.header.notifications.tooltipSetAsRead' | translate }}"
		>check
		</mcy-icon-button>
		<mcy-icon-button 
			class="notification-item__icon-button" 
			[id]="'notification-item-delete-button'" 
			(handleClick)="onDeleteAction($event)"
			tooltip="{{ 'components.header.notifications.tooltipDelete' | translate }}"
		>excluir_outline
		</mcy-icon-button>
	</div>
</div>
