@import 'variablesNew';
@import 'mixins';

.request-checkbooks-success {
	display: flex;
	flex-direction: column;

	&__box-icon-status {
		margin-top: 100px;
		display: flex;
		margin-left: 40%;
	}

	&__box-sub-title {
		justify-content: center;
		display: flex;
		margin-top:$spacing-M;
	}

	&__sub-title {
		@include font-primary-extrabold();
		font-size: $font-size-XXL;
		color: $text-color-primary;
	}

	&__box-request-number {
		display: flex;
		justify-content: center;
	}

	&__request-number {
		@include font-primary-regular();
		margin-top: $spacing-XXS;
		font-size: $font-size-L;
		color: $text-color-tertiary;
	}

	&__box-central-message {
		margin-top: $spacing-M;
		display: flex;
		justify-content: center;
	}

	&__central-message {
		@include font-primary-regular();
		text-align: center;
		font-size: $font-size-L;
		color: $text-color-tertiary;
	}

	&__see-detail {
		margin-top: $spacing-L;
		display: flex;
		justify-content: center;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
	}
}