<div class="service">
	<div class="service__header-buttons">
		<mcy-button
			[id]="'service__payment-history'"
			class="service__button"
			(handleClick)="goToServicePaymentHistory()"
			color="secondary">
			<mcy-icon class="service__icon">relogio_outline</mcy-icon>
			{{ 'pages.payments.paymentHistory' | translate }}
		</mcy-button>
		<mcy-button
			*ngIf="hasWritePermission"
			[id]="'service__pay-new-service'"
			class="service__button"
			color="primary"
			(handleClick)="newPay()">
			{{ 'pages.payments.payNewService' | translate }}
		</mcy-button>
	</div>
	<mcy-service-requests-list></mcy-service-requests-list>
	<div class="service__box-title">
		<div class="service__box-sub-title">
			<div>
				<span class="service__total-services-soon-expired">
					{{totalServicesSoonExpired}}
				</span>
				<span class="service__title">
					{{ 'pages.payments.services.totalDebtsSoonExpired' | translate }}
				</span>
			</div>
			<mcy-icon
				[id]="'service__icon-search'"
				class="service__icon-search"
				(click)="showFilters();">
				busca
			</mcy-icon>
		</div>
		<div>
			<span class="service__sub-title"
				>{{ 'pages.payments.services.subTitleDebtsSoonExpired' | translate
				}}</span
			>
		</div>
	</div>
	<div *ngIf="visibleFilters">
		<mcy-service-debts-filters (sendFilters)="filterData($event)">
		</mcy-service-debts-filters>
	</div>
	<div class="service__error"
		*ngIf="serviceDebtsState.hasServiceDebtsErrors && !serviceDebtsState.loading">
		<mcy-loading-data-error
			[displayRetry]="true"
			(handleOnRetry)="onSubmitDebts()"
		></mcy-loading-data-error>
	</div>
	<mcy-service-debts-list
		*ngIf="!serviceDebtsState.hasServiceDebtsErrors && !serviceDebtsState.loading"
		[serviceDebts]="paginatedDebtsList"
		[emptyMessage]="emptyMessage"
		(handlePayClick)="payServiceDebt($event)">
	</mcy-service-debts-list>
	<div *ngIf="serviceDebtsState.loading"
		class="service__loading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>
	<div class="service__more-button-container">
		<mcy-contextual-button
			[id]="'service__change-pagination'"
			sufixIcon="seta_baixo"
			(handleClick)="changePagination()"
			*ngIf="filteredDebtsList.length > paginatedDebtsList.length">
			{{'pages.payments.debtsList.more' | translate}}
		</mcy-contextual-button>
	</div>
</div>
