@import 'variablesNew';
@import 'mixins';

.header {
	height: 80px;
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	padding: $spacing-M $spacing-XL;
	border-bottom: 1px solid $border-color-secondary;
	z-index: $z-index-front;
	background-color: $background-color-application;

	&__info {
		display: flex;
		align-items: center;
	}

	&__logo-container {
		display: flex;
		align-items: center;
	}

	&__profile {
		display: flex;
		flex: 1;
		height: 80px;
		padding: 0 $spacing-XXXS 0 $spacing-S;
		border-left: 1px solid $border-color-secondary;
		justify-content: flex-end;
		align-items: center;
	}

	&__check-logs-button {
		@include font-primary-bold();
		margin: 0 $spacing-S;
	}

	&__profile-image {
		margin-left: $spacing-XS;
		cursor: pointer;
	}

}
