<div class="document-viewer-container" *ngIf="opened">
  <div fxLayout="column" class="document-viewer-content">
    <app-document-viewer-header
      [title]="title"
      (closeDocumentViewerEvent)="closeDocumentViewer($event)"
    ></app-document-viewer-header>
    <div fxFlex>
      <div fxLayout="row" style="height: 100%;">
        <app-document-viewer-pages
          [thumbnailList]="thumbnailList"
          [currentPage]="currentPage"
          (setCurrentPage)="setCurrentPage($event)"
        ></app-document-viewer-pages>
        <div fxFlex style="position: relative;">
          <app-document-viewer-canvas></app-document-viewer-canvas>
          <app-document-viewer-canvas-buttons
            [currentPage]="currentPage"
            [totalPages]="thumbnailList?.length || 0"
            (onZoomIn)="zoomIn()"
            (onZoomOut)="zoomOut()"
          ></app-document-viewer-canvas-buttons>
        </div>
      </div>
    </div>
  </div>
</div>
