
<div class="salary-payment-success">
	<mcy-primary-page-layout
		[title]="state?.title"
		[back]="'pages.payments.salary.salaryPayment' | translate"
		(handleBack)="newPayment()"	>
		<div class="salary-payment-success__panel" body>
			<mcy-primary-panel-layout>
				<div class="salary-payment-success__body" body>
					<mcy-icon class="{{state?.class}}">{{state?.icon}}</mcy-icon>
						<div class="salary-payment-success__content">
						<div class="salary-payment-success__receipt">
							<span class="salary-payment-success__receipt-label">
								{{state?.descriptionReciept}}
							</span>
							<span class="salary-payment-success__receipt-value" >
								{{lastSalaryPayment?.id}}
							</span>
						</div>

						<div class="salary-payment-success__detail-row">
							<div class="salary-payment-success__detail">
								<span class="salary-payment-success__detail-label">
									{{'common.contact' | translate}}
								</span>
								<span class="salary-payment-success__detail-value">
									{{ content.destinationHolder }}
								</span>
							</div>
							<div class="salary-payment-success__detail">
								<span class="salary-payment-success__detail-label">
									{{ 'pages.payments.salary.success.cbu' | translate }}
								</span>
								<span class="salary-payment-success__detail-value">
									{{ content.destinationCbvu }}
								</span>
							</div>
						</div>

						<div class="salary-payment-success__detail-row">
							<div class="salary-payment-success__detail">
								<span class="salary-payment-success__detail-label">
									{{'common.amount' | translate}}
								</span>
								<span class="salary-payment-success__detail-value">
									{{ lastSalaryPayment?.currency.symbol }} {{ lastSalaryPayment?.amount | mcyAmount }}
								</span>
							</div>
							<div class="salary-payment-success__detail">
								<span class="salary-payment-success__detail-label">
									{{ 'pages.payments.salary.success.paymentDescription' | translate }}
								</span>
								<span class="salary-payment-success__concept">
									{{ salaryPayment.description }}
								</span>
							</div>
						</div>
						<div class="salary-payment-success__detail-row" *ngIf="lastSalaryPayment?.scheduledDate">
							<div class="salary-payment-success__detail">
								<span class="salary-payment-success__detail-label">
									{{ 'pages.payments.salary.success.scheduledDate' | translate }}
								</span>
								<span class="salary-payment-success__detail-value">
									{{ formattedDate(lastSalaryPayment?.scheduledDate) }}
								</span>
							</div>
						</div>
						<div class="salary-payment-success__actions">
							<div class="salary-payment-success__action">
								<mcy-contextual-button
									[id]="'salary-payment-success__action'"
									[prefixIcon]="state?.iconButtonSecundary"
									(handleClick)="state.allowDownload ? downloadReceipt(): detailRequest()">
									{{ state?.textButtonSecundary }}
								</mcy-contextual-button>
							</div>
						</div>
					</div>
				</div>
				<div footer>
					<mcy-button
						[id]="'salary-payment-success__new-salary-payment'"
						class="salary-payment-success__action-button"
						color="secondary"
						(handleClick)="newPayment()">
						{{ 'pages.payments.payNewSalary' | translate }}
					</mcy-button>
					<mcy-button
						[id]="'salary-payment-success__end-salary-payment'"
						class="salary-payment-success__action-button"
						color="primary"
						(handleClick)="endPayment()">
						{{ 'common.end' | translate }}
					</mcy-button>
				</div>
				<div class="salary-payment-success__side-box" description>
					<mcy-new-contact-box
						*ngIf="(isContactInContactList(destinationContact) | async) === false"
						[name]="salaryPayment?.contact?.name"
						(handleClick)="openAddContact()"
					>
					</mcy-new-contact-box>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
