@import 'variablesNew';

.account-select {
	display: flex;
	flex-direction: column;
	&__option {
		display: flex;
		justify-content: space-between;
	}
	&__selected-amount {
		color: $text-color-tertiary;
		font-size: $font-size-XXS;
		position: relative;
		bottom: 12px;
	}

	&__required {
		color: $icon-color-brand;
	}

	&__icon {
		font-size: 24px;
		margin-left: $spacing-XS;
	}
}
