@import 'variablesNew';
@import 'mixins';

.edit-alias-confirm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;

	&__main-text {
		@include font-primary-light();
		margin: 0;
		font-size: $font-size-XL;
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__icon {
		font-size: 36px;
		color: $icon-color-primary;
	}

	&__success {
		background-color: $background-color-tooltip-success;
		border-radius: $radius-circle;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		width: 60px;
		margin: $spacing-L;
	}

	&__title {
		@include font-primary-regular();
		font-size: $font-size-XS;
		color: $text-color-secondary;
		line-height: 1.5;
	}

	&__text {
		@include font-primary-light();
		line-height: 1.5;
		font-size: $font-size-L;
		margin-bottom: $spacing-XS;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
