<div class="edit-alias-confirm">
	<p class="edit-alias-confirm__main-text">{{ 'pages.accounts.editAlias.confimMessage' | translate }}</p>
	<div class="edit-alias-confirm__success">
		<mcy-icon class="edit-alias-confirm__icon">check</mcy-icon>
	</div>
	<div>
		<div class="edit-alias-confirm__column">
			<span class="edit-alias-confirm__title">{{getAccountTypeTranslate()}} ({{data.account.currency.symbol}})</span>
			<span class="edit-alias-confirm__text">{{data.account.number | mcyAccountNumber}}</span>
		</div>
		<div class="edit-alias-confirm__column">
			<span class="edit-alias-confirm__title">{{
				'pages.accounts.editAlias.cbu' | translate
			}}</span>
			<span class="edit-alias-confirm__text">{{data.aliasResponse.cbvu}}</span>
		</div>
		<div class="edit-alias-confirm__column">
			<span class="edit-alias-confirm__title">{{
				'pages.accounts.editAlias.newAlias' | translate
			}}</span>
			<span class="edit-alias-confirm__text">{{data.aliasResponse.assignedAlias}}</span>
		</div>
	</div>
	<mcy-sidenav-footer>
		<div class="edit-alias-confirm__footer">
			<mcy-button
				color="primary"
				(click)="close()"
				>{{ 'pages.accounts.editAlias.end' | translate }}</mcy-button
			>
		</div>
	</mcy-sidenav-footer>
</div>
