<div class="modalFondo">
  <div class="modalContainer">
    <div *ngIf="modalData.number === 1" fxLayout="row" fxLayoutAlign="space-between center" style="height: 48px;">
      <button mat-icon-button color="primary" (click)="tableService.closeModal.emit()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <span style="margin-right: 10px;">{{modalData.question}}</span>
      <button mat-flat-button color="primary" (click)="modalSuccesActions()">{{modalData.successButtonText}}</button>
      <button mat-flat-button color="primary" (click)="tableService.closeModal.emit()">{{modalData.cancelButtonText}}</button>
      <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
    <div *ngIf="modalData.number === 2">
      <div fxLayout="row" fxLayoutAlign="center center" style="height: 48px;">
        <button mat-icon-button color="primary" (click)="tableService.closeModal.emit()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <div *ngFor="let button of modalData.buttons" (click)="buttonActions(button)">
          <div fxLayout="column" *ngIf="visibleButton(button)" fxLayoutAlign="space-between center" class="buttons" [ngClass]="{'selectButton': buttonSelected === button.label}">
            <button mat-icon-button matTooltip="{{button.label}}">
              <mat-icon [ngStyle]="color(button)">{{button.icon}}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>