@import 'variablesNew';
@import 'mixins';

.users-tab {
	margin: $spacing-M 0;

	&__header {
		margin: 0 0 $spacing-S;
	}

	&__search-form {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__search-form-input {
		padding: $spacing-XXS 0 0 0;
		width: 100%;
	}

	&__search-form-button {
		padding: 0 0 0 $spacing-XS;
	}

	&__empty-search-label {
		@include font-primary-regular;
		font-size: $font-size-S;
	}

	&__show-more {
		display: flex;
		justify-content: center;
		margin: $spacing-M;
	}

	&__search-number {
		@include font-primary-light();
		color: $text-color-primary;
		font-size: $font-size-XXL;
	}

	&__search-label {
		@include font-primary-light();
		font-size: $font-size-L;
		color: $text-color-secondary;
	}

	&__icon {
		color: $icon-color-spinner;
		font-size: 24px;
	}

	&__icons-section {
		text-align: end;
	}

	&__search-form-input {
		margin: 0 0 $spacing-M;
	}

	&__spinner-container {
		display: flex;
		justify-content: center;
		margin: $spacing-M;
	}

	&__row {
		cursor: pointer;
	}
}
