<div class="accounts-movements-list">
	<div *ngIf="loading" class="accounts-movements-list__loading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>
	<mcy-no-data-message *ngIf="!loading && !accountMovements.length" [message]="'pages.accounts.accountMovementsList.emptyAccountMovementsMessage' | translate"></mcy-no-data-message>
	<table *ngIf="!loading && accountMovements.length" mat-table [dataSource]="accountMovements" class="mat-elevation-z8 accounts-movements-list__table"
		id="accounts-movements-list__table">

		<ng-container matColumnDef="accountingDate">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.accounts.accountMovementsList.accountingDate' | translate}}
			</th>
			<td mat-cell *matCellDef="let accountMovement">
				{{formatDate(accountMovement.accountingDate) || '--'}}
			</td>
        </ng-container>

		<ng-container matColumnDef="descripton">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.accounts.accountMovementsList.description' | translate}}
			</th>
			<td mat-cell *matCellDef="let accountMovement">
				{{accountMovement.description || '--'}}
			</td>
		</ng-container>

		<ng-container matColumnDef="amount">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.accounts.accountMovementsList.amount' | translate}}
			</th>
			<td mat-cell *matCellDef="let accountMovement">
				{{account.currency.symbol}} {{accountMovement.amount || '--' | mcyAmount}}
			</td>
		</ng-container>

		<ng-container matColumnDef="balance">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.accounts.accountMovementsList.balance' | translate}}
			</th>
			<td mat-cell *matCellDef="let accountMovement">
				{{account.currency.symbol}} {{accountMovement.balance || '--' | mcyAmount}}
			</td>
		</ng-container>

		<ng-container matColumnDef="details">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let accountMovement; let cellIndex = index" class="accounts-movements-list__icon-column">
				<mcy-icon-button
					[id]="'acccount-movements-list__detail' + cellIndex"
					*ngIf="showDetailIcon(accountMovement)"
					class="accounts-movements-list__icon"
					(handleClick)="onShowMovementDetail(accountMovement)">
					comprovante_outline
				</mcy-icon-button>
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns">
		</tr>
		<tr mat-row
			*matRowDef="let row; columns: displayedColumns;">
		</tr>
	</table>
</div>

