<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="comment__wrapper" *ngFor="let comment of shownComments">
        <p class="comment__title">
          {{ comment.type === BANK ? labelBank : comment.user }}
        </p>
        <p class="comment__text">{{ comment.message }}</p>
        <p class="comment__date">{{ comment.date | date: 'medium' }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <button
        type="button"
        class="comment__button btn btn-link"
        (click)="addMoreComments.emit()"
        [disabled]="shownComments.length === comments.length"
      >
        <span
          ><i class="far fa-plus-square"></i
          >{{ '@See more comments' | translate }}</span
        >
      </button>
      <button
        type="button"
        class="comment__button btn btn-link"
        (click)="collapseComments.emit()"
        *ngIf="shownComments.length > commentGap"
      >
        <span
          ><i class="far fa-minus-square"></i
          >{{ '@See less comments' | translate }}</span
        >
      </button>
    </div>
  </div>
</div>
