<div class="document-manager" *ngIf="opened">
  <div class="document-manager__overlay"></div>
  <app-view-document-manager-header
    class="fixed-top"
    [title]="title"
    [lastUpdate]="lastUpdate"
    (onClose)="closeModal()"
  ></app-view-document-manager-header>
  <div class="row d-flex align-items-stretch doc-manager__content">
    <div class="col-sm doc-manager__canvas">
      <app-view-document-manager-canvas
        [fullContent]="fullContent"
        [zoomRate]="zoomRate"
      ></app-view-document-manager-canvas>
    </div>
  </div>
</div>
