<div class="enterprises-tab">
	<ng-container *ngIf="!userState.loadingEnterprise">
		<div class="enterprises-tab__header">
			<span class="enterprises-tab__empty-search-label">{{ 'pages.enterpriseTab.emptySearch' | translate }}</span>
		</div>
		<form [formGroup]="form" class="enterprises-tab__search-form">
			<mcy-input
				[label]="'pages.enterpriseTab.searchLabel' | translate"
				formControlName="searchKeyword"
				mcyOnlyNumbers
				[id]="'enterprises-tab__search-form-input'"
				[validators]="searchKeywordValidators"
				class="enterprises-tab__search-form-input"
				[maxLength]="searchKeywordMaxLength"
				[prefixIcon]="'busca_outline'"
			>
			</mcy-input>
			<mcy-button 
				[disabled]="!form.valid"
				(handleClick)="onSubmit()"
				[id]="'enterprises-tab__search-form-button'"
				class="enterprises-tab__search-form-button">
				{{ 'pages.enterpriseTab.searchSubmit' | translate }}
			</mcy-button>
		</form>
	</ng-container>
	<div
		class="enterprises-tab__spinner-container"
		*ngIf="userState.loadingEnterprise">
			<voxel-loading-circle
				[showLoading]="true"
				size="large">
			</voxel-loading-circle>
	</div>
	<mcy-loading-data-error
		*ngIf="userState.hasEnterpriseErrors"
		(handleOnRetry)="onSubmit()"
	></mcy-loading-data-error>
</div>
