<div class="salary-payment-error">
	<div class="salary-payment-error__content">
		<mcy-sidenav-feedback
			[message]="'sidenav.payments.salaryPaymentError' | translate:{
				name: data.contact?.name,
				currency: data.account?.currency.symbol,
				amount: data.amount | mcyAmount
			}">
		</mcy-sidenav-feedback>
	</div>
	<div class="salary-payment-error__button">
		<mcy-button>
			{{'common.retry' | translate }}
		</mcy-button>
	</div>
	<div class="salary-payment-error__button">
		<mcy-button color="tertiary" (handleClick)="close()">
			{{'common.return' | translate }}
		</mcy-button>
	</div>
</div>
