<div fxLayout="column" class="cart-list-container">
  <div class="cart-list-main">
    1
  </div>
  <div class="cartL-list-settings">
    2
  </div>
  <div fxFlex class="cart-list-items">
    3
  </div>
  <div class="cart-list-divider">
    4
  </div>
  <div class="cart-list-total">
    5
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="cart-list-buttons-container"
  >
    <button mat-flat-button color="primary" class="cart-list-button">
      send
    </button>
    <button mat-flat-button color="primary" class="cart-list-button">
      pay
    </button>
  </div>
</div>
