<div class="sign-requests">
	<mcy-primary-page-layout
		(handleBack)="goToLanding()"
		[title]="'pages.requests.sign.title' | translate"
		[back]="'pages.requests.sign.goBack' | translate">
		<div actions>
			<mcy-contextual-button
				sufixIcon="fechar"
				(handleClick)="goToLanding()"
			>
				{{'pages.requests.sign.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="sign-requests__content">
			<mcy-primary-panel-layout
				[isLoading]="transactionState.loadingSignature && !isSidenavOpen"
				[hasError]="transactionState.hasErrorSignature && !isSidenavOpen"
				(handleOnRetry)="confirm()">
				<div body class="sign-requests__actions-list">
					<div class="sign-requests__bar">
						<div class="sign-requests__bar">
							<mcy-icon class="sign-requests__check-icon">check</mcy-icon>
							<span class="sign-requests__main-title">{{'pages.requests.sign.actionMessage' | translate}}</span>
						</div>
						<div>
							<span>{{selectedRequests.length}} <span>{{selectionText()}}</span></span>
							<mcy-icon class="sign-requests__edit-icon" (click)="edit()">editar_outline</mcy-icon>
						</div>
					</div>
					<div class="sign-requests__list">
						<mcy-requests-actions-list [selectedRequests]="selectedRequests"></mcy-requests-actions-list>
					</div>
				</div>
				<div description class="sign-requests__description">
					<span class="sign-requests__main-text">{{'pages.requests.sign.allReady' | translate}} <span>{{'pages.requests.sign.descriptionMessage' | translate}}</span></span>
				</div>
				<mcy-requests-actions-footer
					footer
					class="sign-requests__actions"
					(buttonClick)="confirm()"
					[disabled]="transactionState.loadingSignature"
					[id]="'sign-requests__button'"
					[requestsSummary]="requestsSummary"
					[buttonLabel]="'pages.requests.sign.buttonLabel' | translate">
				</mcy-requests-actions-footer>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
