@import 'variablesNew';
@import 'mixins';


.payment-receipt {
	margin-top:60px;
	&__status {
		text-align: center;
	}
	&__button {
		margin-bottom: $spacing-L;
	}
	&__circle-success {
		align-items: center;
		border-radius: 50%;
		color: $text-color-high-contrast;
		display: flex;
		font-size: 36px;
		height: 73px;
		justify-content: center;
		margin: 0 $spacing-XL 0 0;
		min-width: 48px;
		width: 73px;

		&--authorized {
			background-color: $background-color-check;
		}

		&--rejected {
			background-color: $background-color-cancel;
		}

		&--partially-authorized {
			background-color: $background-color-pending;
		}

		&--pending-authorized {
			background-color: $background-color-partially;
		}
	}

	&__body {
		display: flex;
		height: 100%;
		padding: $spacing-L 0;
	}

	&__content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: $spacing-XS 0;
	}

	&__receipt {
		margin-left: $spacing-L;
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	&__receipt-label {
		@include font-primary-bold();
		font-size: $font-size-XXL;
	}

	&__receipt-value {
		@include font-primary-bold();
		margin-top: $spacing-XXS;
		font-size: $font-size-XXL;
	}

	&__detail {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	&__detail-row {
		display: flex;
		width: 100%;
		padding-top: 36px;
	}
	&__detail-label {
		@include font-primary-regular();
		margin: $spacing-XXS 0;
		font-size: $font-size-M;
	}

	&__detail-value {
		@include font-primary-extrabold();
		font-size: $font-size-M;
	}

	&__concept {
		@include font-primary-regular();
		margin: $spacing-XXS 0;
		font-size: $font-size-S;
	}

	&__description {
		@include font-primary-extrabold;
		font-size: $font-size-M;
	}

	&__actions {
		display: flex;
		margin-top: $spacing-XXL;
		margin-bottom: $spacing-XL;
	}

	&__footer{
		margin-top: 120px;
		justify-content: flex-end;
		display: flex;
	}
}