@import 'variablesNew';
@import 'mixins';

.right-sidenav-content {
	height: 100%;
	padding: $spacing-XL;
	display: flex;
	flex-direction: column;

	&__header{
		display: flex;
		flex-direction: column;
	}

	&__divider {
		border-bottom: 1px solid $border-color-primary;
		width: 100%;
	}

	&__title {
		@include font-primary-light();
		font-size: $font-size-XXXL;
		margin-top: 0;
		line-height: 1.5;
		margin-bottom: $font-size-L;
	}

	&__icon-container {
		position: relative;
	}

	&__close {
		position: absolute;
		color: $icon-color-spinner;
		right: 0;
		font-size: $font-size-XXXL;
		cursor: pointer;
	}

	&__body {
		flex: 1;
	}
}
