@import 'variablesNew';
@import 'mixins';

.checks-discounted-list {
	padding: $spacing-M $spacing-XL;
	&__loading {
		display: flex;
		justify-content: center;
	}

	&__details-icon {
		color: $icon-color-spinner;
		font-size: $font-size-XXL;
	}

	&__icon-column {
		width: 40px;
	}
}
