@import 'variablesNew';
@import 'mixins';

.cancel-scheduled-request {
	padding: $spacing-S 0;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $spacing-S $spacing-XXS;
		margin: $spacing-XS 0;
		border-top: 1px solid $border-color-primary;
		border-bottom: 1px solid $border-color-primary;
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $text-color-tertiary;
		font-size: $font-size-XS;
		margin-bottom: $spacing-S;
	}

	&__main-title {
		color: $text-color-tertiary;
		font-size: $font-size-L;
	}

	&__text {
		font-size: $font-size-S;
	}
}