@import 'variablesNew';
@import 'mixins';

$root: '.menu';

#{$root} {
	@include font-primary-regular();
	font-size: $font-size-M;
	color: $text-color-high-contrast;

	&__header {
		display: flex;
		height: 79px;
		align-items: center;
		padding: $spacing-XS $spacing-M 0 $spacing-M;
	}

	&__collapse-icon-container {
		position: absolute;
		display: flex;
		left: 11px;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		cursor: pointer;
		&:hover {
			border-radius: $radius-circle;
			background-color: $background-color-menu-item-hover;
		}
	}

	&__collapse-icon {
		font-size: 24px;
		cursor: pointer;
	}

	&__item {
		padding: 0 $spacing-M !important;
		@include font-primary-regular();
		height: 52px !important;
		&:hover {
			background-color: $background-color-menu-item-hover !important;
		}
		&--active {
			background-color: $background-color-menu-item-idle !important;
		}
	}

	&__icon-wrapper {
		display: flex;
		height: 40px;
		justify-content: center;
		align-items: center;
		margin-right: $spacing-XS;
		border-radius: 8px;
	}

	&__label {
		color: $text-color-high-contrast;
	}

	&__icon {
		color: $text-color-high-contrast;
		font-size: 24px;
	}

	&__separator {
		margin: $spacing-XS $spacing-M;
		border-bottom: 1px solid $border-high-contrast;
		opacity: 0.5;
	}

	&--closed {
		width: 72px !important;

		#{$root}__icon-wrapper {
			height: 52px;
			margin: 0;
		}

		#{$root}__label {
			display: none;
		}

		#{$root}__header {
			justify-content: center;
		}

		#{$root}__item {
			padding: 0 $spacing-M !important;
		}
	}
}
