@import 'variables';
@import 'mixins';

.user {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	padding-top: $spacing-XL;

	&__profile-image {
		display: inline-block;
		margin-right: $spacing-L;
	}

	&__button-icon {
		font-size: 24px;
	}

	&__button-group {
		display: flex;
		justify-content: flex-end;
	}

	&__fields-container {
		display: inline-block;
	}

	&__title-field {
		font-size: $font-size-M;
		color: $text-color-senary;
		margin: 0;
		margin-bottom: $spacing-XS;
		@include font-primary-regular();
	}

	&__header-container {
		display: flex;
	}

	&__name-description {
		font-size: $font-size-L;
		color: $text-color-ninth;
		@include font-primary-regular();
	}

	&__content-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: $spacing-L;
	}

	&__form-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

	&__form-item {
		flex-basis: 50%;
		margin-bottom: $spacing-M;
		padding-right: $spacing-M;
	}

	&__content-item {
		flex-basis: 50%;
		margin-bottom: $spacing-M;
	}

	&__title-field {
		font-size: $font-size-M;
		color: $text-color-senary;
		margin: 0;
		margin-bottom: $spacing-XS;
		@include font-primary-regular();
	}

	&__title-description {
		font-size: $font-size-M;
		color: $text-color-ninth;
		@include font-primary-regular();
	}

	&__header-fields-container {
		margin-top: $spacing-XS;
	}

	&__fields-container {
		display: inline-block;
	}
}