<div class="soft-token-confirm">
	<div class="soft-token-confirm__spinner-container" *ngIf="isLoading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>

	<div [hidden]="isLoading" class="soft-token-confirm__main-section">
		<div class="soft-token-confirm__content">
			<mcy-soft-token [formControl]="softToken" label="{{'sidenav.tokenValidation.labelSoftoken' | translate }}" #softTtoken cdkFocusInitial></mcy-soft-token>
		</div>
		<div *ngIf="tokenInvalid">
			<p class="soft-token-confirm__error-mesage">{{'sidenav.softokenConfirm.messageInvalidSoftoken' | translate }}</p>
			<div class="soft-token-confirm__invalid-token-notification">
				<mcy-icon class="soft-token-confirm__invalid-token-notification-icon">informacao_outline</mcy-icon>
				<span class="soft-token-confirm__invalid-token-notification-label">
					{{'sidenav.softokenConfirm.invalidNotificationLabel' | translate }}
				</span>
			</div>
		</div>
	</div>
	<div>
		<div class="soft-token-confirm__need-help-content" *ngIf="!isLoading">
			<span class="soft-token-confirm__need-help-title">
				{{'sidenav.softokenConfirm.messageHelp' | translate }}
			</span>
			<span class="soft-token-confirm__need-help-text">
				{{'sidenav.softokenConfirm.centralMessageHelp' | translate }} .
				<span class="soft-token-confirm__need-help-more-information-text"
				(click)="modalNeedHelp();">
					{{'sidenav.softokenConfirm.moreInformation' | translate }}
				</span>
			</span>
		</div>
		<div class="soft-token-confirm__button-group">
			<div class="soft-token-confirm__button">
				<mcy-button
					[id]="'soft-token-confirm__back-button'"
					(handleClick)="cancel()"
					[disabled]="isLoading"
					color="tertiary">
					{{'common.return' | translate }}
				</mcy-button>
			</div>
			<div class="soft-token-confirm__button">
				<mcy-button
					[id]="'soft-token-confirm__button'"
					(handleClick)="onConfirm()"
					[disabled]="!softToken.valid || isLoading">
					{{ confirmLabel }}
				</mcy-button>
			</div>
		</div>
	</div>
</div>
