<form autocomplete="off" [formGroup]="customerData">
  <div class="row">
    <div class="col-sm-6">
      <app-form-field
        label="Tipo de Documento"
        [formSubmitted]="formSubmitAttempt"
      >
        <ng-select
          [items]="personalDocumentTypes"
          placeholder="{{ '@Select Document Type' | translate }}"
          bindLabel="description"
          formControlName="personalDocumentType"
        >
        </ng-select>
      </app-form-field>
    </div>

    <div class="col-sm-6">
      <app-form-field
        label="{{ '@Document Number' | translate }}"
        [formSubmitted]="formSubmitAttempt"
        [errorMessages]="duplicateDniErrorMessages"
      >
        <input
          class="form-control"
          placeholder="{{ '@Enter your DNI' | translate }}"
          mask="dot_separator"
          maxlength="10"
          formControlName="personalDocumentNumber"
          appOnlyNumbersMask
          (blur)="validateDni(); resetPerson()"
        />
      </app-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-form-field
        label="{{ '@CUIL/CUIT' | translate }}"
        [formSubmitted]="formSubmitAttempt"
        [errorMessages]="personErrorMessages"
      >
        <ng-select
          [items]="persons | cuit"
          placeholder="{{ '@Select CUIL/CUIT' | translate }}"
          bindLabel="label"
          bindValue="number"
          formControlName="workDocumentNumber"
          (change)="workDocumentNumberChange()"
        >
        </ng-select>
      </app-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-form-field
        label="{{ '@Name' | translate }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          placeholder="{{ '@Enter Name' | translate }}"
          maxlength="40"
          appNameMask
        />
      </app-form-field>
    </div>
    <div class="col-sm-6">
      <app-form-field
        label="{{ '@Surname' | translate }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          placeholder="{{ '@Enter Surname' | translate }}"
          maxlength="20"
          appNameMask
        />
      </app-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-form-field
        label="{{ '@Sexo' | translate }}"
        [formSubmitted]="formSubmitAttempt"
      >
        <ng-select
          [items]="genders"
          [searchFn]="searchGenderFromStart"
          bindLabel="description"
          formControlName="gender"
          placeholder="{{ '@Select Sexo' | translate }}"
        >
        </ng-select>
      </app-form-field>
    </div>

    <div class="col-sm-6">
      <app-form-field
        label="{{ '@Born Date' | translate }}"
        [formSubmitted]="formSubmitAttempt"
        [errorMessages]="birthDateErrorMessages"
      >
        <input
          #birthDateInput
          class="form-control"
          type="text"
          mask="00/00/0000"
          placeholder="DD/MM/AAAA"
          formControlName="birthDate"
        />
      </app-form-field>
    </div>
  </div>

  <div *ngIf="salaryCondition()" class="row">
    <div class="col-md-6">
      <app-form-field
        label="{{ '@Declared Income' | translate }}"
        [formSubmitted]="formSubmitAttempt"
        tooltip="Por favor, ingrese un valor mayor a $23.000"
      >
        <input
          mask="dot_separator"
          prefix="$ "
          class="form-control"
          formControlName="salary"
          maxlength="14"
          appOnlyNumbersMask
        />
      </app-form-field>
    </div>
  </div>
</form>
