@import 'variablesNew';
@import 'mixins';

.service-payment-amount {
	&__subtitle {
		@include font-primary-bold();
		font-size: $font-size-L;
	}
	&__primary-panel {
		padding: 0 $spacing-XL;
	}
	&__body {
		display: flex;
		padding: $spacing-M $spacing-L 0 $spacing-L;
		height: 100%;
	}
	&__content {
		width: 100%;
		padding: 0 0 $spacing-XXL $spacing-L;
	}
	&__description {
		padding: $spacing-L;
	}
	&__description-element {
		@include font-primary-regular();
		font-size: $font-size-M;
		color: $text-color-primary;
		line-height: 24px;
	}
	&__required-container {
		margin-top: 100px;
	}
	&__required-text {
		@include font-primary-regular();
		color: $text-color-primary;
		font-size: $font-size-XS;
	}
	&__required-symbol {
		color: $icon-color-brand;
	}
	&__button {
		padding-left: $spacing-L;
	}
	&__box-moment-execution {
		margin-bottom: $spacing-XS;
	}
	&__radio {
		display: flex;
	}
	&__spacing {
		margin-left: $spacing-XXL;
	}
	&__amount-container {
		display: flex;
	}
	&__currency-select {
		width: 110px;
		margin-right: $spacing-M;
	}
	&__amount-input {
		flex: 1;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $spacing-L;
		padding-right: 60px;
	}
	&__description-header {
		margin: $spacing-XL 0 $spacing-XL 0;
	}
	&__column {
		display: flex;
		flex-direction: column;
	}
	&__header-text {
		margin-bottom: $spacing-XXS;
		color: $border-color-secondary;
	}
	&__header-title {
		color: $border-color-secondary;
		@include font-primary-bold();
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__usd-text {
		padding-left: $spacing-L;
		display: flex;
	}
	&__usd-text-column {
		display: flex;
		flex-direction: column;
		font-size: $font-size-S;
	}
	&__icon {
		color: $icon-color-spinner;
		margin-right: $spacing-S;
	}
	&__usd-description {
		margin-bottom: $spacing-XXS;
	}
}
