<div class="profile-image">
	<div
		class="profile-image__circle"
		[ngClass]="{
			'profile-image__circle--small': size === 'small',
			'profile-image__circle--medium': size === 'medium',
			'profile-image__circle--large': size === 'large',
			'profile-image__circle--selected': selected,
			'profile-image__circle--provider': isProvider,
			'profile-image__circle--client': isClient,
			'profile-image__circle--service': isService,
			'profile-image__circle--employee': isEmployee,
			'profile-image__circle--others': isOthers,
			'profile-image__circle--unknown': isUnknown
		 }">

		<span
			class="profile-image__contact-initials"
			[ngClass]="{
				'profile-image__contact-initials--small': size === 'small'
			}"
			*ngIf="!selected"
		>
			{{ displayName }}
		</span>
		<mcy-icon
			class="profile-image__contact-initials profile-image__icon"
			[ngClass]="{
				'profile-image__icon--small': size === 'small'
			}"
			*ngIf="selected"
		>
			check
		</mcy-icon>

	</div>
	<div
		*ngIf="favorite !== null"
		class="profile-image__fav-circle"
		(click)="onChange()"
		tooltip="{{ 'components.profileImage.favoriteTooltip' | translate }}"
		[display]="showFavoriteTooltip"
		[ngClass]="{
			'profile-image__fav-circle--small': size === 'small',
			'profile-image__fav-circle--favorite': favorite
		}">
		<mcy-favorite [active]="favorite"></mcy-favorite>
	</div>
</div>
