.cart__productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 100px;
}

.example-card {
    max-width: 200px;
    margin: 10px;
    float: left;
}
  
.example-header-image {
    height: 150px;
}