<mcy-primary-page-layout
	[title]="'pages.payments.service.account.title' | translate"
	[back]="'pages.payments.service.account.goBack' | translate"
	(handleBack)="onCancel()"
>
	<div actions>
		<mcy-contextual-button
			[id]="'service-payment-account__go-to-landing'"
			sufixIcon="fechar"
			(handleClick)="onCancel()"
		>
			{{'pages.payments.service.account.cancel' | translate}}
		</mcy-contextual-button>
	</div>
	<div class="service-payment-account__primary-panel" body>
		<mcy-primary-panel-layout [isLoading]="acountState.loading" [hasError]="acountState.hasErrorAccounts">
			<div class="service-payment-account__body" body>
				<mcy-stepper-guidelines
					[selected]="accountForm.valid"
					[previousGuideline]="true"
					[icon]="'trconta_corrente_outline'"
				>
				</mcy-stepper-guidelines>
				<div class="service-payment-account__content">
					<h3 class="service-payment-account__subtitle">
						{{ 'pages.payments.service.account.subtitle' | translate }}
					</h3>
					<form [formGroup]="accountForm" class="service-payment-account__form">
						<mcy-account-select
							formControlName="account"
							[id]="'service-payment-account__account-select'"
							[required]="true"
							[balanceText]="'pages.payments.service.account.balance' | translate"
							[label]="'pages.payments.service.account.originAccount' | translate"
							[accounts]="accounts"
						></mcy-account-select>
					</form>
				</div>
			</div>
			<div description class="service-payment-account__description">
				<p
					*ngIf="!accountForm.valid"
					class="service-payment-account__description-element"
				>
					{{ 'pages.payments.service.account.description' | translate }}
				</p>
				<p
					*ngIf="accountForm.valid"
					class="service-payment-account__description-element"
				>
					{{ 'pages.payments.service.account.complete' | translate }}
				</p>
				<div class="service-payment-account__required-container">
					<span class="service-payment-account__required-symbol">*</span>
					<span class="service-payment-account__required-text">
						{{ 'pages.payments.service.account.requiredFields' | translate }}
					</span>
				</div>
			</div>
			<div footer>
				<mcy-button
					class="service-payment-account__button"
					[id]="'service-payment-account__go-back-button'"
					[color]="'tertiary'"
					(handleClick)="onBack()"
				>
					{{ 'pages.payments.service.account.back' | translate }}
				</mcy-button>
				<mcy-button
					class="service-payment-account__button"
					[disabled]="!accountForm.valid"
					[id]="'service-payment-account__continue-button'"
					(handleClick)="onContinue()"
				>
					{{ 'pages.payments.service.account.next' | translate }}
				</mcy-button>
			</div>
		</mcy-primary-panel-layout>
	</div>
</mcy-primary-page-layout>
