<form autocomplete="off" [formGroup]="vehicleData">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm col-md-6">
        <div class="row">
          <div class="col-11 vehicle__coupons">
            <ng-select
              [items]="coupons"
              placeholder="{{ '@Agreement' | translate }}"
            >
              <ng-template ng-option-tmp let-item="item">
                <div>
                  {{ item.name }}
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div><i class="fas fa-ticket-alt" style="margin-top: 10px;"></i></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-form-field
          label="{{ '@Vehicle type' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <div
            class="btn-group btn-group-toggle btn-group-radio"
            ngbRadioGroup
            name="vehicleType"
            formControlName="type"
          >
            <label
              ngbButtonLabel
              *ngFor="let vehicleType of validVehicleTypes"
              ngbPopover="{{
                '@This vehicle cannot be selected if you work in dependency relationship'
                  | translate
              }}"
              placement="top-left auto"
              [disablePopover]="
                !(
                  form.get('worksInDependencyRelationship').value &&
                  vehicleType.code === 'U'
                )
              "
              [openDelay]="400"
              triggers="mouseenter:mouseleave"
            >
              <input
                ngbButton
                type="radio"
                [value]="vehicleType"
                [disabled]="
                  form.get('worksInDependencyRelationship').value &&
                  vehicleType.code === 'U'
                "
              />

              {{ vehicleType.description }}
            </label>
          </div>
        </app-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-form-field
          label="{{ '@How do you want to continue?' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <div
            class="btn-group btn-group-toggle btn-group-radio"
            ngbRadioGroup
            name="simulationType"
            formControlName="simulationType"
          >
            <label ngbButtonLabel>
              <input ngbButton type="radio" value="MM" />{{
                '@Brand / Model' | translate
              }}
            </label>
            <label ngbButtonLabel>
              <input ngbButton type="radio" value="VE" />{{
                '@Estimated Value' | translate
              }}
            </label>
          </div>
        </app-form-field>
      </div>
    </div>

    <ng-container *ngIf="vehicleData.get('simulationType').value === 'MM'">
      <div class="row">
        <div class="col-sm-6">
          <app-form-field
            label="{{ '@Brand' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              #brandSelect
              [items]="brands"
              bindLabel="description"
              formControlName="brand"
              placeholder="{{ '@Select Brand' | translate }}"
            >
            </ng-select>
          </app-form-field>
        </div>
        <div class="col-sm-6">
          <app-form-field
            label="{{ '@Model' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              #modelSelect
              [items]="models"
              bindLabel="description"
              formControlName="model"
              placeholder="{{ '@Select Model' | translate }}"
            >
            </ng-select>
          </app-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-form-field
            label="{{ '@Year' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              #yearSelect
              [items]="years"
              bindLabel="fullDescription"
              placeholder="{{ '@Select Year' | translate }}"
              formControlName="year"
            >
              <ng-template ng-option-tmp let-item="item">
                <div
                  title="{{
                    !item.valid
                      ? translate.instant(
                          '@The model doesn\'t meet the seniority criteria'
                        )
                      : item.fullDescription
                  }}"
                >
                  {{ item.fullDescription }}
                </div>
              </ng-template>
            </ng-select>
          </app-form-field>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="vehicleData.get('simulationType').value === 'VE'">
      <div class="row">
        <div class="col-sm-6">
          <app-form-field
            label="{{ '@Vehicle Value' | translate }}"
            [formSubmitted]="formSubmitAttempt"
            tooltip="{{ '@Please enter a value greater than 0' | translate }}"
          >
            <input
              #priceInput
              mask="dot_separator"
              class="form-control"
              formControlName="price"
              prefix="$ "
              maxlength="13"
              appOnlyNumbersMask
            />
          </app-form-field>
        </div>

        <div class="col-sm-6">
          <app-form-field
            label="{{ '@Year' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <ng-select
              #yearSelectVE
              [items]="years"
              bindLabel="fullDescription"
              placeholder="{{ '@Select Year' | translate }}"
              formControlName="year"
            >
              <ng-template ng-option-tmp let-item="item">
                <div
                  title="{{
                    !item.valid
                      ? translate.instant(
                          '@The model doesn\'t meet the seniority criteria'
                        )
                      : item.fullDescription
                  }}"
                >
                  {{ item.fullDescription }}
                </div>
              </ng-template>
            </ng-select>
          </app-form-field>
        </div>
      </div>
    </ng-container>
  </div>
</form>
