@import 'scss/mixins';
@import 'scss/variables';
@import 'scss/colors';
@import 'scss/breakpoints';

.vehicle {
  &__coupons ::ng-deep .ng-select {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
      width: 60%;
      margin-left: auto;
    }
    .ng-select-container {
      background: $gray-lighter;
      padding-left: 0.5rem;
      color: $gray-600;
      .ng-input {
        left: 0.5rem !important;
      }
    }
  }
}
