<div class="soft-token-create">
	<div>
		<p class="soft-token-create__description">
			{{ 'sidenav.tokenCreate.description' | translate }}
		</p>

		<div class="soft-token-create__token-details">
			<img
				class="soft-token-create__token-provider-image"
				src="client/assets/images/tokenprovider.png"
			/>
			<div class="soft-token-create__token-side-details">
				<h3 class="soft-token-create__token-provider-title">
					{{ 'sidenav.tokenCreate.tokenProvider' | translate }}
				</h3>
				<div class="soft-token-create__app-providers">
					<a href="https://play.google.com/store/apps/details?id=com.arcot.otp1" target="_blank">
						<img
							class="soft-token-create__app-provider-image"
							src="client/assets/images/playstore.png" />
					</a>
					<a href="https://apps.apple.com/in/app/ca-mobile-otp/id632906380" target="_blank">
						<img
							class="soft-token-create__app-provider-image"
							src="client/assets/images/appstore.png" />
					</a>
				</div>
			</div>
		</div>

		<h4 class="soft-token-create__subtitle">
			<mcy-icon class="soft-token-create__information-icon">
				informacao_outline
			</mcy-icon>
			{{ 'sidenav.tokenCreate.subtitle' | translate }}
		</h4>
		<p class="soft-token-create__description">
			{{ 'sidenav.tokenCreate.secondaryDescription' | translate }}
		</p>
		<p class="soft-token-create__description">
			{{ 'sidenav.tokenCreate.tertiaryDescription' | translate }}
		</p>
	</div>
	<div class="soft-token-create__actions">
		<mcy-button
			[id]="'soft-token-create__confirm-button'"
			(handleClick)="onConfirm()"
		>
			{{ 'sidenav.tokenCreate.confirmAction' | translate }}
		</mcy-button>
	</div>
</div>
