<div class="salary-payment-confirm">
	<mcy-primary-page-layout
		(handleBack)="goToLanding()"
		[title]="'pages.payments.salary.confirm.title' | translate"
		[back]="'pages.payments.salary.confirm.goBack' | translate">
		<div actions>
			<mcy-contextual-button sufixIcon="fechar" (click)="goToLanding()">
				{{'pages.payments.salary.confirm.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div class="salary-payment-confirm__panel" body>
			<mcy-primary-panel-layout
				[hasError]="salaryPaymentState.hasNewPaymentErrors && !isSidenavOpen"
				[isLoading]="salaryPaymentState.loadingNewPayment && !isSidenavOpen"
				(handleOnRetry)="confirm()"
				>
				<div class="salary-payment-confirm__body" body>
					<div class="salary-payment-confirm__item-section">
						<mcy-stepper-guidelines
							class="salary-payment-confirm__stepper-guidelines"
							[nextGuideline]="true"
							[selected]="true">
						</mcy-stepper-guidelines>
						<div class="salary-payment-confirm__destination-container">
							<h3 class="salary-payment-confirm__section-title">
								{{ 'pages.payments.salary.confirm.destinationTitle' | translate }}
							</h3>
							<div class="salary-payment-confirm__account-info">
								<span class="salary-payment-confirm__account-title">
									{{ 'pages.payments.salary.confirm.cbu' | translate }}
								</span>
								<span class="salary-payment-confirm__cbvu">
									{{salaryPayment.contact.cbvu}}
								</span>
								<span class="salary-payment-confirm__account-name">
									{{salaryPayment.contact.name}}
								</span>
								<mcy-icon
									(click)="goToContact()"
									class="salary-payment-confirm__edit-icon">
									editar_outline
								</mcy-icon>
							</div>
						</div>
					</div>

					<div class="salary-payment-confirm__item-section">
						<mcy-stepper-guidelines
							class="salary-payment-confirm__stepper-guidelines"
							[previousGuideline]="true"
							[nextGuideline]="true"
							[selected]="true">
						</mcy-stepper-guidelines>
						<div class="salary-payment-confirm__balance-container">
							<h3 class="salary-payment-confirm__section-title">
								{{ 'pages.payments.salary.confirm.balanceTitle' | translate }}
							</h3>
							<div class="salary-payment-confirm__balance-info">
								<span class="salary-payment-confirm__description--bold">
									{{salaryPayment.account?.currency.symbol }} {{salaryPayment.amount | mcyAmount }}
								</span>
								<span class="salary-payment-confirm__balance-description">
									{{ salaryPayment.description }}
								</span>
							</div>
							<mcy-icon
								(click)="goToAmount()"
								class="salary-payment-confirm__edit-icon">
								editar_outline
							</mcy-icon>
						</div>
					</div>

					<div class="salary-payment-confirm__item-section">
						<mcy-stepper-guidelines
							class="salary-payment-confirm__stepper-guidelines"
							[previousGuideline]="true"
							[selected]="true">
						</mcy-stepper-guidelines>
						<div class="salary-payment-confirm__balance-container">
							<h3 class="salary-payment-confirm__section-title">
								{{ 'pages.payments.salary.confirm.sourceTitle' | translate }}
							</h3>
							<div class="salary-payment-confirm__balance-info">
								<span class="salary-payment-confirm__account-number">
									{{ formattedAccountType(salaryPayment.account?.type) }} {{salaryPayment.account?.number | mcyAccountNumber }}
								</span>
								<span class="salary-payment-confirm__date" 
									*ngIf="salaryPaymentState.newSalaryPaymentFormValue.momentExecution === 'PROGRAMMED'">
									{{ 'pages.payments.salary.confirm.date' | translate }}:
									{{formatDate(salaryPayment.date) }}
								</span>
							</div>
							<mcy-icon
								(click)="goToAccount()"
								class="salary-payment-confirm__edit-icon">
								editar_outline
							</mcy-icon>
						</div>
					</div>
				</div>

				<div footer class="salary-payment-confirm__buttons-section">
					<mcy-button
						class="salary-payment-confirm__button"
						[id]="'salary-payment-confirm__back-button'"
						(handleClick)="goToAccount()"
						[color]="'tertiary'">
						{{ 'pages.payments.salary.confirm.back' | translate }}
					</mcy-button>
					<mcy-button
						class="salary-payment-confirm__button"
						[id]="'salary-payment-confirm__next-button'"
						(handleClick)="confirm()"
						[color]="'primary'">
						{{ 'pages.payments.salary.confirm.next' | translate }}
					</mcy-button>
				</div>

				<div description class="salary-payment-confirm__description-section">
					<span class="salary-payment-confirm__description--bold">
						{{ 'pages.payments.salary.confirm.descriptionTitle' | translate }}
					</span>
					<span class="salary-payment-confirm__description">
						 {{ 'pages.payments.salary.confirm.description' | translate }}
					</span>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>