@import 'variablesNew';
@import 'mixins';

.salary-payment-confirm {
	&__panel {
		margin: 0 $spacing-XL 0;
	}

	&__body {
		padding: 0 $spacing-L;
	}

	&__button {
		padding-left: $spacing-L;
	}

	&__description-section {
		height: 100%;
		padding: $spacing-L;
	}

	&__required {
		color: $icon-color-brand;
	}

	&__required-text {
		font-size: $font-size-M;
	}

	&__description {
		@include font-primary-regular();
		font-size: $font-size-M;
		line-height: 24px;

		&--bold {
			@include font-primary-extrabold();
		}
	}

	&__account-info {
		@include font-primary-regular();
		color: $text-color-primary;
		display: flex;
		flex: 1;
		flex-direction: column;
		line-height: 20px;
	}

	&__account-title, &__cbvu {
		@include font-primary-regular();
		font-size: $font-size-M;
		margin-bottom: $spacing-XXXS;
	}

	&__account-name, &__account-number {
		@include font-primary-extrabold();
		font-size: $font-size-M;
		margin-bottom: $spacing-XXXS;
	}


	&__balance-description {
		@include font-primary-regular();
		font-size: $font-size-M;
		margin-bottom: $spacing-XXXS;
		word-break: break-all;
	}

	&__date {
		@include font-primary-regular();
		font-size: $font-size-S;
	}

	&__edit-icon {
		cursor: pointer;
		color: $text-color-link-light;
		font-size: 24px;
		position: absolute;
		right: 0;
	}

	&__item-section {
		display: flex;
		min-height: 135px;
	}

	&__section-title {
		@include font-primary-bold();
		font-size: $font-size-L;
		display: flex;
		width: 300px;
		margin: 0;
	}

	&__balance-info {
		display: flex;
		flex: 1;
		flex-direction: column;
		line-height: 20px;
	}

	&__destination-container {
		display: flex;
		position: relative;
		width: 100%;
		padding: $spacing-XL 0 $spacing-L;
		margin-left: $spacing-XL;
		flex-direction: row;
	}

	&__balance-container {
		position: relative;
		width: 100%;
		display: flex;
		border-top: 1px solid $border-color-secondary;
		padding: $spacing-XL 0 0;
		margin-left: $spacing-XL;
	}

	&__stepper-guidelines {
		position: relative;
		top: 25px;
	}
}
