<div class="salary-payment-amount">
	<mcy-primary-page-layout
		[title]="'pages.payments.salary.amounts.title' | translate"
		[back]="'pages.payments.salary.amounts.goBack' | translate"
		(handleBack)="goToLanding()">
		<div actions>
			<mcy-contextual-button sufixIcon="fechar" (click)="goToLanding()">
				{{'pages.payments.salary.amounts.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="salary-payment-amount__panel">
			<form [formGroup]="amountForm" class="salary-payment-amount__inputs-container">
				<mcy-primary-panel-layout>
					<div body class="salary-payment-amount__body">
						<mcy-stepper-guidelines
							[previousGuideline]="true"
							[nextGuideline]="true"
							icon="consorcio_outline"
							[selected]="amountForm.valid">
						</mcy-stepper-guidelines>
						<div class="salary-payment-amount__content">
							<h3 class="salary-payment-amount__title">
								{{ 'pages.payments.salary.amounts.subtitle' | translate }}
							</h3>
							<div class="salary-payment-amount__amount-container">
								<div class="salary-payment-amount__currency-input">
									<mcy-select
										[id]="'salary-payment-amount__currency-input'"
										[data]="currenciesListOption"
										formControlName="currencyCode">
									</mcy-select>
								</div>
								<div class="salary-payment-amount__amount-input">
									<mcy-amount-input
										[id]="'salary-payment-amount__amount-input'"
										[required]="true"
										[label]="'pages.payments.salary.amounts.amountInput' | translate"
										formControlName="amount">
									</mcy-amount-input>
								</div>
							</div>
							<div class="salary-payment-amount__input-container">
								<mcy-input
									[id]="'salary-payment-amount__description-input'"
									[maxLength]="descriptionMaxlength"
									[label]="'pages.payments.salary.amounts.descriptionInput' | translate"
									[required]="true"
									formControlName="description">
									<span hint *ngIf="descriptionMissings">
										{{'pages.payments.salary.amounts.leftCharacters' | translate:{characters: descriptionMissings } }}
									</span>
								</mcy-input>
							</div>
						</div>
					</div>

					<div footer>
						<div>
							<mcy-button
								class="salary-payment-amount__button"
								(handleClick)="back()"
								[id]="'salary-payment-amount__back-button'"
								[color]="'tertiary'">
								{{ 'pages.payments.salary.amounts.back' | translate }}
							</mcy-button>
							<mcy-button
								class="salary-payment-amount__button"
								[id]="'salary-payment-amount__next-button'"
								(handleClick)="continue()"
								[disabled]="!amountForm.valid"
								[color]="'primary'">
								{{ 'pages.payments.salary.amounts.next' | translate }}
							</mcy-button>
						</div>
					</div>

					<div description class="salary-payment-amount__description-section">
						<div>
							<span class="salary-payment-amount__required">*</span>
							<span class="salary-payment-amount__required-text">{{ 'pages.payments.salary.amounts.required' | translate }}</span>
						</div>
					</div>
				</mcy-primary-panel-layout>
			</form>
		</div>
	</mcy-primary-page-layout>
</div>
