@import 'scss/mixins';
@import 'scss/variables';
@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/breakpoints';

.margin {
  margin-top: 7%;
}

.simulation {
  &-total {
    text-align: right;
    padding-right: 15px;
    color: $white;

    &__label {
      color: $gray;
    }

    &__value {
    }
  }

  &__slider {
    margin-bottom: 2rem;
  }

  &__selection {
    margin-bottom: 2rem;

    .btn-group .btn {
      &:first-child {
        border-radius: 1.5rem 0 0 1.5rem;
      }

      &:last-child {
        border-radius: 0 1.5rem 1.5rem 0;
      }
    }

    .btn-outline-secondary {
      color: $white;
      border: 1px solid $white;
      padding: 0.5rem 2rem;

      &.active {
        color: $santander-secondary-dark;
        background: $white;
      }
    }
  }

  &__agreement {
    padding-right: 2rem;
    position: relative;
    top: 20px;
    @include media-breakpoint-up(sm) {
      top: 4px;
    }

    ::ng-deep .ng-select-container {
      color: $white !important;
      background-color: $santander-secondary-light !important;
      border: none !important;
      padding-left: 0.7rem;
    }

    &--active {
      color: $white;
    }

    &--inactive {
      color: $santander-secondary-light;
    }

    .fa-ticket-alt {
      font-size: 1.5rem;
      transform: rotate(90deg);
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
}
