<app-pre-proposal-header
  *ngIf="headerData"
  [headerData]="headerData"
></app-pre-proposal-header>
<div class="simulation bg-secondary-dark pt-5">
  <div class="container">
    <form autocomplete="off" [formGroup]="simulationForm">
      <div class="row">
        <div class="col">
          <h1 class="section-header__title">
            {{ '@Simulation' | translate }}
            <span class="section-header__title-description"
              >Préstamo Tradicional</span
            >
          </h1>
        </div>
        <div class="col-sm-3 offset-sm-1 simulation__agreement">
          <ng-select
            [searchable]="false"
            [clearable]="false"
            placeholder="{{ '@Agreement' | translate }}"
            [items]="coupons"
            bindValue="value"
            bindLabel="label"
            formControlName="coupon"
            (change)="changeCoupon($event)"
          ></ng-select>
          <i
            class="fas fa-ticket-alt"
            [ngClass]="{
              'simulation__agreement--active': couponIsActive,
              'simulation__agreement--inactive': !couponIsActive
            }"
          ></i>
        </div>
      </div>
      <!--  <form autocomplete="off" [formGroup]="simulationForm">
       <div class="row simulation__selection">
        <div class="col-sm-4 offset-sm-4 text-center">
          <div
            class="btn-group btn-group-toggle"
            ngbRadioGroup
            name="radioBasic"
            formControlName="simulationType"
          >
            <label ngbButtonLabel class="btn-outline-secondary">
              <input
                ngbButton
                type="radio"
                value="UVA"
                (click)="changeSimulationType('UVA')"
                checked
              />{{ '@UVA' | translate }}
            </label>
            <label ngbButtonLabel class="btn-outline-secondary">
              <input
                ngbButton
                type="radio"
                value="Tradicional"
                (click)="changeSimulationType('Tradicional')"
                checked
              />{{ '@Traditional' | translate }}
            </label>
          </div>
        </div>
        <div class="col-sm-3 offset-sm-1 simulation__agreement">
          <ng-select
            [searchable]="false"
            [clearable]="false"
            placeholder="{{ '@Agreement' | translate }}"
            [items]="coupons"
            bindValue="value"
            bindLabel="label"
            formControlName="coupon"
            (change)="changeCoupon($event)"
          ></ng-select>
          <i
            class="fas fa-ticket-alt"
            [ngClass]="{
              'simulation__agreement--active': couponIsActive,
              'simulation__agreement--inactive': !couponIsActive
            }"
          ></i>
        </div>
      </div> -->
      <div class="row simulation__slider">
        <div class="col">
          <app-slider
            [formControl]="financedAmount"
            (change)="updateDownPaymentValueSlider($event)"
            [maxLimit]="maxAmountReleased"
            [minLimit]="minValue"
            [max]="purchaseValue"
            [step]="1000"
            [formatFunction]="formatFunction"
            maxLabel="{{ '@Vehicle Value' | translate }}"
            maxLimitLabel=" {{ '@Maximum Amount to Finance' | translate }}"
            minLimitLabel="{{ '@Minimum Amount to Finance' | translate }}"
            maxLimitMobileLabel=" {{ '@Maximum Amount' | translate }}"
            minLimitMobileLabel="{{ '@Minimum Amount' | translate }}"
            name="slider"
            #noSlider
          ></app-slider>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg">
          <app-form-field label="{{ '@Amount to Finance' | translate }}">
            <input
              mask="dot_separator"
              prefix="$ "
              maxlength="13"
              class="form-control"
              [formControl]="financedAmount"
              appOnlyNumbersMask
            />
          </app-form-field>
        </div>
        <div class="col-sm-6 col-md-4 col-lg">
          <app-form-field label="{{ '@Initial Payment' | translate }}">
            <input
              mask="dot_separator"
              prefix="$ "
              class="form-control"
              [formControl]="downPayment"
              maxlength="13"
              appOnlyNumbersMask
            />
          </app-form-field>
        </div>
        <div class="col-sm-6 col-md-4 col-lg">
          <app-form-field label="{{ '@Amount of Fees' | translate }}">
            <ng-select
              [items]="terms"
              [searchable]="true"
              [clearable]="false"
              bindLabel="description"
              (change)="changedInstallment()"
              bindValue="id"
              formControlName="installment"
            >
            </ng-select>
          </app-form-field>
        </div>
        <div class="col-sm-6 col-md-4 col-lg">
          <div class="form-group form-group__inverted">
            <label>
              {{ '@Estimated Pure Fee' | translate }}
            </label>
            <p
              name="
            terms"
              id="terms"
            >
              {{
                installmentValues.pureEstimatedInstallmentValue
                  | currency: 'ARS':'symbol-narrow':'1.0-0':'es-AR'
              }}
            </p>
          </div>
        </div>
        <!-- <div
          class="col-sm-6 col-md-4 col-lg"
          *ngIf="typeOfSimulation === 'UVA'"
        >
          <div class="form-group form-group__inverted">
            <label>
              {{ '@Pure Fee in UVA' | translate }}
            </label>
            <p name="terms" id="terms">
              {{
                installmentValues.pureEstimatedInstallmentValueInUVA
                  | number: '0.0-3':'es-AR'
              }}
            </p>
          </div>
        </div> -->
      </div>
    </form>
    <div class="row">
      <div
        class="col-sm-6 col-md-4"
        [ngClass]="{
          'col-lg': typeOfSimulation === 'UVA',
          'col-lg-3': typeOfSimulation != 'UVA'
        }"
      >
        <div class="form-group form-group__inverted">
          <label>
            {{ '@TNA' | translate }}
          </label>
          <p>{{ installmentValues.tna | number: '0.0-2':'es-AR' }} %</p>
        </div>
      </div>
      <div
        class="col-sm-6 col-md-4"
        [ngClass]="{
          'col-lg': typeOfSimulation === 'UVA',
          'col-lg-3': typeOfSimulation != 'UVA'
        }"
      >
        <div class="form-group form-group__inverted">
          <label>
            {{ '@TEA' | translate }}
          </label>
          <p>{{ installmentValues.tea | number: '0.0-2':'es-AR' }} %</p>
        </div>
      </div>
      <div
        class="col-sm-6 col-md-4"
        [ngClass]="{
          'col-lg': typeOfSimulation === 'UVA',
          'col-lg-3': typeOfSimulation != 'UVA'
        }"
      >
        <div class="form-group form-group__inverted">
          <label>
            {{ '@CFTEA' | translate }}
          </label>
          <p>{{ installmentValues.cftea | number: '0.0-2':'es-AR' }} %</p>
        </div>
      </div>
      <!-- <div
        class="col-sm-6 col-md-4"
        [ngClass]="{
          'col-lg': typeOfSimulation === 'UVA',
          'col-lg-3': typeOfSimulation != 'UVA'
        }"
        *ngIf="typeOfSimulation === 'UVA'"
      >
        <div class="form-group form-group__inverted">
          <label>
            {{ '@Capital in UVAs' | translate }}
          </label>
          <p>
            {{ installmentValues.capitalInUVAs | number: '0.0-3':'es-AR' }}
          </p>
        </div>
      </div> -->
      <div
        class="col-sm-6 col-md-4"
        [ngClass]="{
          'col-lg': typeOfSimulation === 'UVA',
          'col-lg-3': typeOfSimulation != 'UVA'
        }"
      >
        <div class="form-group form-group__inverted">
          <label>
            {{ '@Estimated Pure Fee with IVA' | translate }}
          </label>
          <p>
            {{
              installmentValues.pureEstimatedInstallmentValueWithIva
                | currency: 'ARS':'symbol-narrow':'1.0-0':'es-AR'
            }}
          </p>
        </div>
      </div>
      <!-- <div
        class="col-sm-6 col-md-4"
        [ngClass]="{
          'col-lg': typeOfSimulation === 'UVA',
          'col-lg-3': typeOfSimulation != 'UVA'
        }"
        *ngIf="typeOfSimulation === 'UVA'"
      >
        <div class="form-group form-group__inverted">
          <label>
            {{ '@Value UVA today' | translate }}
          </label>
          <p>
            {{ indexer.indexerValue | number: '0.0-3':'es-AR' }}
          </p>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container">
  <form autocomplete="off" [formGroup]="dueDateForm">
    <div class="row mt-5">
      <div class="col d-sm-flex justify-content-sm-center">
        <app-form-field
          label="{{ '@Monthly installmente due date' | translate }}"
        >
          <ng-select
            bindLabel="Days"
            [items]="daysList"
            [searchable]="true"
            placeholder="{{ '@Select here' | translate }}"
            formControlName="dueDate"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>
  </form>
  <div class="row form-actions">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary btn-lg rounded-pill"
        (click)="onSubmit()"
        [disabled]="isSubmitDisabled"
      >
        <span class="d-none d-sm-inline-block">{{
          '@Continue' | translate
        }}</span
        ><i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
