<app-panel-detail-header [headerData]="headerData"> </app-panel-detail-header>

<div class="container-fluid my-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="section-header__title">
          {{ '@Details of the proposal' | translate }}
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <ngb-accordion
      #a="ngbAccordion"
      activeIds="owner-panel"
      [destroyOnHide]="false"
    >
      <ngb-panel
        id="custom-panel-6"
        [disabled]="
          !proposal?.commentsList || proposal?.commentsList.length === 0
        "
      >
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm">
            <div class="container">
              <h4 class="m-0">{{ '@Comments' | translate }}</h4>
              <p
                *ngIf="
                  !proposal?.commentsList || proposal?.commentsList.length === 0
                "
              >
                {{ '@No comments on the proposal' | translate }}
              </p>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-comments-detail
            *ngIf="proposal?.commentsList && proposal?.commentsList.length > 0"
            [comments]="proposal?.commentsList"
            (addMoreComments)="addMoreComents()"
            (collapseComments)="collapseComments()"
            [shownComments]="shownComments"
            [commentGap]="commentGap"
          >
          </app-comments-detail>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="owner-panel">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm">
            <div class="container">
              <h4 class="m-0">{{ '@Owner' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-participant-detail
            [customer]="proposal?.owner"
            [participantType]="ownerType"
          >
          </app-participant-detail>
        </ng-template>
      </ngb-panel>

      <ngb-panel *ngIf="proposal?.coOwner" id="co-owner-panel">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm">
            <div class="container">
              <h4 class="m-0">{{ '@CoOwner' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-participant-detail
            [customer]="proposal?.coOwner"
            [participantType]="coOwnerType"
          >
          </app-participant-detail>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="custom-panel-2">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm">
            <div class="container">
              <h4 class="m-0">{{ '@Vehicle' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-vehicle-detail
            [vehicle]="proposal?.vehicle"
            [insurance]="proposal?.insurance"
            [finance]="proposal?.scoring"
          >
          </app-vehicle-detail>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="custom-panel-4">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm">
            <div class="container">
              <h4 class="m-0">{{ '@Financing' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-finance-detail [finance]="proposal?.scoring">
          </app-finance-detail>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="custom-panel-7">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="btn btn-sm">
            <div class="container">
              <h4 class="m-0">{{ '@Documents' | translate }}</h4>
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-up"></i>
            </div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-documents-detail
            *ngIf="proposal.proposalNumber !== 0"
            [proposalId]="proposal?.proposalNumber"
          >
          </app-documents-detail>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div class="container">
    <div class="row form-actions">
      <div class="col d-flex justify-content-between">
        <button
          type="button "
          class="btn btn-outline-secondary btn-lg simulate rounded-pill"
          (click)="backTo()"
        >
          <i class="fas fa-chevron-left"></i>{{ '@Back To' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
