<div style="height: 100%;">
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
    <button type="button" mat-button (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin System Angular</span>
  </mat-toolbar>
  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
      <div *ngFor="let item of sidebarItems">
        <div *ngIf="item.subItems; else accordion">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="sidenav-item">{{item.name}}</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p class="sidenav-subitem" (click)="goTo(subItem.route)" *ngFor="let subItem of item.subItems">
                  {{subItem.name}}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <ng-template #accordion>
          <p class="sidenav-item">{{item.name}}</p>
        </ng-template>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
<app-snackbar></app-snackbar>