.sidenav-container {
	height: 100%;
	background: white;
}
.sidenav {
	width: 240px;
	padding: 20px 0;
}
.sidenav-item {
	cursor: pointer;
	margin-left: 20px; 
}
.sidenav-subitem {
	cursor: pointer;
	margin-left: 20px; 
}
mat-toolbar {
	padding-left: 0px;
}

mat-expansion-panel {
	box-shadow: none !important;
	border-radius: none !important;
}

mat-expansion-panel-header {
	padding-left: 0px !important;
}