<div class="document-manager" *ngIf="opened">
  <div class="document-manager__overlay"></div>
  <app-document-manager-header
    class="fixed-top"
    [title]="title"
    [lastUpdate]="lastUpdate"
    [canDownload]="canDownload"
    (onDownload)="downloadFile($event)"
    (onClose)="closeModal()"
  ></app-document-manager-header>
  <div class="row d-flex align-items-stretch doc-manager__content">
    <div class="col-sm-auto doc-manager__pages">
      <app-document-manager-pages
        [thumbnailList]="thumbnailList"
        [selectedPageId]="currentPage?.documentPage?.pageId"
        [fileTypeAccepted]="fileTypeAccepted"
        [canRemove]="canRemove"
        (onSelectThumbnail)="changePage($event)"
        (onAddFile)="uploadFile($event)"
        (onRemove)="removeFile($event)"
      ></app-document-manager-pages>
    </div>
    <div class="col-sm doc-manager__canvas">
      <app-document-manager-canvas
        [currentPage]="currentPage"
        [zoomRate]="zoomRate"
      ></app-document-manager-canvas>
      <app-canvas-menu
        [currentPageNumber]="
          currentPageNumber(
            thumbnailList?.documentPages,
            currentPage?.documentPage?.pageId
          )
        "
        [totalOfPages]="thumbnailList?.documentPages?.length || 0"
        [zoomRate]="zoomRate"
        (onZoomIn)="zoomIn()"
        (onZoomOut)="zoomOut()"
      ></app-canvas-menu>
    </div>
  </div>
</div>
