<div class="checkbook-request-detail__content">
	<div class="checkbook-request-detail__header">
		<mcy-badge-icon>
			cheque_outline
		</mcy-badge-icon>
		<div class="checkbook-request-detail__header-info">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.type' | translate }}</span>
			<span class="checkbook-request-detail__name-value">{{ request.detail }}</span>
		</div>
	</div>
	<div class="checkbook-request-detail__info">
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.originAccount' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ checkbook.account.type }} {{ checkbook.account.number | mcyAccountNumber }}</span>
		</div>
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.count' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ checkbook.count }}</span>
		</div>
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.province' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ checkbook.province.description }}</span>
		</div>
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.branch' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ checkbook.branch.description }}</span>
		</div>
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.requestUser' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ request.user.name }}</span>
			<span class="checkbook-request-detail__value">{{ request.user.document.number }}</span>
		</div>
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.requestNumber' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ request.id }}</span>
		</div>
		<div class="checkbook-request-detail__info-item">
			<span class="checkbook-request-detail__label">{{ 'pages.checkbooks.detail.requestDate' | translate }}</span>
			<span class="checkbook-request-detail__value">{{ formattedDateWithTime(request.creationDate) }}</span>
		</div>
	</div>
	<div class="checkbook-request-detail__actions" *ngIf="showShareSection">
		<div class="checkbook-request-detail__action">
			<mcy-button
				[id]="'checkbook-request-detail__download'"
				class="service__button"
				(handleClick)="downloadReceipt()">
				<mcy-icon class="checkbook-request-detail__action-download">download_outline</mcy-icon>
				{{ 'pages.checkbooks.detail.downloadAuthorization' | translate }}
			</mcy-button>
		</div>
	</div>
	<div class="checkbook-request-detail__status-header">
		<div class="checkbook-request-detail__state">
			<mcy-status-icon
				[status]="stateIcon"
			></mcy-status-icon>
			<div class="checkbook-request-detail__state--info">
				<span class="{{stateClass}}">{{ stateText }}</span>
				<span class="checkbook-request-detail__state--date">{{ stateDate }}</span>
			</div>
		</div>
		<div class="checkbook-request-detail__more-detail" *ngIf="showMoreDetail">
			<mcy-contextual-button
				[id]="'checkbook-request-detail__showMore'"
				service-request-detail
				[sufixIcon]="detailOpened ? 'seta_cima' : 'seta_baixo'"
				(click)="handleMenuOpened()"
			>{{ moreDetailLabel }}</mcy-contextual-button>
		</div>
	</div>
	<div *ngIf="detailOpened">
		<div class="checkbook-request-detail__reason" *ngIf="request.rejecter">
			<div class="checkbook-request-detail__reason--title">{{ 'pages.payments.salary.reason' | translate }}</div>
			<div class="checkbook-request-detail__reason--description">
				<span>{{ request.rejectionReason }}</span>
			</div>
			<div class="checkbook-request-detail__reason--info">
				<span>{{ request.rejecter.name }}</span>
				<span>{{ request.rejecter.document.number }}</span>
				<span>{{ formattedDateWithTime(request.rejecter.signedDate) }}</span>
			</div>
		</div>
		<div class="checkbook-request-detail__signatures" *ngIf="request.signers.length && showMoreDetail">
			<div class="checkbook-request-detail__signatures--title">{{ 'pages.payments.salary.signatures' | translate }}</div>
			<div class="checkbook-request-detail__signatures--info">
				<div class="checkbook-request-detail__signatures--item" *ngFor="let signer of request.signers">
					<span>{{ signer.name }}</span>
					<span>{{ signer.document.number }}</span>
					<span>{{ formattedDateWithTime(signer.signedDate) }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
