<div class="password-security">
	<span class="password-security__title">
		{{ 'components.password.securityTitle' | translate }}
	</span>
	<span class="password-security__level-text">
		{{ getLevelLabel() }}
	</span>
	<div class="password-security__level-bars">
		<span
			class="password-security__level-bar"
			[ngClass]="{
				'password-security__level-bar--weak': getLevel() === 1,
				'password-security__level-bar--medium': getLevel() === 2,
				'password-security__level-bar--strong': getLevel() === 3
			}"
		>
		</span>
		<span
			class="password-security__level-bar"
			[ngClass]="{
				'password-security__level-bar--medium': getLevel() === 2,
				'password-security__level-bar--strong': getLevel() === 3
			}"
		>
		</span>
		<span
			class="password-security__level-bar"
			[ngClass]="{
				'password-security__level-bar--strong': getLevel() === 3
			}"
		>
		</span>
	</div>
</div>
