@import 'variablesNew';
@import 'mixins';

.password-security {
	display: flex;
	height: 56px;
	width: 240px;
	flex-direction: column;
	justify-content: space-between;
	padding: $spacing-XXXS 0 0 0;

	&__title {
		@include font-primary-regular();
		font-size: $font-size-XS;
		color: $text-color-secondary;
	}

	&__text {
		@include font-primary-semibold();
		font-size: $font-size-M;
		color: $text-color-primary;
	}

	&__level-bars {
		display: flex;
		flex-direction: row;
	}

	&__level-bar {
		flex: 1;
		height: 4px;
		border-radius: 2px;
		background-color: $icon-color-disabled;

		&:not(first-child) {
			margin-left: 1px;
		}

		&--weak {
			background-color: $background-color-cancel;
		}

		&--medium {
			background-color: $icon-color-favorite;
		}

		&--strong {
			background-color: $icon-color-check;
		}
	}

}
