<div class="sidenav-cancel">
	<div class="sidenav-cancel__container">
		<div class="sidenav-cancel__header-container">
			<img 
				src="client/assets/images/delete.svg"
				class="sidenav-cancel__delete-svg"
				alt="{{ 'components.sidenavCancel.discardIconAltText' | translate }}"
			/>
			<span class="sidenav-cancel__header-message">
				{{ sidenavClose.text }}
			</span>
		</div>
		<div class="sidenav-cancel__button-container">
			<mcy-button
				class="sidenav-cancel__button"
				[color]="'tertiary'"
				(handleClick)="cancel()"
				[id]="'sidenav-cancel__cancel-button'"
				>
				{{ sidenavClose.cancelText }}
			</mcy-button>
			<mcy-button
				class="sidenav-cancel__button"
				[color]="'primary'"
				(handleClick)="close()"
				[id]="'sidenav-cancel__discard-button'"
				>
				{{ sidenavClose.confirmText }}
			</mcy-button>
		</div>
	</div>
</div>
