@import 'variables';
@import 'mixins';

.sidenav-cancel {
	background-color: $background-color-quinary;
	display: flex;
	padding: $spacing-XL;
	width: 100%;
	height: 100%;
		
	&__button {
		margin: $spacing-XS 0;
	}

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__button-container {
		display: flex;
		justify-content: space-between;
		margin: $spacing-XL 0 0 0;
	}

	&__header-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__header-message {
		@include font-primary-regular();
		color: $text-color-ninth;
		font-size: $font-size-L;
		margin: $spacing-XL 0 0 0;
	}

	&__delete-svg {
		height: 185px;
		width: 255px;
	}
}
