<div class="salary-payment-detail__content">
	<div class="salary-payment-detail__header" *ngIf="data.destinationHolder">
		<mcy-profile-image
			[size]="'medium'"
			[name]="data.destinationHolder">
		</mcy-profile-image>
		<div class="salary-payment-detail__header-info">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.destinationName' | translate }}</span>
			<span class="salary-payment-detail__name-value">{{ data.destinationHolder }}</span>
		</div>
	</div>
	<div class="salary-payment-detail__info">
		<div class="salary-payment-detail__info-item" *ngIf="data.destinationCbvu">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.cbvuOrAliasDestination' | translate }}</span>
			<span class="salary-payment-detail__value">{{ data.destinationCbvu }}</span>
		</div>
		<div class="salary-payment-detail__info-item" *ngIf="data.currency.symbol && data.amount">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.amount' | translate }}</span>
			<span class="salary-payment-detail__value">{{ data.currency.symbol }} {{data.amount | mcyAmount }}</span>
		</div>
		<div class="salary-payment-detail__info-item" *ngIf="data.date">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.paymentDate' | translate }}</span>
			<span class="salary-payment-detail__value">{{ formattedDate(data.date) }}</span>
		</div>
		<div class="salary-payment-detail__info-item" *ngIf="data.currency.symbol && data.amount">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.concept' | translate }}</span>
			<span class="salary-payment-detail__value">{{ 'pages.payments.salary.salaryDescription' | translate }}</span>
		</div>
		<div class="salary-payment-detail__info-item" *ngIf="data.destinationCuilt">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.cuilt' | translate }}</span>
			<span class="salary-payment-detail__value">{{ data.destinationCuilt }}</span>
		</div>

		<div class="salary-payment-detail__info-item" *ngIf="data.originCbvu">
			<span class="salary-payment-detail__label">{{ 'pages.payments.salary.originAccount' | translate }}</span>
			<span class="salary-payment-detail__value">
				{{ data.originCbvu | mcyAccountType }} {{ data.originCbvu | mcyCbuToAccount | mcyAccountNumber }}</span>
		</div>
	</div>
	<div class="salary-payment-detail__actions" *ngIf="showShareSection">

		<div class="salary-payment-detail__action">
			<mcy-button
				class="service__button"
				color="primary"
				(click)="downloadReceipt()">
				<mcy-icon class="salary-payment-detail__action-download">download_outline</mcy-icon>
				{{ 'pages.payments.salary.downloadReceipt' | translate }}
			</mcy-button>
		</div>
	</div>
	<div class="salary-payment-detail__status" *ngIf="data.state === 'APPROVED'">
		<div class="salary-payment-detail__status-successful">
			<mcy-icon class="salary-payment-detail__status-icon">check</mcy-icon>
			<div class="salary-payment-detail__status-info">
				<span class="salary-payment-detail__status-message">{{ 'pages.payments.state.successful' | translate }}</span>
				<span class="salary-payment-detail__status-date">{{ formattedDate(data.date) }}</span>
			</div>
		</div>
	</div>
	<div class="salary-payment-detail__status" *ngIf="data.state === 'DENIED'">
		<div class="salary-payment-detail__status-rejected">
			<mcy-icon class="salary-payment-detail__status-icon">fechar</mcy-icon>
			<div class="salary-payment-detail__status-info">
				<span class="salary-payment-detail__status-message">{{ 'pages.payments.state.rejected' | translate }}</span>
				<span class="salary-payment-detail__status-date">{{ formattedDate(data.date) }}</span>
			</div>
		</div>
	</div>
</div>
