@import 'variables';


.new-own-transfer-accounts {
	&__panel {
		margin: 0 $spacing-XL 0;
	}

	&__button {
		padding-left: $spacing-L;
	}

	&__description-section {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		padding: $spacing-L;
	}

	&__cancel-button-label {
		font-size: $font-size-M;
	}

	&__required {
		color: $text-color-quinary;
	}

	&__required-text {
		font-size: $font-size-M;
	}
}
