<div class="new-own-transfer-accounts">
	<mcy-primary-page-layout
		(handleBack)="onCancel(true)"
		[title]="'pages.transfers.ownAccount.accounts.title' | translate"
		[back]="'pages.transfers.ownAccount.accounts.goBack' | translate">
		<div actions>
			<mcy-contextual-button
				sufixIconSize="16px"
				[id]="'new-own-transfer-accounts__cancel-button'"
				sufixIcon="fechar"
				(handleClick)="onCancel(true)"
			>
				{{'pages.transfers.ownAccount.accounts.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div class="new-own-transfer-accounts__panel" body>
			<mcy-primary-panel-layout>
				<mcy-select-own-accounts-transfer body
					[complete]="complete"
					[transferState]="transferState"
					(changeValidation)="setValidation($event)"
					(changeSelection)="setAccounts($event)"
				></mcy-select-own-accounts-transfer>

				<div footer class="new-own-transfer-accounts__buttons-section">
					<mcy-button
						class="new-own-transfer-accounts__button"
						[id]="'new-own-transfer-accounts__back-button'"
						(handleClick)="back()"
						[color]="'tertiary'">
						{{ 'pages.transfers.ownAccount.accounts.back' | translate }}
					</mcy-button>
					<mcy-button
						class="new-own-transfer-accounts__button"
						[id]="'new-own-transfer-accounts__next-button'"
						(handleClick)="next()"
						[disabled]="!complete"
						[color]="'primary'">
						{{ 'pages.transfers.ownAccount.accounts.next' | translate }}
					</mcy-button>
				</div>
				<div description class="new-own-transfer-accounts__description-section">
					<span *ngIf="!complete">{{ 'pages.transfers.ownAccount.accounts.description' | translate }}</span>
					<span *ngIf="complete">{{ 'pages.transfers.ownAccount.accounts.complete' | translate }}</span>
					<div>
						<span class="new-own-transfer-accounts__required">* </span>
						<span class="new-own-transfer-accounts__required-text">{{ 'pages.transfers.ownAccount.accounts.required' | translate }}</span>
					</div>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
