@import 'variablesNew';
@import 'mixins';

$root: '.toggle-bind-modal';

#{$root} {
	color: $text-color-primary;
	position: relative;

	&__subtitle {
		@include font-primary-light();
		margin: $spacing-L 0;
		font-size: $font-size-L;
	}

	&__user-details {
		display: flex;
		border-bottom: 1px solid $border-color-primary;
		border-top: 1px solid $border-color-primary;
		opacity: 0.85;
		margin: $spacing-S 0;
		padding: $spacing-M;
	}

	&__user-detail {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	&__user-detail-label {
		@include font-primary-bold();
		color: $text-color-secondary;
		font-size: $font-size-S;
	}

	&__user-detail-value {
		color: $text-color-primary;
		margin: $spacing-M 0 0 0;
		font-size: $font-size-M;
	}
}
