<mcy-modal-content
	[title]="linkedState
		? ('pages.users.toggleBind.unbind.title' | translate)
		: ('pages.users.toggleBind.bind.title' | translate)"
	[cancel]="'pages.users.toggleBind.cancel' | translate"
	[confirmation]="linkedState
		? ('pages.users.toggleBind.unbind.confirmation' | translate)
		: ('pages.users.toggleBind.bind.confirmation' | translate)"
	(handleCancel)="onCancel()"
	(handleConfirmation)="onConfirm()"
	(handleClose)="onCancel()"
>
	<h5 class="toggle-bind-modal__subtitle">{{ 'pages.users.toggleBind.subtitle' | translate }}</h5>
	<div class="toggle-bind-modal__user-details">
		<div class="toggle-bind-modal__user-detail">
			<span class="toggle-bind-modal__user-detail-label">{{ 'pages.users.toggleBind.name' | translate }}</span>
			<span class="toggle-bind-modal__user-detail-value">{{ data.employee.user.name }}</span>
		</div>

		<div class="toggle-bind-modal__user-detail">
			<span class="toggle-bind-modal__user-detail-label">{{ 'pages.users.toggleBind.document' | translate }}</span>
			<span class="toggle-bind-modal__user-detail-value">
				{{ data.employee.user.document.type }} {{ data.employee.user.document.number }}
			</span>
		</div>

		<div class="toggle-bind-modal__user-detail">
			<span class="toggle-bind-modal__user-detail-label">{{ 'pages.users.toggleBind.rol' | translate }}</span>
			<span class="toggle-bind-modal__user-detail-value">{{ role }}</span>
		</div>
	</div>
</mcy-modal-content>
