<div class="service-debts-list">
	<mcy-no-data-message *ngIf="!serviceDebts.length" [message]="emptyMessage"></mcy-no-data-message>
	<table *ngIf="serviceDebts.length" mat-table [dataSource]="serviceDebts" class="mat-elevation-z8 service-debts-list__table"
		id="service-debts-list__table">
		<ng-container matColumnDef="icon">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef class="service-debts-list__icon-column">
				<mcy-badge-icon
					[iconSize]="'24px'"
					[badgeSize]="'small'"
					[type]="'service'">
					globo
				</mcy-badge-icon>
			</td>
		</ng-container>

		<ng-container matColumnDef="serviceName">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.debtsList.serviceName' | translate}}
			</th>
			<td mat-cell *matCellDef="let debt">
				{{debt.description || '--'}}
			</td>
		</ng-container>

		<ng-container matColumnDef="amount">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.debtsList.amount' | translate}}
			</th>
			<td mat-cell *matCellDef="let debt">
			ARS {{debt.amount | mcyAmount}}
			</td>
		</ng-container>

		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.debtsList.date' | translate}}
			</th>
			<td mat-cell *matCellDef="let debt">
				{{formatDate(debt.expirationDate)}}
			</td>
		</ng-container>

		<ng-container matColumnDef="payReference">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.debtsList.reference' | translate}}
			</th>
			<td mat-cell *matCellDef="let debt"> {{debt.banelcoClientId}} </td>
		</ng-container>

		<ng-container matColumnDef="options">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let debt" class="service-debts-list__icon-column">
				<mcy-icon-button
					[id]="'service-debts-list__icon-actions'"
					class="service-debts-list__icon-actions"
					>
					outros
				</mcy-icon-button>
			</td>
		</ng-container>

		<ng-container matColumnDef="pay">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let debt" class="service-debts-list__icon-column">
				<mcy-contextual-button
					*ngIf="hasWritePermission"
					[id]="'service-debts-list__pay'"
					(handleClick)="pay(debt)"
					>
					{{'pages.payments.debtsList.pay' | translate}}
				</mcy-contextual-button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;">
		</tr>
	</table>
</div>

