@import 'variablesNew';
@import 'mixins';

.dashboard {
	&__header {
		padding: 48px $spacing-XXL;
		display: flex;
		align-items: flex-end;
	}

	&__welcome {
		flex: 1;
	}

	&__title {
		@include font-primary-light();
		font-size: $font-size-XXXL;
		margin: 0;
	}

	&__user-name {
		@include font-primary-bold();
		color: $text-color-processing;
	}

	&__consolidated-balance {
		flex: 1;
	}

	&__summary {
		margin-bottom: $spacing-XXL;
	}

	&__account-section {
		display: flex;
		margin-bottom: 60px;
	}

	&__account-info {
		margin: 0 $spacing-XS 0 $spacing-XXL;
		flex: 1;
	}

	&__last-movements {
		margin: 0 $spacing-XXL 0 $spacing-XS;
		flex: 1;
	}

	&__loading {
		margin-top: $spacing-XXL;
	}

	&__spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__error {
		margin-top: $spacing-XXL;
		width: 100%;
	}

	&__container {
		display: flex;
		width: 100%;
	}

	&__upcoming-maturities {
		flex: 2;
		padding: $spacing-XL 0 0 $spacing-XL;
	}

	&__favorite-contacts {
		flex: 1;
		padding: $spacing-XL $spacing-XL 0 0;
	}

	&__loading-accounts {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}