<div class="new-own-transfer-amount">
	<mcy-primary-page-layout
		(handleBack)="onCancel(true)"
		[title]="'pages.transfers.ownAccount.amount.title' | translate"
		[back]="'pages.transfers.ownAccount.amount.goBack' | translate">
		<div actions>
			<mcy-contextual-button
				sufixIcon="fechar"
				[id]="'new-own-transfer-amount__cancel-button'"
				(handleClick)="onCancel(true)"
			>
				{{'pages.transfers.ownAccount.amount.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="new-own-transfer-amount__panel">
			<mcy-primary-panel-layout>
				<mcy-select-transfer-amount body
					[complete]="complete"
					(changeBalance)="setBalance($event)"
					(changeValidation)="setValidation($event)"
				></mcy-select-transfer-amount>

				<div footer class="new-own-transfer-amount__buttons-section">
					<mcy-button
						class="new-own-transfer-amount__button"
						(handleClick)="back()"
						[id]="'new-own-transfer-amount__back-button'"
						[color]="'tertiary'">
						{{ 'pages.transfers.ownAccount.amount.back' | translate }}
					</mcy-button>
					<mcy-button
						class="new-own-transfer-amount__button"
						[id]="'new-own-transfer-amount__next-button'"
						(handleClick)="next()"
						[disabled]="!complete"
						[color]="'primary'">
						{{ 'pages.transfers.ownAccount.amount.next' | translate }}
					</mcy-button>
				</div>

				<div description class="new-own-transfer-amount__description-section">
					<div class="new-own-transfer-amount__description-header">
						<div *ngIf="!complete">
							<p class="new-own-transfer-amount__last-transfer-title">
								{{ 'pages.transfers.ownAccount.amount.description' | translate }}
							</p>
							<div class="new-own-transfer-amount__last-transfer-section">
								<span class="new-own-transfer-amount__last-transfer-amount">
									{{ lastTransfer.currency.symbol }}
								</span>
								<span class="new-own-transfer-amount__last-transfer-amount new-own-transfer-amount__last-transfer-amount--bold">
									{{ lastTransfer.amount }}
								</span>
								<div class="new-own-transfer-amount__last-transfer-description">
									<span>{{ lastTransferDate }}</span> - <span>({{ lastTransfer.currency.description }})</span>
								</div>
							</div>
						</div>
						<div *ngIf="complete">
							<span class="new-own-transfer-amount__last-transfer-description--bold">
								{{ 'pages.transfers.ownAccount.amount.complete' | translate }}
							</span>
							<span>
								{{ 'pages.transfers.ownAccount.amount.completeDescription' | translate }}
							</span>
						</div>
					</div >
					<div class="new-own-transfer-amount__description-footer">
						<span class="new-own-transfer-amount__required">* </span>
						<span class="new-own-transfer-amount__required-text">
							{{ 'pages.transfers.ownAccount.amount.required' | translate }}
						</span>
					</div>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
