<div class="provider-payment-amount">
	<mcy-primary-page-layout
		[title]="'pages.payments.providers.amount.title' | translate"
		[back]="'pages.payments.providers.amount.goBack' | translate"
		(handleBack)="onCancel()">
		<div actions>
			<mcy-contextual-button
				sufixIcon="fechar"
				sufixIconSize="16px"
				class="provider-payment-amount__cancel-button"
				[id]="'provider-payment-amount__cancel-button'"
				(click)="onCancel()">
				{{'pages.payments.providers.amount.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="provider-payment-amount__panel">
			<form [formGroup]="amountForm" class="provider-payment-amount__inputs-container">
				<mcy-primary-panel-layout>
					<div body class="provider-payment-amount__body">
						<mcy-stepper-guidelines
							[previousGuideline]="true"
							[nextGuideline]="true"
							icon="consorcio_outline"
							[selected]="amountForm.valid">
						</mcy-stepper-guidelines>
						<div class="provider-payment-amount__content">
							<h3 class="provider-payment-amount__title">
								{{ 'pages.payments.providers.amount.subtitle' | translate }}
							</h3>
							<div class="provider-payment-amount__amount-container">
								<div class="provider-payment-amount__currency-input">
									<mcy-select
										[data]="currenciesListOption"
										(handleChange)="currencyChange()"
										[id]="'provider-payment-amount__currency-select'"
										[label]="'pages.payments.providers.amount.currency' | translate"
										[required]="true"
										formControlName="currencyCode">
									</mcy-select>
								</div>
								<div class="provider-payment-amount__amount-input">
									<mcy-amount-input
										[required]="true"
										[id]="'provider-payment-amount__amount-input'"
										[validators]="balanceValidators"
										[label]="'pages.payments.providers.amount.amountInput' | translate"
										formControlName="amount">
									</mcy-amount-input>
								</div>
							</div>
							<div class="provider-payment-amount__input-container">
								<mcy-input
									[validators]="descriptionValidators"
									[maxLength]="descriptionMaxlength"
									[id]="'provider-payment-amount__description-input'"
									[label]="'pages.payments.providers.amount.descriptionInput' | translate"
									formControlName="description">
									<span hint *ngIf="descriptionMissings">
										{{'pages.payments.providers.amount.leftCharacters' | translate:{characters: descriptionMissings } }}
									</span>
								</mcy-input>
							</div>
						</div>
					</div>

					<div footer class="provider-payment-amount__footer">
						<div class="provider-payment-amount__buttons-section">
							<mcy-button
								class="provider-payment-amount__button"
								[id]="'provider-payment-amount__back-button'"
								(handleClick)="back()"
								[color]="'tertiary'">
								{{ 'pages.payments.providers.amount.back' | translate }}
							</mcy-button>
							<mcy-button
								class="provider-payment-amount__button"
								[id]="'provider-payment-amount__next-button'"
								(handleClick)="next()"
								[disabled]="!amountForm.valid">
								{{ 'pages.payments.providers.amount.next' | translate }}
							</mcy-button>
						</div>
					</div>

					<div description class="provider-payment-amount__description-section">
						<div class="provider-payment-amount__description-header"></div>
						<div>
							<span class="provider-payment-amount__required">* </span>
							<span class="provider-payment-amount__required-text">{{ 'pages.payments.providers.amount.required' | translate }}</span>
						</div>
					</div>
				</mcy-primary-panel-layout>
			</form>
		</div>
	</mcy-primary-page-layout>
</div>
