<div class="bind-user-success">
	<div class="bind-user-success__main-section">
		<div class="bind-user-success__title-section">
			<h3 class="bind-user-success__title">
				{{'sidenav.bindUser.success.imageSubTitle' | translate}}
			</h3>
			<mcy-profile-image
				[size]="'medium'"
				[name]="getFormatedName()"
				[category]="profileType"
				class="bind-user-success__contact-image"
			></mcy-profile-image>
		</div>
		<div class="bind-user-success__data-section">		
				<div class="bind-user-success__text-container">
					<h3 class="bind-user-success__label">{{'sidenav.bindUser.success.nameLabel' | translate}}</h3>
					<span class="bind-user-success__text bind-user-success__reference">
						{{getFormatedName()}}
					</span>
				</div>
				<div class="bind-user-success__text-container">
					<h3 class="bind-user-success__label">{{'sidenav.bindUser.success.emailLabel' | translate}}</h3>
					<span class="bind-user-success__text ">
						{{data.userData.email}}
					</span>
				</div>
				<div class="bind-user-success__text-container">
					<h3 class="bind-user-success__label">{{data.userData.documentType}}</h3>
					<span class="bind-user-success__text ">
						{{data.userData.documentNumber}}
					</span>
				</div>
				<div class="bind-user-success__text-container">
					<h3 class="bind-user-success__label">{{'sidenav.bindUser.success.rolLabel' | translate}}</h3>
					<span class="bind-user-success__text ">
						{{data.userData.role}}
					</span>
				</div>		
		</div>
	</div>
	<div class="bind-user-success__buttons-section">
		<mcy-button
					class="bind-user-form__button"
					[color]="'primary'"
					[id]="'bind-user-success__finish-button'"
					(handleClick)="finish()">
					{{'sidenav.bindUser.success.finishButton' | translate}}
			</mcy-button>
	</div>
	
</div>
