@import 'variablesNew';
@import 'mixins';

.login-error-message {
	border-radius: $radius-XXS;
	background-color: $background-color-box;
	padding: $spacing-XXS $spacing-XS;
	margin: 0 0 $spacing-S 0;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		@include font-primary-bold();
		margin: 0;
		font-size: $font-size-L;
	}

	&__message {
		@include font-primary-regular();
		margin: $spacing-XXS 0;
		display: block;
		font-size: $font-size-M;
	}

	&__close-icon {
		font-size: 24px;
		cursor: pointer;
	}
}
