<ui-header *ngIf="headerData" [fixed]="true">
  <div expanded>
    <div class="row">
      <div class="col">
        <app-readonly label="{{ '@Account' | translate }}">
          {{ headerData?.account ? headerData?.account : '-' }}
        </app-readonly>
      </div>

      <div class="col" *ngIf="headerData?.cStore">
        <app-readonly label="{{ '@Selling Point Code' | translate }}">
          {{ headerData?.cStore }}
        </app-readonly>
      </div>

      <div class="col" *ngIf="headerData?.sConcierge">
        <app-readonly label="{{ '@Manager' | translate }}">
          {{ headerData?.sConcierge }}
        </app-readonly>
      </div>

      <div class="col">
        <app-readonly label="{{ '@Proposal Number' | translate }}">
          {{ headerData?.proposalNumber }}
        </app-readonly>
      </div>

      <div class="col" *ngIf="headerData?.state">
        <app-readonly label="{{ '@State' | translate }}">
          {{ headerData?.state }}
        </app-readonly>
      </div>
    </div>
    <div class="row">
      <div class="col detail-header__actions">
        <button
          *ngIf="
            headerData?.proposalStatus?.URL && headerData?.isUserAuthorized
          "
          [disabled]="!headerData?.proposalStatus?.showButton"
          type="button"
          class="btn btn-light rounded-pill detail-header__actions-button"
          (click)="nextPage(headerData.proposalStatus.URL)"
        >
          {{ headerData.proposalStatus?.NAME | translate
          }}<i class="fas fa-chevron-right"></i>
        </button>
        <span
          *ngIf="
            !headerData?.proposalStatus?.URL &&
            headerData?.proposalStatus?.NAME &&
            headerData?.isUserAuthorized
          "
        >
          {{ '@Proposal in' | translate }}
          <b>{{ headerData?.proposalStatus?.NAME | translate }}</b
          >, {{ '@please come back later' | translate }}
        </span>
        <span
          *ngIf="
            headerData?.proposalStatus?.NAME && !headerData?.isUserAuthorized
          "
        >
          {{ '@Proposal in' | translate }}
          <b>{{ headerData?.proposalStatus?.NAME | translate }}</b>
        </span>
        <div
          *ngIf="
            !headerData?.proposalStatus?.URL &&
            !headerData?.proposalStatus?.NAME
          "
          class="status-message"
        >
          <button
            type="button"
            class="btn btn-light rounded-pill btn-redo"
            (click)="reload()"
          >
            <i class="fas fa-redo"></i>
          </button>
          <p>
            {{ '@Your proposal state could not be retrieved' | translate
            }}<br />
            {{ '@Please, try again' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ui-header>
