.multiActions{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(25,118,210, 0.9);
    color: white;
    padding: 10px;
}

.divider {
    margin-left: 20px;
    border-left: 1px solid white;
}