@import "variablesNew";

$radius-circle: 24px;
$diameter-circle: $radius-circle * 2;

.stepper-guidelines {
	height: 100%;
	position: relative;

	&__circle {
		border: 1px solid $border-color-image-box;
		border-radius: $radius-circle;
		display: flex;
		justify-content: center;
		height: $diameter-circle;
		width: $diameter-circle;

		&--selected {
			border: 1px solid $icon-color-check;
		}
	}

	&__icon {
		align-items: center;
		color: $icon-color-normal;
		display: flex;
		font-size: 26px;

		&--selected {
			color: $icon-color-check;
		}
	}

	&__next-guideline {
		&::after {
			content: "";
			border-left: 1px solid $border-color-image-box;
			height: calc(100% - #{$diameter-circle});
			left: $radius-circle;
			position: absolute;
		}
	}

	&__previous-guideline {
		&::before {
			content: "";
			border-left: 1px solid $border-color-image-box;
			height: $spacing-M;
			left: $radius-circle;
			top: -$spacing-M;
			position: absolute;
		}
	}
}
