<div class="need-help-modal">
	<div class="need-help-modal__header-box">
		<h2 class="need-help-modal__title">
			{{ 'components.needHelpModal.title' | translate }}
		</h2>
	</div>
	<div class="need-help-modal__image-description-box">
		<div class="need-help-modal__description-box">
			<span>
				{{ 'components.needHelpModal.textDescription.first' | translate }}
				<span class="need-help-modal__description-box--text-bold">{{'components.needHelpModal.textDescription.userMenu' | translate}}</span>
				{{ 'components.needHelpModal.textDescription.second' | translate }}
				<span class="need-help-modal__description-box--text-bold">{{'components.needHelpModal.textDescription.generateToken' | translate}}</span>

			</span>
			<div class="need-help-modal__box-third-text">
				<span>{{ 'components.needHelpModal.textDescription.third' | translate }}</span>

			</div>
		</div>
		<div class="need-help-modal__image-need-help-box">
			<img src="client/assets/images/softokenNeedHelp.gif" class="need-help-modal__image-need-help">
		</div>
	</div>

	<div class="need-help-modal__footer">
		<mcy-button
			[id]="'need-help-modal__back-button'"
			[color]="'tertiary'"
			(handleClick)="onBack()">
			{{ 'components.needHelpModal.buttonBackText' | translate }}
		</mcy-button>
	</div>
</div>



