.modalContainer{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 48px; 
    background: #fff;
    padding: 0 10px;
}

.modalFondo {
    position: absolute;
    top: 0px;
    height: 48px; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

button {
    margin: 5px 5px 6px 5px;
}

.buttons {
    color : #6a6a6a;
}

.selectButton {
    color: #304ffe !important;
    border-bottom: 2px solid #304ffe;
    padding: 0px;
    font-weight: 400;
    font-weight: 500;
    font-size: 17px;
}