<div fxLayout="column" style="position: relative;">
    <mat-form-field appearance="outline">
        <mat-label>{{autocompleteData.placeholder ? autocompleteData.placeholder : null}}</mat-label>
        <input matInput (focus)="autocompleteToggle(true)" [formControl]="search" placeholder="{{autocompleteData.placeholder ? autocompleteData.placeholder : null}}"
            autocomplete="off">
    </mat-form-field>
    <div class="form__autocomplete" *ngIf="autocompleteStatus">
        <div fxLayout="row" *ngIf="loading" fxLayoutAlign="center center" class="form__options_loading">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
        <div fxLayout="row" *ngIf="options.length === 0" fxLayoutAlign="center center">
            <p style="margin-top:0px;">{{defaultMessage}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let option of options" (click)="pathOption(option)" [ngClass]="{'form__autocomplete__active': optionSelected._id === option._id}">
            <img src="{{option.profileImage ? option.profileImage.url : '../../../assets/images/default.png'}}"
                class="form__option__image">
            <p style="margin-top:0px;">{{option[fieldToShow]}}</p>
        </div>
    </div>
</div>