<app-view-document-manager-window></app-view-document-manager-window>
<app-document-manager-window></app-document-manager-window>
<div class="container" [formGroup]="formChecklist">
  <p>
    {{
      '@MSG_Please scan the requested documents and upload them to the platform'
        | translate
    }}
  </p>
  <div class="documents__list">
    <h4 class="documents__subtitle" *ngIf="ownerCount > 0">
      {{ '@Owner document' | translate }}
    </h4>
    <div class="row">
      <div class="col-md-12 documents__list">
        <app-checklist-manager
          [proposalId]="proposalId"
          [filterFunction]="getEditable('OWNER')"
          (counted)="setOwnerCount($event)"
          (pendingDocumentsNumber)="setPendingDocumentsOwner($event)"
        ></app-checklist-manager>
      </div>
      <div class="col-md-12 documents__list">
        <app-view-checklist-manager
          [proposalId]="proposalId"
          [filterFunction]="getReadOnly('OWNER')"
        ></app-view-checklist-manager>
      </div>
    </div>
    <div class="row mt-3" *ngIf="!!ownerCount && isLaRiojaProvinceOwner">
      <div class="col">
        <app-form-field>
          <div class="btn-group btn-group-toggle btn-group-checkbox">
            <label ngbButtonLabel>
              <input
                id="teste"
                type="checkbox"
                ngbButton
                formControlName="laRiojaOwner"
              />
              {{
                '@MSG_I authorize the Bank to verify the Food Debt document'
                  | translate
              }}
            </label>
          </div>
        </app-form-field>
      </div>
    </div>
  </div>
  <div class="documents__list">
    <h4 class="documents__subtitle" *ngIf="coOwnerCount > 0">
      {{ '@CoOwner document' | translate }}
    </h4>
    <div class="row">
      <div class="col-md-12 documents__list">
        <app-checklist-manager
          [proposalId]="proposalId"
          [filterFunction]="getEditable('CO_OWNER')"
          (counted)="setCoOwnerCount($event)"
          (pendingDocumentsNumber)="setPendingDocumentsCoOwner($event)"
        ></app-checklist-manager>
      </div>
      <div class="col-md-12 documents__list">
        <app-view-checklist-manager
          [proposalId]="proposalId"
          [filterFunction]="getReadOnly('CO_OWNER')"
        ></app-view-checklist-manager>
      </div>
    </div>
    <div class="row mt-3" *ngIf="!!coOwnerCount && isLaRiojaProvinceCoOwner">
      <div class="col">
        <app-form-field>
          <div class="btn-group btn-group-toggle btn-group-checkbox">
            <label ngbButtonLabel>
              <input
                type="checkbox"
                ngbButton
                formControlName="laRiojaCoOwner"
              />
              {{
                '@MSG_I authorize the Bank to verify the Food Debt document'
                  | translate
              }}
            </label>
          </div>
        </app-form-field>
      </div>
    </div>
  </div>
  <div class="documents__list">
    <h4 class="documents__subtitle" *ngIf="vehicleCount > 0">
      {{ '@Vehicle data' | translate }}
    </h4>
    <div class="row">
      <div class="col-md-12 documents__list">
        <app-checklist-manager
          [proposalId]="proposalId"
          [filterFunction]="getEditable('VEHICLE')"
          (counted)="setVehicleCount($event)"
          (pendingDocumentsNumber)="setPendingDocumentsVehicle($event)"
        ></app-checklist-manager>
      </div>
      <div class="col-md-12 documents__list">
        <app-view-checklist-manager
          [proposalId]="proposalId"
          [filterFunction]="getReadOnly('VEHICLE')"
        ></app-view-checklist-manager>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <small class="text-muted">
            {{
              '@MSG_All files must be in PDF, JPG or PNG format (10 MB max.)'
                | translate
            }}
          </small>
        </li>
        <li>
          <small class="text-muted">
            {{ '@MSG_Make sure all images are readable' | translate }}
          </small>
        </li>
      </ul>
    </div>
  </div>
</div>
