<section class="primary-page-layout">
	<div class="primary-page-layout__header">
		<div *ngIf="back" class="primary-page-layout__back-link" (click)="onBackClick()">
			<mcy-contextual-button [id]="'primary-page-layout__back-button'" prefixIcon="seta_esquerda">
				{{ back }}
			</mcy-contextual-button>
		</div>
		<div class="primary-page-layout__bar">
			<h1 *ngIf="title" class="primary-page-layout__title">{{ title }}</h1>
			<div class="primary-page-layout__cancel">
				<ng-content select="[actions]"></ng-content>
			</div>
		</div>
	</div>

	<ng-content *ngIf="!isLoading" select="[body]"></ng-content>

	<div class="primary-page-layout__spinner-container" *ngIf="isLoading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>
</section>
