@import 'variablesNew';
@import 'mixins';
@import 'media';

.primary-page-layout {
	max-width: 1024px;
	margin: auto;
	
	&__header {
		padding: $spacing-XXL $spacing-XXL $spacing-S $spacing-XXL;
	}

	&__back-link {
		// Fix for icon alignment
		margin-left: -5px;
		margin-bottom: $spacing-XXL;
	}

	&__bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		@include font-primary-light();
		font-size: $font-size-XXXL;
		margin: 0;
	}

	&__spinner-container{
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: $spacing-XXL;
	}
}
