@import 'variablesNew';
@import 'mixins';

.contact-list {
	width: 100%;

  &__contact {
		display: flex;
		justify-content: space-between;
		margin:  $spacing-XL 0;
		cursor: pointer;
	}

	&__contact:first-child {
		margin: 0 0 $spacing-XL 0;
	}

	&__contact {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__contact-detail {
		flex: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__contact-header {
		display: flex;
		justify-content: center;
		flex: 7;
		display: flex;
	}

	&__contact-image {
		display: flex;
		justify-content: center;
		margin-right: $spacing-XS;
	}

	&__contact-name {
		@include font-primary-semibold();
		font-size: $font-size-S;
		color: $text-color-primary;
		line-height: 16px;
	}

	&__contact-category {
		@include font-primary-regular();
		font-size: $font-size-S;
		color: $text-color-primary;
		line-height: 16px;
	}

	&__contact-detail-value {
		@include font-primary-regular();
		color: $text-color-primary;
		display: flex;
		font-size: $font-size-S;
		justify-content: flex-end;
	}

	&__contact-detail-label {
		@include font-primary-regular();
		color: $text-color-primary;
		display: flex;
		font-size: $font-size-S;
		justify-content: flex-end;
	}

	&__show-more {
		font-size: $font-size-M;
		cursor: pointer;
		display: flex;
		justify-content: center;
		color: $text-color-link;
	}

	&__show-more-label {
		@include font-primary-bold();
		padding: 0 $spacing-S 0 0;
	}

	&__empty {
		display: flex;
		margin: $spacing-XXL;
		flex-direction: column;
		align-items: center;
	}

	&__empty-icon {
		font-size: 72px;
		color: $text-color-disabled;
	}

	&__empty-description {
		@include font-primary-regular;
		max-width: 340px;
		font-size: $font-size-M;
		text-align: center;
		margin: $spacing-XS 0 0 0;
		line-height: 1.5;
	}
}
