<div class="contact-list">
	<div
		class="contact-list__contact"
		(click)="selectContact(contact)"
		*ngFor="let contact of selectedContactList">
			<div class="contact-list__contact-header">
				<mcy-profile-image
					[size]="'small'" 
					[name]="contact.name" 
					[selected]="contact.id === selectedContact" 
					[favorite]="contact.favorite ? contact.favorite : null"
					[category]="contact.category"
					class="contact-list__contact-image"
				></mcy-profile-image>
				<div class="contact-list__contact-detail">
					<span class="contact-list__contact-name">
						{{ contact.reference }}
					</span>
					<span class="contact-list__contact-category">
						{{ contact.name }}
					</span>
				</div>
			</div>
		<div class="contact-list__contact-detail">
			<span class="contact-list__contact-detail-value">
				{{ contact.cbvu }}
			</span>
			<span class="contact-list__contact-detail-label">
				{{ 'common.cbvu' | translate }}
			</span>
		</div>
	</div>
	<mat-divider *ngIf="selectedContactList.length > 0"></mat-divider>
	<div class="contact-list__empty" *ngIf="contactList.length === 0">
		<mcy-icon class="contact-list__empty-icon">busca_outline</mcy-icon>
		<span class="contact-list__empty-description" *ngIf="!isSearching">
			{{ emptyDescription ? emptyDescription : 'components.contactList.emptyDescription' | translate }}
		</span>
		<span class="contact-list__empty-description" *ngIf="isSearching">
			{{ 'components.contactList.emptySearchDescription' | translate }}
		</span>
	</div>
	<div
		class="contact-list__contact"
		(click)="selectContact(contact)"
		*ngFor="let contact of contactList">
		<div class="contact-list__contact-header">
			<mcy-profile-image
				[size]="'small'" 
				[name]="contact.name" 
				[selected]="contact.id === selectedContact" 
				[favorite]="contact.favorite ? contact.favorite : null"
				[category]="contact.category"
				class="contact-list__contact-image"
			></mcy-profile-image>
			<div class="contact-list__contact-detail">
				<span class="contact-list__contact-name">
					{{ contact.reference }}
				</span>
				<span class="contact-list__contact-category">
					{{ contact.name }}
				</span>
			</div>
		</div>
		<div class="contact-list__contact-detail">
			<span class="contact-list__contact-detail-value">
				{{ contact.cbvu }}
			</span>
			<span class="contact-list__contact-detail-label">
				{{ 'common.cbvu' | translate }}
			</span>
		</div>
	</div>
	<div
		class="contact-list__show-more"
		*ngIf="contactsOnDisplay < contacts.length"
		(click)="showMoreContacts()"
	>
		<span class="contact-list__show-more-label">
			{{ 'components.contactList.showMore' | translate }}
		</span>
		<mcy-icon>seta_baixo</mcy-icon>
	</div>
</div>
