@import 'scss/mixins';
@import 'scss/variables';
@import 'scss/colors';

::ng-deep .modal-dialog {
  margin: 5% auto;
}

::ng-deep .modal-content {
  padding: 2rem 2rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.modal-header {
  border-bottom: none;
  text-align: center;
  display: block;

  .modal-title {
    width: 100%;
  }

  .close {
    position: absolute;
    right: 1.5rem;
    top: 1rem;

    &:focus {
      outline: none;
    }

    i {
      color: gray;
    }
  }
  .fa-map-marked-alt {
    font-size: 2rem;
    color: $santander-info;
    margin-bottom: 1rem;
  }
}

.modal-body {
  text-align: left;
  padding: 0 0 1rem;

  & > p {
    margin: 0;
  }
}

::ng-deep .modal-footer {
  border-top: none;
  padding: 0 0 1rem;

  .btn {
    min-width: 100px;
  }
}
