<div class="modal-header">
  <i class="fas fa-map-marked-alt"></i>

  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form autocomplete="off" [formGroup]="normalizedAddressForm">
    <app-form-field label="{{ '@Street' | translate }}">
      <ng-select
        [items]="addressList"
        bindLabel="parsedAddress"
        placeholder="{{ '@Select Address' | translate }}"
        formControlName="street"
        (change)="addressChange($event)"
      >
      </ng-select>
    </app-form-field>

    <app-form-field label="{{ '@Number' | translate }}">
      <input
        type="text"
        class="form-control"
        placeholder="{{ '@Enter Number' | translate }}"
        maxlength="5"
        formControlName="number"
      />
    </app-form-field>
  </form>
</div>
<div class="modal-footer d-flex justify-content-center" *ngIf="buttons">
  <div *ngFor="let btn of buttons">
    <button
      type="button"
      class="btn btn-{{ btn.type }}"
      (click)="submit()"
      [disabled]="disableButton"
    >
      {{ btn.label }}
    </button>
  </div>
</div>
