@import 'variablesNew';
@import 'mixins';

.cancel-requests-status {
	&__content {
		padding: $spacing-S $spacing-XL;
	}
	&__actions-list {
		padding: $spacing-L;
	}
	&__list {
		padding: $spacing-L 0 0 $spacing-XXL;
	}
	&__description {
		padding: $spacing-M;
	}
	&__list-icon {
		display: flex;
		align-items: center;
		color: $icon-color-primary;
		border-radius: $radius-circle;
		background-color: $icon-color-normal;
		font-size: 24px;
		height: 48px;
		justify-content: center;
		margin: 0 $spacing-XL 0 0;
		min-width: 48px;
		width: 48px;
	}
	&__bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__main-title {
		font-size: $font-size-L;
		@include font-primary-bold();
	}
}