<div class="requests-selection" [ngStyle]="{'width': formattedWidth}">
	<div class="requests-selection__section">
		<mcy-icon-button
			[id]="'requests-selection__close'"
			class="requests-selection__close-icon" (click)="reset()">
			fechar
		</mcy-icon-button>
		<div class="requests-selection__profile-content">
			<div class="requests-selection__profile" *ngFor="let request of tempRequestList; let i=index">
				<mcy-profile-image
					[size]="'small'"
					[name]="request.detail">
				</mcy-profile-image>
			</div>
		</div>
		<div class="requests-selection__count">
			<span class="requests-selection__count-number">{{selectedRequests.length}}
				<span class="requests-selection__count-number">{{selectionText()}}</span>
			</span>
			<span class="requests-selection__text">{{'pages.requests.requestsList.selectionMessage' | translate}}</span>
		</div>
	</div>
	<div class="requests-selection__currency-content">
		<div *ngFor="let item of currencySummary" class="requests-selection__currency-summary">
			<span class="requests-selection__text">{{getCurrencyLabel(item.currency)}}</span>
			<span class="requests-selection__currency">{{item.currency}} {{item.amount | mcyAmount}}</span>
		</div>
	</div>

	<div class="requests-selection__section">
		<span *ngIf="!validSelection" class="requests-selection__default-text">{{'pages.requests.requestsList.differentStateMessage' | translate}}</span>
		<span *ngIf="validSelection && !activeActions.length" class="requests-selection__default-text">{{'pages.requests.requestsList.thereAreNoActions' | translate}}</span>
		<div *ngIf="validSelection && activeActions.length">
			<mcy-button
				[id]="'requests-selection__redirect-button'"
				class="requests-selection__button"
				*ngFor="let button of activeActions"
				(handleClick)="goTo(button.path)"
				[color]="button.color"
				[id]="'requests-selection__button-' + button.id">
				{{getActionLabel(button.type)}}
			</mcy-button>
		</div>
	</div>
</div>
