@import 'variables';
@import 'mixins';

.requests-selection {
	position: fixed;
	bottom: 0;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 $spacing-L;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
	background-color: $background-color-quinary;
	z-index: $z-index-normal;
	&__section {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__close-icon {
		color: $icon-color-septenary;
		margin-right: $spacing-S;
		font-size: 24px;
	}
	&__profile-content {
		display: flex;
		align-items: center;
		margin: 0 $spacing-S;
	}
	&__profile {
		margin: 0 -$spacing-XS;
	}
	&__currency-content {
		display: flex;
		justify-content: center;
	}
	&__count {
		display: flex;
		flex-direction: column;
		margin-left: $spacing-XS;
	}
	&__count-number {
		@include font-primary-bold();
		font-size: $font-size-M;
		margin-bottom: $spacing-XS;
	}
	&__text {
		font-size: $font-size-M;
	}
	&__default-text {
		font-size: $font-size-M;
		text-align: center;
		width: 260px;
	}
	&__currency-summary {
		display: flex;
		flex-direction: column;
		margin-right: $spacing-M;
	}
	&__currency {
		margin-top: $spacing-XS;
		@include font-primary-bold();
		font-size: $font-size-L;
	}
	&__button {
		margin-right: $spacing-S;
	}
}
