<div fxLayout="row" fxLayoutAlign="center center">
    <h2 class="mainTitle">Rol</h2>
</div>

<form RoleForm [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-sm="column" class="form__content">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" placeholder="Nombre">
                </mat-form-field>
                <app-autocomplete [optionsAutocomplete]="companiesList" [defaultMessage]="'No hay empresas encontradas'" [autocompleteData]="autocompleteData" [optionsLoading]="loadingCompanies" (searchValues)="searchValues($event)" (patchValue)="patchValue($event)">
                </app-autocomplete>
                <mat-form-field appearance="outline">
                    <mat-label>Locales</mat-label>
                    <mat-select placeholder="Locales" formControlName="locals" multiple>
                        <!-- <mat-option *ngIf="localsList.length === 0">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <p>No hay locales disponibles para esta empresa</p>
                            </div>
                        </mat-option> -->
                        <mat-option *ngFor="let local of localsList" [value]="local._id">{{local.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="description" placeholder="Descripcion">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Aplicación</mat-label>
                    <mat-select placeholder="Aplicación" formControlName="application" [compareWith]="compareFn">
                        <!-- <mat-option *ngIf="applicationsList.length ===0">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <p>No hay aplicaciones disponibles</p>
                            </div>
                        </mat-option> -->
                        <mat-option *ngFor="let application of applicationsList" [value]="application._id">
                            {{application.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Permisos</mat-label>
                    <mat-select placeholder="Permisos" formControlName="permissions" multiple>
                        <!-- <mat-option *ngIf="permissionsList.length === 0">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <p>No hay permisos disponibles para esta empresa</p>
                            </div>
                        </mat-option> -->
                        <mat-option *ngFor="let permission of permissionsList" [value]="permission._id">{{permission.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
        <button mat-flat-button color="primary" (click)="volver()">Volver</button>
        <button mat-flat-button color="primary" (click)="buttonActionRole()">{{item? 'Actualizar' : 'Guardar' }}</button>
        <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
    </div>
</form>