@import 'variablesNew';
@import 'mixins';

.salary-scheduled-requests {
	height: 244px;
	border-radius: $radius-XXS;
	background-color: $background-color-secondary;
	border: solid 1px $border-color-carousel-card;
	padding: $spacing-S $spacing-XS;
	&__header-actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__icon {
		font-size: 24px;
		color: $icon-color-spinner;
	}
	&__content {
		display: flex;
		flex-direction: column;
		padding-bottom: $spacing-XS;
		margin-bottom: $spacing-XS;
		border-bottom: solid 1px $border-color-carousel-card;
	}
	&__footer {
		display: flex;
	}
	&__name {
		color: $text-color-tertiary;
		font-size: $font-size-XXS;
		margin: $spacing-XXS 0;
	}
	&__text {
		color: $text-color-tertiary;
		font-size: $font-size-XXS;
	}
	&__id {
		margin-top: $spacing-S;
		color: $text-color-tertiary;
		font-size: $font-size-XXS;
	}
	&__amount {
		font-size: $font-size-M;
		margin-top: $spacing-S;
	}
	&__detail {
		@include font-primary-bold();
		color: $text-color-link-light;
		cursor: pointer;
		font-size: $font-size-S;
	}
}