<div class="salary-scheduled-requests">
	<div class="salary-scheduled-requests__header-actions">
		<mcy-profile-image
			[size]="'small'"
			[name]="data.detail">
		</mcy-profile-image>
		<voxel-loading-circle [showLoading]="loading" size="small"></voxel-loading-circle>
		<mcy-icon-button
			*ngIf="hasUserDeletePermission"
			(handleClick)="cancelRequest()"
			class="salary-scheduled-requests__icon">
			excluir_outline
		</mcy-icon-button>
	</div>
	<div class="salary-scheduled-requests__content">
		<span class="salary-scheduled-requests__name">{{data.detail}}</span>
		<span class="salary-scheduled-requests__amount">{{data.currency.symbol}} {{data.amount | mcyAmount}}</span>
		<span class="salary-scheduled-requests__text">{{formatDate(data.lastUpdateDate)}}</span>
		<span class="salary-scheduled-requests__id">{{data.id}}</span>
	</div>
	<div class="salary-scheduled-requests__footer">
		<span class="salary-scheduled-requests__detail" (click)="showRequestDetail()">Ver detalle</span>
	</div>
</div>