<div class="checks-issued-list">
	<mcy-account-selector
		[accountList]="accountList"
		[id]="'checks-issued-list__select'"
		[title]="'pages.checkbooks.checksIssued.selectTitle' | translate"
		(accountSelected)="accountSelected($event)">
	</mcy-account-selector>

	<div class="checks-issued-list__general-error" *ngIf="hasGeneralError">
		<mcy-loading-data-error
			[errorDescription]="generalErrorMessage"
			[displayRetry]="true"
			(handleOnRetry)="retry()">
		</mcy-loading-data-error>
	</div>

	<div *ngIf="!paginatedChecksIssued.length && !state.hasErrorChecksIssued && !state.loadingChecksIssued">
		<mcy-check-service-errors *ngIf="errorMessages.length"
			[errorMessages]="errorMessages">
		</mcy-check-service-errors>

		<div class="checks-issued-list__header">
			<div>
				<span class="checks-issued-list__count">{{filteredChecksIssued.length}}</span>
				<span class="checks-issued-list__title">{{'pages.checkbooks.landing.checksIssued' | translate}}</span>
			</div>
			<div>
				<mcy-contextual-button
					[id]="'checks-issued-list__search-icon'"
					[sufixIconSize]="'16px'"
					[sufixIcon]="showFilters ? 'seta_cima' : 'busca_outline'"
					(handleClick)="toggle()">
					{{labelFilters}}
				</mcy-contextual-button>
			</div>
		</div>
	</div>

	<mcy-checks-issued-filters *ngIf="showFilters" (sendFilters)="sendFilters($event)"></mcy-checks-issued-filters>

	<mcy-checks-issued-list *ngIf="!hasGeneralError"
		[checks]="paginatedChecksIssued"
		[loading]="loading"
		[hasAccountSelected]="hasAccountSelected"
		[emptyMessage]="'pages.checkbooks.checksIssued.emptyMessage' | translate">
	</mcy-checks-issued-list>

	<div class="checks-issued-list__show-more">
		<mcy-contextual-button
			[id]="'checks-issued-list__change-pagination'"
			sufixIcon="seta_baixo"
			(handleClick)="changePagination()"
			*ngIf="filteredChecksIssued.length > paginatedChecksIssued.length&& !hasGeneralError && !loading">
			{{'pages.checkbooks.checksIssued.showMore' | translate}}
		</mcy-contextual-button>
	</div>
</div>