<div [formGroup]="form" style="position: relative;" *ngIf="visibleValue">
  <mat-form-field appearance="{{appearance}}">
    <mat-label>{{label()}}</mat-label>
    <input 
      matInput
      [disableControl]="disableValue" 
      [formControl]="search" 
      placeholder="{{placeholder()}}"
      autocomplete="off" 
      (input)="filterOptions($event.target.value)"
      (focus)="showOptionsToggle(true)"
    >
    <mat-error *ngIf="searchValidateControl()">{{errorMessage()}}</mat-error>
  </mat-form-field>
  <div class="autocomplete-content" *ngIf="showOptions">
    <div fxLayout="row" *ngIf="!filteredOptions.length && defaultMessage" class="autocomplete-default-message" fxLayoutAlign="center center">
      <p style="margin-top:0px;">{{defaultMessage}}</p>
    </div>
    <div class="autocomplete-item" fxLayout="row" fxLayoutAlign="start center" *ngFor="let option of filteredOptions"
      (click)="selectOption(option)">
      <p style="margin-top:0px;">{{option[field.options.associationText]}}</p>
    </div>
  </div>
</div>