<div class="salary">
	<div class="salary__header-buttons">
		<mcy-button
			[id]="'salary__button-export'"
			class="salary__button"
			color="secondary"
			(handleClick)="exportServiceList()">
			<mcy-icon class="salary__icon">documento_outline</mcy-icon>
			{{ 'common.exportSummary' | translate }}
		</mcy-button>
		<mcy-button
			*ngIf="hasWritePermission"
			[id]="'salary__button-pay-new-salary'"
			class="salary__button"
			(handleClick)="goToNewSalaryPayment()"
			color="primary">
			{{ 'pages.payments.payNewSalary' | translate }}
		</mcy-button>
	</div>

	<div class="salary__request">
		<mcy-salary-scheduled-requests
			*ngIf="!requestsState.loading && !requestsState.hasRequestError"
			[requests]="filteredScheduledRequests"
			[totalRequest]="filteredScheduledRequests.length">
		</mcy-salary-scheduled-requests>

		<mcy-salary-requests-list
			*ngIf="!requestsState.loading && !requestsState.hasRequestError"
			[requests]="filteredRequestBySizePage"
			[selectedRequests]="selectedRequests"
			[defaultFilters]="requestsFilters"
			[totalRequest]="totalRequest">
		</mcy-salary-requests-list>

		<div class="salary__spinner-container"
			*ngIf="requestsState.loading">
			<voxel-loading-circle
				[showLoading]="true"
				size="large">
			</voxel-loading-circle>
		</div>
		<mcy-loading-data-error
			*ngIf="requestsState.hasRequestError && !requestsState.loading "
			[displayRetry]="true"
			(handleOnRetry)="onSubmitRequest()"
		></mcy-loading-data-error>
	</div>

	<div class="salary__salary-payment">
		<div class="salary__salary-payments-list"
			*ngIf="!salaryPaymentState.loading && !salaryPaymentState.hasSalaryPaymentErrors">
			<div class="salary__box-title">
				<div class="salary__box-sub-title">
					<div>
						<span class="salary__total-services-soon-expired">
							{{totalSalariesSoonExpired}}
						</span>
						<span class="salary__title">{{ 'pages.payments.salary.totalSalariesSoonExpired' | translate}}</span>
					</div>
					<mcy-icon
						[id]="'salary__icon-search'"
						class="salary__icon-search"
						(click)="showFilters();">
						busca
					</mcy-icon>
				</div>
				<div>
					<span class="salary__sub-title">
						{{ 'pages.payments.salary.subTitleSalariesSoonExpired' | translate}}
					</span>
				</div>
			</div>
			<div *ngIf="visibleFilters">
				<mcy-payments-filters
					typeFilters="salary"
					(sendFilters)="filterData($event)">
				</mcy-payments-filters>
			</div>
			<mcy-salary-payments-list
				[salaryPayments]="paginatedSalaryPaymentsList">
			</mcy-salary-payments-list>
			<div class="salary__more-button-container">
				<mcy-contextual-button
					[id]="'salary__button-more'"
					sufixIcon="seta_baixo"
					(handleClick)="changePagination()"
					*ngIf="filteredSalaryPayments.length > paginatedSalaryPaymentsList.length">
					{{'pages.payments.debtsList.more' | translate}}
				</mcy-contextual-button>
			</div>
		</div>

		<div class="salary__spinner-container"
			*ngIf="salaryPaymentState.loading">
			<voxel-loading-circle
				[showLoading]="true"
				size="large">
			</voxel-loading-circle>
		</div>
		<mcy-loading-data-error
			*ngIf="salaryPaymentState.hasSalaryPaymentErrors && !salaryPaymentState.loading"
			[displayRetry]="true"
			(handleOnRetry)="onSubmitSalaryPayment()"
		></mcy-loading-data-error>
	</div>

</div>
