<div *ngIf="loadingForm" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="30" style="margin: 50px;"></mat-spinner>
</div>
<div *ngIf="!loadingForm">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h2 class="mainTitle">Usuario</h2>
    </div>

    <form UserForm [formGroup]="form">
        <div fxLayout="row" fxLayout.lt-sm="column" class="form__content" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div" *ngIf="item">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <h4 style="margin-top: 0">Foto de perfil</h4>
                    <app-upload-files [defaultImage]="image" (fileSelectedEvent)="setFile($event)"></app-upload-files>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="email" placeholder="Correo">
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="!item">
                        <mat-label>Clave</mat-label>
                        <input matInput formControlName="password" placeholder="Clave">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="userName" placeholder="Usuario">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="firstName" placeholder="Nombre">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="lastName" placeholder="Apellido">
                    </mat-form-field>
                    <div style="width: 100%;">
                        <app-autocomplete [optionsAutocomplete]="companiesList" [defaultMessage]="'No hay empresas encontradas'"
                            [autocompleteData]="autocompleteData" [optionsLoading]="loadingCompanies" (searchValues)="searchValues($event)"
                            (patchValue)="patchValue($event)">
                        </app-autocomplete>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Aplicación</mat-label>
                        <mat-select placeholder="Aplicación" formControlName="application" [compareWith]="compareFn">
                            <mat-option *ngFor="let application of applicationsList" [value]="application._id">
                                {{application.name}}
                            </mat-option>
                            <mat-option *ngIf="applicationsList.length === 0">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <p>No hay aplicaciones disponibles</p>
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select placeholder="Role" formControlName="role" [compareWith]="compareFn">
                            <mat-option *ngIf="rolesList.length === 0">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <p>No hay roles disponibles</p>
                                </div>
                            </mat-option>
                            <mat-option *ngFor="let role of rolesList" [value]="role._id">
                                {{role.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
            <button mat-flat-button color="primary" (click)="volver()">Volver</button>
            <button mat-flat-button color="primary" (click)="buttonActionUser()">{{item? 'Actualizar' : 'Guardar' }}</button>
            <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
        </div>
    </form>
</div>