<div class="cartSettings__sidebar">
  <div fxLayout="column" fxLayoutAlign="start center" style="height: 100%">
    <div class="cartSettings__sidebarItem" *ngFor="let item of items; index as i" (click)="changeValue(i)" [ngStyle]="style(i)">
      <mat-icon class="cartSettins_sidebarIcon">{{item.icon}}</mat-icon>
    </div>
  </div>
</div>

<div class="cartSettings__container">
  <app-cart-checkout *ngIf="value === 3"></app-cart-checkout>
  <app-cart-customers-list *ngIf="value === 2"></app-cart-customers-list>
  <app-cart-favorite-products-list *ngIf="value === 1"></app-cart-favorite-products-list>
  <app-cart-products-list *ngIf="value === 0"></app-cart-products-list>
</div>