@import 'variablesNew';
@import 'mixins';

.signup-error {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $spacing-XXL;

	&__container {
		width: 400px;
	}

	&__title {
		@include font-primary-extrabold();
		font-size: $font-size-XXL;
		color: $text-color-primary;
		margin: 0;
		text-align: center;
	}

	&__button-secondary {
		margin-right: $spacing-S;
	}
	
	&__button-group {
		margin-top: $spacing-XXL;
		display: flex;
		justify-content: flex-end;
	}

	&__error-icon-container {
		margin: $spacing-XXL 0;
		display: flex;
		justify-content: center;
	}

	&__error-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $background-color-cancel;
		border-radius: $radius-circle;
		color: $text-color-high-contrast;
		font-size: 40px;
		height: 80px;
		min-width: 80px;
		width: 80px;
	}

	&__errors-list-container {
		padding-left: $spacing-M;
		line-height: 1.5;
	}
	
	&__errors-list {
		list-style-type: none;
		margin: 0;
		@include font-primary-regular();
		color: $text-color-primary;
		padding-left: 0;
		margin-bottom: $spacing-S;
	}

	&__error-list-title {
		margin-bottom: $spacing-XXS;
		margin: 0;
		@include font-primary-regular();
		color: $text-color-primary;

	}

	&__errors-list-help {
		margin: 0;
		@include font-primary-regular();
		color: $text-color-primary;
	}
}
