@import 'variablesNew';
@import 'mixins';

.signup-success {
	&__header {
		display: flex;
		align-items: center;
	}

	&__document {
		@include font-primary-bold;
		padding: 0 0 0 $spacing-XS;
	}

	&__user-icon {
		align-items: center;
		background-color: $background-color-user-profile;
		border-radius: $radius-circle;
		color: $icon-color-primary;
		display: flex;
		height: 32px;
		justify-content: center;
		width: 32px;
	}

	&__main {
		width: 490px;
	}

	&__main-header {
		display: flex;
		align-items: center;
		margin: $spacing-XXL 0 0 0;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid $border-color-secondary;
	}

	&__main-header-title {
		@include font-primary-light;
		font-size: $font-size-XXXL;
	}

	&__signup-form-description {
		padding: $spacing-M 0;
		display: block;
		color: $text-color-primary;
		font-size: $font-size-M;
		line-height: 1.5;
	}

	&__signup-success-image {
		line-height: 1.38;
		font-size: $font-size-XS;
		display: block;
		padding: 0 0 $spacing-XS 0;
		margin: 0 0 $spacing-XXL 0;
		border-bottom: 1px solid $border-color-secondary;
	}

	&__signup-form-actions {
		display: flex;
		justify-content: flex-end;
	}

	&__success-image {
		height: 255px;
	}
}
