<mcy-signup-layout>
	<div header class="signup-success__header">
		<div class="signup-success__user-icon">
			<mcy-icon>usuario_outline</mcy-icon>
		</div>
		<span class="signup-success__document">
			{{ documentType }} {{ documentNumber }}
		</span>
	</div>
	<div aside>
		<mcy-sidebar-title [title]="getSidenavTitleTranslation()">
			<mcy-signup-stepper
				[selectedStep]="'success'"
				[isPositiveValidationChecked]="true"
				[isPersonalDataChecked]="true"
				[isAccessDataChecked]="true"
			></mcy-signup-stepper>
		</mcy-sidebar-title>
	</div>
	<div body class="signup-success__main">
		<div class="signup-success__main-header">
			<h1 class="signup-success__main-header-title">{{ 'pages.signupSuccess.title' | translate }}</h1>
		</div>
		<span class="signup-success__signup-form-description">
			{{ 'pages.signupSuccess.formDescription' | translate }}
		</span>

		<div class="signup-success__signup-success-image">
			<img class="signup-success__success-image">
		</div>

		<div class="signup-success__signup-form-actions">
			<mcy-button
				[id]="'signup-success__signup-form-actions-continue'"
				[color]="'primary'"
				(handleClick)="redirectToLogin()"
			>
				{{ 'pages.signupSuccess.continue' | translate }}
			</mcy-button>
		</div>
	</div>
</mcy-signup-layout>
