@import 'variables';
@import 'mixins';

$root: '.delete-contact-modal';

#{$root} {
	color: $text-color-primary;
	position: relative;

	&__title-container {
		display: flex;
		justify-content: space-between;
	}

	&__subtitle {
		@include font-primary-light();
		margin: $spacing-L 0;
  		font-size: $font-size-L;
	}

	&__contact-details {
		border-bottom: 1px solid $border-color-13;
		border-top: 1px solid $border-color-13;
		opacity: 0.85;
		margin: $spacing-S 0;
		padding: $spacing-L $spacing-M;
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		padding: $spacing-M 0 $spacing-L 0;
	}

	&__confirm-action {
		padding: 0 0 0 $spacing-S;
	}

	&__contact-details {
		display: flex;
		justify-content: space-between;
	}

	&__contact-detail {
		display: flex;
		flex-direction: column;
	}

	&__contact-detail-label {
		@include font-primary-bold();
		color: $text-color-senary;
		font-size: $font-size-S;
	}

	&__contact-detail-value {
		color: $text-color-ninth;
		margin: $spacing-L 0 0 0;
		font-size: $font-size-M;
	}

	&__close-icon {
		cursor: pointer;
		font-size: $spacing-XL;
	}
}
