<mcy-modal-content
	[title]="'pages.contacts.deleteModal.message' | translate"
	[cancel]="'pages.contacts.deleteModal.cancel' | translate"
	[confirmation]="'pages.contacts.deleteModal.confirmation' | translate"
	(handleCancel)="onCancel()"
	(handleConfirmation)="onConfirm()"
	(handleClose)="onCancel()"
>
	<h5 class="delete-contact-modal__subtitle">{{ 'pages.contacts.deleteModal.contactSelected' | translate }}</h5>
	<div class="delete-contact-modal__contact-details">
		<div class="delete-contact-modal__contact-detail">
			<span class="delete-contact-modal__contact-detail-label">{{ 'pages.contacts.deleteModal.contactNameLabel' | translate }}</span>
			<span class="delete-contact-modal__contact-detail-value">{{ data.contact.name }}</span>
		</div>

		<div class="delete-contact-modal__contact-detail">
			<span class="delete-contact-modal__contact-detail-label">
				{{ 'pages.contacts.deleteModal.contactCategoryLabel' | translate }}
			</span>
			<span class="delete-contact-modal__contact-detail-value">
				{{ 'pages.contacts.categories.' + data.contact.category | translate }}
			</span>
		</div>

		<div class="delete-contact-modal__contact-detail">
			<span class="delete-contact-modal__contact-detail-label">{{ 'pages.contacts.deleteModal.contactReferenceLabel' | translate }}</span>
			<span class="delete-contact-modal__contact-detail-value">{{ data.contact.reference }}</span>
		</div>
	</div>
</mcy-modal-content>

