@import 'variablesNew';
@import 'mixins';

.expiration-token-modal {
	width: 750px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__warning-container {
		flex: 1;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	&__continue-button-container {
		margin-bottom: $spacing-XS;
	}

	&__icon-container {
		display: flex;
		justify-content: center;
	}

	&__warning-icon-container {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: $background-color-badge-icon;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__warning-icon {
		font-size: 40px;
		color: white;
	}

	&__title {
		text-align: center;
		margin: 0;
		@include font-primary-extrabold();
		margin: $spacing-M 0;
	}

	&__subtitle {
		text-align: center;
		margin: 0;
		font-size: $font-size-M;
		line-height: 1.5;
		@include font-primary-regular();
	}
}