<div fxLayout="row" fxLayoutAlign="center center">
    <h2 class="mainTitle">Aplicacion</h2>
</div>

<form applicationForm [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-sm="column" class="form__content">



        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">

            <div fxLayout="column">

                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" placeholder="Nombre">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Codigo</mat-label>
                    <input matInput formControlName="code" placeholder="Codigo">
                </mat-form-field>
            </div>

        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="description" placeholder="Descripcion">
                </mat-form-field>
            </div>
        </div>


    </div>


    <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
        <button mat-flat-button color="primary" (click)="volver()">Volver</button>
        <button mat-flat-button color="primary" (click)="buttonActionApplication()">{{item? 'Actualizar' : 'Guardar' }}</button>
        <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
    </div>



</form>