<div class="checks-discounted-filters">
	<form [formGroup]="filterForm">
		<div class="checks-discounted-filters__row">
			<div class="checks-discounted-filters__search">
				<mcy-input
					[id]="'checks-discounted__search'"
					type="text"
					(handleChange)="filtersEmit()"
					[label]="'pages.checkbooks.checksDiscounted.filters.searchFieldLabel' | translate"
					[maxLength]="searchFieldLength"
					icon="busca_outline"
					formControlName="searchField">
				</mcy-input>
			</div>
			<div class="checks-discounted-filters__start-date">
				<mcy-date
					[id]="'checks-discounted__start-date'"
					[label]="'pages.checkbooks.checksDiscounted.filters.startFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="startDate"
					[maxDate]="executionDateFromMax"
				></mcy-date>
			</div>
			<div class="checks-discounted-filters__end-date">
				<mcy-date
					[id]="'checks-discounted__end-date'"
					[label]="'pages.checkbooks.checksDiscounted.filters.endFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="endDate"
					[maxDate]="executionDateToMax"
					[minDate]="executionDateToMin"
				></mcy-date>
			</div>
		</div>
	</form>
</div>

