<div class="requests-list" #table>
	<div *ngIf="loading" class="requests-list__loading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>
	<mcy-no-data-message *ngIf="!loading && !requests.length" [message]="emptyMessage"></mcy-no-data-message>
	<table *ngIf="!loading && requests.length" mat-table [dataSource]="requests" class="mat-elevation-z8 requests-list__table"
		id="requests-list__table">

		<ng-container matColumnDef="profiles">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let request" class="requests-list__icon-column">
				<mcy-profile-image
					*ngIf="!isServicePayment(request) && !isCheckbook(request)"
					[id]="'requests-list-table__profile'"
					(click)="select(request)"
					class="requests-list__profile"
					[size]="'small'"
					[selected]="selected(request)"
					[name]="request.detail">
				</mcy-profile-image>
				<mcy-badge-icon
					*ngIf="isServicePayment(request)"
					class="requests-list__badge-icon"
					[iconSize]="'24px'"
					(click)="select(request)"
					[selected]="selected(request)"
					[badgeSize]="'small'"
					[type]="'service'">
					globo
				</mcy-badge-icon>
				<mcy-badge-icon
					*ngIf="isCheckbook(request)"
					class="requests-list__badge-icon"
					[iconSize]="'24px'"
					(click)="select(request)"
					[selected]="selected(request)"
					[badgeSize]="'small'"
					[type]="'caution'">
					cheque_outline
				</mcy-badge-icon>
			</td>
		</ng-container>

		<ng-container matColumnDef="number">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.requests.requestsList.number' | translate}}
			</th>
			<td mat-cell *matCellDef="let request">
				{{request.id}}
			</td>
		</ng-container>

		<ng-container matColumnDef="operationAndDetail">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.requests.requestsList.operationAndDetail' | translate}}
			</th>
			<td mat-cell *matCellDef="let request">
				<div class="requests-list__operation-and-detail">
					<span class="requests-list__type">{{getOperation(request)}}</span>
					<span class="requests-list__name">{{request.detail}}</span>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="amount">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.requests.requestsList.amount' | translate}}
			</th>
			<td mat-cell *matCellDef="let request">
				{{request.currency.symbol}} {{request.amount | mcyAmount}}
			</td>
		</ng-container>

		<ng-container matColumnDef="lastUpdate">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.requests.requestsList.lastUpdate' | translate}}
			</th>
			<td mat-cell *matCellDef="let request">
				{{formatDate(request.lastUpdateDate)}}
			</td>
		</ng-container>

		<ng-container matColumnDef="state">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.requests.requestsList.state' | translate}}
			</th>
			<td mat-cell *matCellDef="let request"
				class="requests-list__state{{getColorClassByState(request.state)}}">
				{{getState(request.state)}}
			</td>
		</ng-container>

		<ng-container matColumnDef="powerOfSignature">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.requests.requestsList.powerOfSignature' | translate}}
			</th>
			<td mat-cell *matCellDef="let request">
				<mcy-signature [request]="request"></mcy-signature>
			</td>
		</ng-container>

		<ng-container matColumnDef="details">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let request; let cellIndex = index" class="requests-list__icon-column">
				<mcy-icon-button
					[id]="'requests-list__show-details-button-' + cellIndex"
					class="requests-list__icon"
					(handleClick)="goToDetail(request)">
					comprovante_outline
				</mcy-icon-button>
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns">
		</tr>
		<tr mat-row
			*matRowDef="let row; columns: displayedColumns;">
		</tr>
	</table>
</div>
<mcy-requests-selection
	*ngIf="selectedRequests.length"
	[userDocumentNumber]="userDocumentNumber"
	[userDocumentType]="userDocumentType"
	[selectedRequests]="selectedRequests"
	(resetSelection)="resetSelectionFn()"
	[searchedSignatures]="searchedSignatures"
	(actionRedirect)="goTo($event)"
	[width]="table.offsetWidth">
</mcy-requests-selection>

