<div class="row">
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Vehicle Type' | translate }}">
      {{
        vehicle?.vehicleType?.description
          ? vehicle.vehicleType.description
          : noData
      }}
    </app-readonly>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Brand' | translate }}">
      {{ vehicle?.brand?.description ? vehicle.brand.description : noData }}
    </app-readonly>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Model' | translate }}">
      {{ vehicle?.model?.description ? vehicle.model.description : noData }}
    </app-readonly>
  </div>

  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Year' | translate }}">
      {{ vehicle?.fuelYear?.year ? vehicle.fuelYear.year : noData }}
    </app-readonly>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Engine Brand' | translate }}">
      {{ vehicle?.engineBrand ? vehicle.engineBrand : noData }}
    </app-readonly>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Engine Number' | translate }}">
      {{ vehicle?.engineNumber ? vehicle.engineNumber : noData }}
    </app-readonly>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Chassis Brand' | translate }}">
      {{ vehicle?.chassisBrand ? vehicle.chassisBrand : noData }}
    </app-readonly>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Chassis Number' | translate }}">
      {{ vehicle?.chassisNumber ? vehicle.chassisNumber : noData }}
    </app-readonly>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <app-readonly label="{{ '@Domain Number' | translate }}">
      {{ vehicle?.domainNumber ? (vehicle.domainNumber | domain) : noData }}
    </app-readonly>
  </div>
</div>
