<div class="container pt-5">
  <div class="row">
    <div class="col-sm">
      <h1 class="section-header__title">
        {{ '@Vehicle Data' | translate }}
        <span *ngIf="isUsed">{{ '@Used' | translate }}</span
        ><span *ngIf="!isUsed">{{ '@New' | translate }}</span>
      </h1>
    </div>
    <div class="col-sm section-header__message">
      <p>
        {{ '@All fields marked with' | translate }}&nbsp;<i
          class="fas fa-asterisk"
        ></i
        >&nbsp;{{ '@Are obligatory' | translate }}
      </p>
    </div>
  </div>
  <form autocomplete="new-password" [formGroup]="vehicleData">
    <div class="row">
      <div class="col-sm">
        <app-form-field
          label="{{ '@Brand' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="brands"
            placeholder="{{ '@Select Brand' | translate }}"
            bindLabel="description"
            formControlName="brand"
            (change)="updateModel()"
            ><ng-template ng-option-tmp let-item="item">
              <div
                title="{{
                  item.disabled
                    ? translate.instant('@No Brand available')
                    : null
                }}"
              >
                {{ item.description }}
              </div>
            </ng-template>
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm">
        <app-form-field
          label="{{ '@Model' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="models"
            placeholder="{{ '@Select Model' | translate }}"
            bindLabel="description"
            formControlName="model"
            ><ng-template ng-option-tmp let-item="item">
              <div
                title="{{
                  item.disabled
                    ? translate.instant('@No Model available')
                    : null
                }}"
              >
                {{ item.description }}
              </div>
            </ng-template>
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm">
        <app-form-field
          label="{{ '@Year' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="years"
            placeholder="{{ '@Select Year' | translate }}"
            formControlName="year"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div class="col-sm" *ngIf="isAuto && hasCuit">
        <app-form-field
          label="{{ '@Vehicle use type' | translate }}"
          [formSubmitted]="formSubmitAttempt"
        >
          <ng-select
            [items]="useTypes"
            placeholder="{{ '@Select Use Type' | translate }}"
            bindLabel="description"
            formControlName="useType"
            (change)="useTypeChange()"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>

    <ng-container formGroupName="chassisData">
      <div class="row">
        <div class="col-sm">
          <app-form-field
            label="{{ '@Chassis Number' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <input
              #chassisNumberInput
              id="chassisNumber"
              type="text"
              class="form-control"
              name="chassisNumber"
              placeholder="{{ '@Enter Chassis Number' | translate }}"
              maxlength="17"
              autocomplete="off"
              formControlName="chassisNumber"
              appChassisMask
            />
          </app-form-field>
        </div>
        <div class="col-sm">
          <app-form-field
            label="{{ '@Confirm Chassis Number' | translate }}"
            [formSubmitted]="formSubmitAttempt"
            [errorMessages]="notEqualErrorMessages"
          >
            <input
              #confirmChassisNumberInput
              id="confirmChassisNumber"
              type="text"
              class="form-control"
              name="confirmChassisNumber"
              placeholder="{{ '@Enter Chassis Number' | translate }}"
              maxlength="17"
              formControlName="confirmChassisNumber"
              appChassisMask
              [hideInput]="false"
            />
          </app-form-field>
        </div>
      </div>
    </ng-container>
    <ng-container formGroupName="engineData">
      <div class="row">
        <div class="col-sm">
          <app-form-field
            label="{{ '@Engine Number' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <input
              #engineNumberInput
              id="engineNumber"
              type="text"
              class="form-control"
              name="engineNumber"
              placeholder="{{ '@Enter Engine Number' | translate }}"
              maxlength="17"
              autocomplete="off"
              formControlName="engineNumber"
              appEngineMask
            />
          </app-form-field>
        </div>
        <div class="col-sm">
          <app-form-field
            label="{{ '@Confirm Engine Number' | translate }}"
            [formSubmitted]="formSubmitAttempt"
            [errorMessages]="notEqualErrorMessages"
          >
            <input
              #confirmEngineNumberInput
              id="confirmEngineNumber"
              type="text"
              class="form-control"
              name="confirmEngineNumber"
              placeholder="{{ '@Enter Engine Number' | translate }}"
              maxlength="17"
              formControlName="confirmEngineNumber"
              appEngineMask
              [hideInput]="false"
            />
          </app-form-field>
        </div>
      </div>
    </ng-container>

    <div class="row" *ngIf="isPyme || isUsed || !isUsed">
      <ng-container formGroupName="isUsedData" *ngIf="isUsed">
        <div class="col-sm-3">
          <app-form-field
            label="{{ '@GNC?' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <div
              class="btn-group btn-group-toggle btn-group-radio"
              ngbRadioGroup
              name="gnc"
              formControlName="gnc"
            >
              <label ngbButtonLabel>
                <input ngbButton type="radio" value="A" />{{
                  '@Yes' | translate
                }}
              </label>
              <label ngbButtonLabel>
                <input ngbButton type="radio" value="N" />{{
                  '@Not' | translate
                }}
              </label>
            </div>
          </app-form-field>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <app-form-field
              label="{{ '@Domain Number' | translate }}"
              [formSubmitted]="formSubmitAttempt"
              tooltip="{{
                '@MSG_The field Domain Number accepts the new unique patent of Mercosur'
                  | translate
              }}"
            >
              <input
                #domainInput
                id="domainNumber"
                type="text"
                class="form-control"
                name="domainNumber"
                placeholder="{{ '@Enter Domain Number' | translate }}"
                formControlName="domainNumber"
                maxlength="9"
                [mask]="domainMask"
                appDomainMask
              />
            </app-form-field>
          </div>
        </div>
      </ng-container>

      <ng-container formGroupName="isPymeData">
        <div
          class="col-sm-3"
          *ngIf="
            isPyme ||
            (isAuto &&
              hasCuit &&
              vehicleData.get('useType').value?.code === 'C')
          "
        >
          <app-form-field
            label="{{ '@Fleet insurance?' | translate }}"
            [formSubmitted]="formSubmitAttempt"
          >
            <div
              class="btn-group btn-group-toggle btn-group-radio"
              ngbRadioGroup
              name="hasFleetInsurance"
              formControlName="hasFleetInsurance"
            >
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="true" />{{
                  '@Yes' | translate
                }}
              </label>
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="false" />{{
                  '@Not' | translate
                }}
              </label>
            </div>
          </app-form-field>
        </div>
      </ng-container>
    </div>
    <div class="container">
      <div class="row form-actions">
        <div class="col d-flex justify-content-end">
          <button
            style="display: none"
            type="button"
            class="btn btn-outline-secondary btn-lg rounded-pill"
            (click)="return()"
          >
            <i class="fas fa-chevron-left"></i><span class="d-none d-sm-inline-block">{{ '@Back To' | translate }}</span
        >
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-lg rounded-pill"
            (click)="submit()"
          >
            <span class="d-none d-sm-inline-block">{{ '@Continue' | translate }}</span
        ><i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
