<div class="select-own-amount-transfer">
	<mcy-stepper-guidelines
		[previousGuideline]="true"
		icon="consorcio_outline"
		[selected]="complete">
	</mcy-stepper-guidelines>
	<div class="select-own-amount-transfer__content">
		<h3 class="select-own-amount-transfer__title">
			{{ 'pages.transfers.ownAccount.amount.subtitle' | translate }}
		</h3>

		<div class="select-own-amount-transfer__accounts-info">
			<div class="select-own-amount-transfer__account-info">
				<span class="select-own-amount-transfer__account-title">
					{{ 'pages.transfers.ownAccount.amount.source' | translate }}
				</span>
				<span class="select-own-amount-transfer__account-number">
					{{ formattedAccountType(sourceAccount.type) }} {{ sourceAccount.number | mcyAccountNumber }}
				</span>
				<span class="select-own-amount-transfer__account-balance">
					{{ 'pages.transfers.ownAccount.amount.balance' | translate }}
					{{ sourceAccount.currency.symbol }} {{ sourceAccount.balance | mcyAmount }}
				</span>
			</div>
			<div class="select-own-amount-transfer__account-info">
				<span class="select-own-amount-transfer__account-title">
					{{ 'pages.transfers.ownAccount.amount.destination' | translate }}
				</span>
				<span class="select-own-amount-transfer__account-number">
					{{ formattedAccountType(destinationAccount.type) }} {{ destinationAccount.number | mcyAccountNumber }}
				</span>
				<span class="select-own-amount-transfer__account-balance">
					{{ 'pages.transfers.ownAccount.amount.balance' | translate }}
					{{ destinationAccount.currency.symbol }} {{ destinationAccount.balance | mcyAmount }}
				</span>
			</div>
			<mcy-icon-button
				(handleClick)="backToEdit()"
				[id]="'select-own-amount-transfer__edit-icon-button'"
				class="select-own-amount-transfer__edit-icon">
				editar_outline
			</mcy-icon-button>
		</div>

		<form [formGroup]="amountForm" class="select-own-amount-transfer__inputs-container">
			<div class="select-own-amount-transfer__amount-input">
				<mcy-amount-input
					[required]="true"
					[id]="'select-own-amount-transfer__amount-input'"
					(handleChange)="updateAccount(amountForm.value)"
					[validators]="balanceValidators"
					[currency]="sourceAccount.currency.symbol"
					[label]="'pages.transfers.ownAccount.amount.amountInput' | translate"
					[validatorMessage]="{ max: 'pages.transfers.ownAccount.amount.errorInsufficientFunds' | translate }"
					formControlName="amount">
				</mcy-amount-input>
			</div>
			<div class="select-own-amount-transfer__description-input">
				<mcy-input
					[id]="'select-own-amount-transfer__description-input'"
					(handleChange)="updateAccount(amountForm.value)"
					[validators]="descriptionValidators"
					[maxLength]="descriptionMaxlength"
					[label]="'pages.transfers.ownAccount.amount.descriptionInput' | translate"
					formControlName="description">
				</mcy-input>
			</div>
		</form>
	</div>
</div>
