@import 'variables';
@import 'mixins';

.sworn-declaration {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	&__text-container {
		margin: $spacing-L 0 $spacing-XL;
	}

	&__text {
		@include font-primary-regular();
		line-height: 20px;
	}

	&__buttons-container {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		margin-left: $spacing-M;
	}
}