<div class="reject-requests">
	<mcy-primary-page-layout
		(handleBack)="goToLanding()"
		[title]="'pages.requests.reject.title' | translate"
		[back]="'pages.requests.reject.goBack' | translate">
		<div actions>
			<mcy-contextual-button
				sufixIcon="fechar"
				(handleClick)="goToLanding()"
			>
				{{'pages.requests.reject.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="reject-requests__content">
			<mcy-primary-panel-layout 
				[isLoading]="transactionState.loadingSignature && !isSidenavOpen"
				[hasError]="transactionState.hasErrorSignature && !isSidenavOpen"
				(handleOnRetry)="confirm()"
			>
				<div body class="reject-requests__actions-list">
					<div class="reject-requests__bar">
						<div class="reject-requests__bar">
							<mcy-icon class="reject-requests__check-icon">fechar</mcy-icon>
							<span class="reject-requests__main-title">{{'pages.requests.reject.actionMessage' | translate}}</span>
						</div>
					</div>
					<div class="reject-requests__list">
						<mcy-requests-actions-list [selectedRequests]="selectedRequests"></mcy-requests-actions-list>
						<form [formGroup]="rejectForm">
							<mcy-input
								formControlName="motive"
								[validators]="motiveValidators"
								[maxLength]="moviteMaxLength"
								[id]="'reject-requests__movite'"
								[label]="'pages.requests.reject.motive' | translate">
							</mcy-input>
						</form>
					</div>
				</div>
				<div description class="reject-requests__description">
					<span>{{'pages.requests.reject.descriptionMessage' | translate}}</span>
				</div>
				<mcy-requests-actions-footer
					footer
					class="reject-requests__actions"
					(buttonClick)="confirm()"
					[id]="'reject-requests__button'"
					[disabled]="!rejectForm.valid || transactionState.loadingSignature"
					[requestsSummary]="requestsSummary"
					[buttonLabel]="'pages.requests.reject.buttonLabel' | translate">
				</mcy-requests-actions-footer>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
