<div class="requests-actions-footer">
	<div class="requests-actions-footer__currency-content">
		<div *ngFor="let item of requestsSummary" class="requests-actions-footer__currency-summary">
			<span class="requests-actions-footer__text">{{getSubtotalLabelByCurrency(item.currency)}}</span>
			<span class="requests-actions-footer__currency">{{item.currency}} {{item.amount | mcyAmount}}</span>
		</div>
	</div>
	<mcy-button
		[id]="'requests-actions-footer__button'"
		class="requests-actions-footer__button"
		(handleClick)="click()"
		[disabled]="disabled"
		color="primary">
		{{buttonLabel}}
	</mcy-button>
</div>