.inline {
  .form-group__label {
    display: inline-block;
    width: auto;
    font-size: 1rem;
    font-weight: normal;
    margin-right: 0.5rem;
  }

  .form-group__content {
    display: inline-block;
  }
}
