@import 'scss/breakpoints';

.form-group {
  margin-bottom: 2rem;

  .form-control,
  .ng-select-container {
    border: none;
    border-bottom: 1px solid $gray;
    border-radius: 0;
    height: 38px !important;
    background: transparent;
    color: $gray-darker;
    font-weight: 400;
    padding: 0;

    &:focus {
      box-shadow: none;
      border-color: $gray-dark;
    }
  }
  textarea.form-control {
    height: auto !important;
  }
  .form-control[placeholder] {
    text-overflow: ellipsis;
  }

  .form-control::-moz-placeholder {
    text-overflow: ellipsis;
  }

  /* firefox 19+ */
  .form-control:-moz-placeholder {
    text-overflow: ellipsis;
  }

  .ng-select {
    &.ng-touched.ng-invalid,
    &.ng-touched.ng-invalid.ng-select-focused {
      .ng-select-container {
        border-color: $santander-error;
      }
    }
  }

  .form-control {
    &.ng-touched.ng-invalid {
      border-color: $santander-error;
    }
  }

  & > label {
    width: 100%;
  }

  & > p {
    margin-top: 5px;
  }

  label {
    font-size: $font-sm;
    font-weight: 500;
    color: $gray-dark;
  }

  .alert {
    background: transparent !important;
    border: none !important;
    padding: 0;
    text-align: right;
    font-size: $font-sm;

    &-danger {
      color: $santander-error;
    }
  }

  &__inverted {
    .form-control,
    .ng-select-container {
      color: $white;

      input {
        color: $white;
      }
    }

    & > label {
      color: $gray;
    }

    & > p {
      color: $white;
    }

    .ng-value-container {
      color: white;
    }

    .ng-select-opened {
      .ng-value-container {
        color: $white;
      }
    }

    .form-group__date-separator {
      color: $white;
    }

    /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $white;
      color: $white;
    }
  }

  &--required {
    & > label {
      &::after {
        content: '\f069';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $santander-info;
        font-size: 0.5rem;
        margin-left: 5px;
        display: inline-block;
        position: relative;
        top: -4px;
      }
    }
  }

  &__tooltip {
    padding: 0;
    color: $santander-info;
    position: relative;
    height: 18px;
    top: -6px;

    &:hover {
      color: $santander-info;
    }
  }

  &__date-separator {
    padding: 0.5rem 0 0 0;
  }
}

.btn-group-toggle {
  .btn {
    cursor: pointer;
  }
}

.form-actions {
  padding: 3rem 0;

  .btn {
    .fa-chevron-left {
      margin-left: 0;
      margin-right: 0;
      @include media-breakpoint-up(sm) {
        margin-right: 0.8rem;
      }
    }
    .fa-times,
    .fa-chevron-right,
    .fa-trash-alt,
    .fa-redo-alt {
      margin-left: 0;
      @include media-breakpoint-up(sm) {
        margin-left: 0.8rem;
      }
    }
    @media (max-width: 575px) {
      .fa-times,
      .fa-chevron-right,
      .fa-redo-alt,
      .fa-trash-alt {
        margin-left: 0;
      }
    }
    i.fas {
      font-size: 1rem;
    }
  }
}

.btn-lg {
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.form-subtitle {
  padding: 0 0 1rem;

  &__divider {
    border-top: 1px dashed $gray-light;
    padding: 2rem 0 1rem;
    margin-top: 1rem;
  }

  &__divider__thick {
    border-top: 1.5px solid $gray-light;
    padding: 2rem 0 1rem;
    margin-top: 1rem;
  }
}

.form-divider {
}

.btn-link {
  color: $santander-info;

  &:hover {
    color: $santander-secondary;
  }
}

.btn-success {
  color: $white;
}

.btn-info {
  color: $white;
}

.btn-outline-info {
  &:hover {
    color: $white;
  }
}

.btn:disabled {
  opacity: 0.4;
}

.button-selection-group {
  .btn-group .btn {
    &:first-child {
      border-radius: 1.5rem 0 0 1.5rem;
    }

    &:last-child {
      border-radius: 0 1.5rem 1.5rem 0;
    }

    &.disabled {
      opacity: 0.4;
    }
  }

  .btn-outline-secondary {
    color: $santander-secondary-dark !important;
    border: 1px solid $santander-secondary-dark !important;
    padding: 0.5rem 2rem !important;

    &:hover {
      color: $white !important;
      background: $santander-secondary;
    }

    &.active {
      color: $white !important;
      background: $santander-secondary-dark !important;
    }
  }
}

/* Inverted colors for form-group */
.bg-secondary,
.bg-secondary-dark {
  .btn-outline-secondary {
    color: $white !important;
    border: 1px solid $white !important;

    &.active {
      color: $santander-secondary-dark !important;
      background: $white !important;
    }
  }

  .form-group {
    .form-control,
    .ng-select-container {
      color: $white;

      &:focus {
        border-color: $white;
      }
    }

    & > label {
      color: $gray;
    }

    & > p {
      color: $white;
    }

    .ng-value-container {
      color: white;
    }

    .ng-select-opened {
      .ng-value-container {
        color: $white;
      }
    }

    .form-group__date-separator {
      color: $white;
    }

    /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $white;
      color: $white;
    }
  }
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $gray-darker;
  -webkit-box-shadow: none;
  background-color: transparent;
  color: $gray-darker;
  transition: background-color 5000s ease-in-out 0s;
}

.input-group {
  &__date {
    .form-control {
      padding-right: 2.5rem;
    }

    .input-group-append {
      position: absolute;
      right: 0;

      .btn-link {
        color: $santander-secondary;

        &:hover {
          color: $santander-secondary-dark;
        }
      }
    }
  }
}

.no-wrap-spacing {
  white-space: nowrap;
}
@media (max-width: 400px) {
  .button-selection-group {
    .btn-group .btn {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }
}
