.form-group {
  /* Radio buttons*/
  .btn-group-toggle.btn-group-radio {
    .btn {
      font-size: 1rem;
      background: transparent;
      border: none;
      font-weight: 400;
      padding: 0 0 0 1.6rem;
      margin-right: 1rem;

      cursor: pointer;
      color: $gray-darker;

      &:not(:disabled):not(.disabled):active {
        &::before {
          background: $gray;
        }
      }

      &.active,
      .show > &.dropdown-toggle {
        background-color: transparent !important;
        color: $gray-darker !important;

        &::before {
          background: $gray-light;
        }

        &::after {
          background: $santander-primary;
          height: 10px;
          width: 10px;
          top: 8px;
          left: 5px;
          transition: all 100ms ease-in-out;
        }
      }

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 3px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: $gray-light;
        border: 1px solid $gray-light;
      }

      &::after {
        content: '';
        position: absolute;
        background: transparent;
        height: 2px;
        width: 2px;
        top: 12px;
        left: 10px;
        border-radius: 50%;
        transition: all 100ms ease-in-out;
      }

      &.active.disabled {
        &::after {
          background: $gray;
          height: 10px;
          width: 10px;
          top: 8px;
          left: 5px;
          transition: all 100ms ease-in-out;
        }
      }

      &.focus {
        box-shadow: none;

        &::before {
          box-shadow: 0 0 0 0.1rem rgba(239, 0, 0, 0.25);
        }
      }
    }
    label {
      text-align: left;
    }
  }

  .btn-group-toggle.btn-group-checkbox,
  .btn-group-toggle.btn-group-radio {
    .btn {
      border-radius: 0;
    }
  }

  .btn-group-vertical {
    .btn {
      margin-bottom: 2rem;
    }
  }

  /* END Radio buttons*/
}
