.ng-dropdown-panel {
  z-index: 99;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none !important;
  border-color: $gray-dark !important;
}

.ng-value-container {
  height: 100%;
  padding-left: 0 !important;

  .ng-input {
    padding-left: 0 !important;
  }
}

.ng-select-opened {
  .ng-dropdown-panel-items {
    margin-bottom: 0 !important;
    max-height: 160px !important;
  }

  .ng-option:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .ng-select-container {
    background: transparent !important;
  }
}

.ng-option-selected {
  background-color: $santander-primary !important;
  color: $white !important;
}

.ng-select.ng-select-disabled > .ng-select-container,
.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  opacity: 0.5;
}

.ng-select.disable-arrow .ng-arrow-wrapper .ng-arrow {
  display: none;
}

.ng-select.disable-dropdown ng-dropdown-panel {
  display: none;
}

.ng-select.disable-clear-all .ng-clear-wrapper {
  display: none;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder,
.form-group .form-control::placeholder {
  color: $gray;
}
