@import 'variablesNew';
@import 'mixins';

.favorite-contacts {
	@include box-shadow-notification();
	background-color: $background-color-secondary;
	padding: $spacing-M;
	border-radius: $radius-S;
	display: flex;
	flex-direction: column;

	&__title {
		@include font-primary-extrabold();
		font-size: $font-size-XXL;
		margin: 0 0 $spacing-XXL;
	}

	&__show-more {
		display: flex;
		color: $text-color-link;
		justify-content: center;
		width: 100%;
		padding-top: $spacing-M;
		border-top: 1px solid $border-color-secondary;
	}

	&__contact {
		padding: $spacing-S 0;
		display: flex;
		border-bottom: 1px solid $border-color-secondary;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	&__column {
		display: flex;
		flex: 2;
	}

	&__contact-image {
		margin-right: $spacing-S;
	}

	&__reference {
		@include font-primary-regular();
		font-size: $font-size-M;
		line-height: 1.3;
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		align-items: center;
	}

	&__empty {
		margin-bottom: $spacing-L;
	}
}