<div class="checks-details">
	<div class="checks-details__main-panel">
		<div class="checks-details__main-icon">
			<mcy-badge-icon
				class="checks-details__badge-icon"
				[iconSize]="'48px'"
				[badgeSize]="'large'"
				[type]="'logo'">
				cheque_outline
			</mcy-badge-icon>
		</div>

		<div class="checks-details__main-section">
			<div class="checks-details__column">
				<mcy-checks-list
					*ngIf="!checksState.hasErrorChecksIssued && !checksState.loadingChecksIssued"
					[checks]="checksIssued"
					[checksType]="'issued'"
					[emptyMessage]="'pages.dashboard.checks.emptyToCover' | translate"
					[title]="'pages.dashboard.checks.checksToCover' | translate"
					[dateType]="'pages.dashboard.checks.payDate' | translate">
				</mcy-checks-list>
				<voxel-loading-circle
					class="checks-details__spinner"
					*ngIf="checksState.loadingChecksIssued"
					[showLoading]="true"
					size="large">
				</voxel-loading-circle>
				<div class="checks-details__error"
					*ngIf="checksState.hasErrorChecksIssued && !checksState.loadingChecksIssued">
					<mcy-loading-data-error
						[displayRetry]="true"
						(handleOnRetry)="onSubmitChecksIssued()"
					></mcy-loading-data-error>
				</div>
			</div>

			<div class="checks-details__column">
				<mcy-checks-list
					*ngIf="!checksState.hasErrorChecksReceived && !checksState.loadingChecksReceived"
					[checks]="checksReceived"
					[checksType]="'received'"
					[emptyMessage]="'pages.dashboard.checks.emptyFutureIncome' | translate"
					[title]="('pages.dashboard.checks.futureIncome' | translate) + '*'"
					[dateType]="'pages.dashboard.checks.accreditationDate' | translate">
				</mcy-checks-list>
				<voxel-loading-circle
					class="checks-details__spinner"
					*ngIf="checksState.loadingChecksReceived"
					[showLoading]="true"
					size="large">
				</voxel-loading-circle>
				<div class="checks-details__error"
					*ngIf="checksState.hasErrorChecksReceived && !checksState.loadingChecksReceived">
					<mcy-loading-data-error
						[displayRetry]="true"
						(handleOnRetry)="onSubmitChecksReceived()"
					></mcy-loading-data-error>
				</div>
			</div>
		</div>

		<div class="checks-details__footer-section">
			<span class="checks-details__footnote">
				(*) {{ 'pages.dashboard.checks.footnote' | translate }}
			</span>
		</div>
	</div>
</div>
