<div class="accounts-landing">
	<voxel-loading-circle
		*ngIf="accountState.loading"
		class="accounts-landing__spinner"
		[showLoading]="true"
		size="large">
	</voxel-loading-circle>
	<div class="accounts-landing__error"
		*ngIf="accountState.hasErrorAccounts && !accountState.loading">
		<mcy-loading-data-error
			[displayRetry]="true"
			(handleOnRetry)="onSubmitAccounts()"
		></mcy-loading-data-error>
	</div>
	<mcy-primary-page-layout
		*ngIf="!accountState.hasErrorAccounts && !accountState.loading"
		[title]="'pages.accounts.landing.myAccounts' | translate:{count: list.length}">
		<div actions>
			<mcy-account-total-balance
				[totalBalanceByCurrency]="totalBalanceByCurrency">
			</mcy-account-total-balance>
		</div>
		<div body class="accounts-landing__content">
			<mcy-carousel
				[list]="list"
				[component]="component"
				(onselect)="onSelected($event)"
				[initialSelection]="account"
			>
			</mcy-carousel>
			<mcy-account-detail
				[account]="account"></mcy-account-detail>
			<div class="accounts-landing__section">
				<mcy-balance-detail
					[account]="account"
					class="accounts-landing__details"></mcy-balance-detail>
				<mcy-last-statement
					[account]="account"
					class="accounts-landing__last-account-sumary"
				></mcy-last-statement>
			</div>
			<div class="accounts-landing__movements-section">
				<mcy-account-movements
					class="accounts-landing__movements"
					*ngIf="!movementsState.isLoading && movementsState.selectedAccount && !movementsState.hasMovementsErrors">
				</mcy-account-movements>
				<voxel-loading-circle
					class="accounts-landing__spinner"
					*ngIf="movementsState.isLoading"
					[showLoading]="true"
					size="large">
				</voxel-loading-circle>
				<div class="accounts-landing__error"
					*ngIf="movementsState.hasMovementsErrors && !movementsState.isLoading">
					<mcy-loading-data-error
						[displayRetry]="true"
						(handleOnRetry)="onSubmitMovements()"
					></mcy-loading-data-error>
				</div>
			</div>
		</div>
	</mcy-primary-page-layout>
</div>
