<div class="check-discounted-detail">
	<div class="check-discounted-detail__header">
		<mcy-badge-icon
			type="caution"
			iconSize="40px"
			badgeSize="medium">
			cheque_outline
		</mcy-badge-icon>
		<div class="check-discounted-detail__header-info">
			<span class="check-discounted-detail__label">{{'pages.checkbooks.checkDiscountedDetail.number' | translate}}</span>
			<span class="check-discounted-detail__name-value">{{data.number}}</span>
		</div>
	</div>
	<div class="check-discounted-detail__info">
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.amount' | translate}}</span>
			<span class="check-discounted-detail__text">{{data.currency.symbol}} {{data.amount | mcyAmount}}</span>
		</div>
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.tna' | translate}}</span>
			<span class="check-discounted-detail__text">{{data.tna}}</span>
		</div>
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.CFTEA' | translate}}</span>
			<span class="check-discounted-detail__text">{{data.cftea}}</span>
		</div>
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.deadline' | translate}}</span>
			<span class="check-discounted-detail__text">{{data.deadline}}</span>
		</div>
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.accreditationDate' | translate}}</span>
			<span class="check-discounted-detail__text">{{formatDate(data.accreditationDate)}}</span>
		</div>
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.finishDate' | translate}}</span>
			<span class="check-discounted-detail__text">{{formatDate(data.finishDate)}}</span>
		</div>
		<div class="check-discounted-detail__info-item">
			<span class="check-discounted-detail__info-label">{{'pages.checkbooks.checkDiscountedDetail.account' | translate}}</span>
			<span class="check-discounted-detail__text">{{data.debitAccount.type}} {{data.debitAccount.number | mcyAccountNumber }}</span>
		</div>
	</div>
	<mcy-sidenav-footer>
		<div class="check-discounted-detail__footer">
			<mcy-button
				color="primary"
				[id]="'check-discounted-detail__button'"
				class="check-discounted-detail__button"
				(click)="end()"
				>{{
					'pages.checkbooks.checkDiscountedDetail.end' | translate
				}}</mcy-button
			>
		</div>
	</mcy-sidenav-footer>
</div>
