<div>
	<mcy-primary-page-layout
		[title]="'pages.transfers.typeSelection.title' | translate"
		[back]="'pages.transfers.typeSelection.backTo' | translate"
		(handleBack)="goToLanding()">
		<div actions>
			<mcy-contextual-button sufixIcon="fechar" (click)="goToLanding()">
				{{'pages.transfers.typeSelection.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="transfer-type-selection">
			<h3 class="transfer-type-selection__title">{{ 'pages.transfers.typeSelection.transferTypePrompt' | translate }}</h3>
			<div class="transfer-type-selection__transfer-types">
				<mcy-transfer-type
					[title]="'pages.transfers.typeSelection.types.thirdParty.title' | translate"
					[description]="'pages.transfers.typeSelection.types.thirdParty.description' | translate"
					[icon]="'transferenciae'"
					[id]="'transfer-type-selection__third-party-option'"
					(handleClick)="goToThirdPartyTransfers()"
					class="transfer-type-selection__transfer-type"
				></mcy-transfer-type>
				<mcy-transfer-type
					[description]="'pages.transfers.typeSelection.types.ownAccount.description' | translate"
					[disabledTooltip]="'pages.transfers.typeSelection.types.ownAccount.disabledTooltip' | translate"
					[disabled]="!isOwnAccountTransfersEnabled"
					[icon]="'saque'"
					[id]="'transfer-type-selection__own-accounts-option'"
					[title]="'pages.transfers.typeSelection.types.ownAccount.title' | translate"
					(handleClick)="goToOwnAccountTransfers()"
					class="transfer-type-selection__transfer-type"
				></mcy-transfer-type>
				</div>
			</div>
	</mcy-primary-page-layout>
</div>

