@import 'variables';
@import 'mixins';

.transfer-type-selection {
	border-top: 1px solid $border-color-tertiary;
	padding: $spacing-L 0 0 0;
	margin: $spacing-L $spacing-XL 0;

	&__title {
		@include font-primary-regular();
		font-size: $font-size-L;
		margin: 0;
	}

	&__transfer-types {
		display: flex;
		margin: $spacing-L 0 0 0;
	}

	&__transfer-type:not(:first-child) {
		margin: 0 0 0 $spacing-L;
	}
}
