@import 'variables';
@import 'mixins';

.mcy-carousel {
	margin-bottom: $spacing-XL;

	&__tile {
		box-shadow: none !important;
	}

	.tile {
		box-shadow: none !important;
	}

	&__item-container {
		padding: 0 $spacing-S !important;
	}

	&__item {
		border: solid 2px $border-color-nonary;
		border-radius: $radius-XS;
	}

	&__button {
		font-size: $font-size-XXL;
		position: relative;
		top: $spacing-XS;
		color: $background-color-tertiary;
		margin-left: $spacing-L;
		margin-right: $spacing-L;
		margin-bottom: $spacing-XL;

		&--disabled {
			color: $background-color-secondary;
		}
	}

	&__points {
		list-style-type: none;
		text-align: center;
		padding: $spacing-S;
		margin: 0;
		white-space: nowrap;
		box-sizing: border-box;

		&--single {
			cursor: pointer;
			display: inline-block;
			border-radius: $radius-circle;
			background-color: $background-color-secondary;
			padding: $spacing-XS;
			margin: 0 $spacing-XS;
			transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
			transition: 0.4s;
			width: 9px;
			height: 9px;
		}
	}

	&__point--active {
		background-color: $background-color-tertiary !important;
	}
}
