<div class="form-image">
  <div fxLayout="column" fxLayoutAlign="center center">
    <label style="margin-bottom: 10px;"
      ><span
        class="form-label"
        [ngClass]="validateControl() ? 'form-error' : 'form-normal-label'"
        >{{ label() }}
        <span class="form-required" *ngIf="required()">*</span>
      </span>
    </label>
    <div class="form-image-container">
      <div class="form-image-border form-image-border-left-top"></div>
      <div class="form-image-border form-image-border-right-top"></div>
      <div class="form-image-border form-image-border-right-bottom"></div>
      <div class="form-image-border form-image-border-left-bottom"></div>
    </div>
    <div class="form-image-content"></div>
  </div>
</div>
