<div class="multiActions" fxLayout="row" fxLayoutAlign="start center" *ngIf="items.length > 0">
  <span fxFlex="15" style="font-weight: 600;">{{items.length}}</span>
  <div *ngFor="let button of multiActions" fxFlex="85" (click)="buttonActions(button)">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div fxLayout="column" *ngIf="visibleButton(button)" fxLayoutAlign="space-between center" class="buttons">
        <button mat-icon-button>
          <mat-icon>{{button.icon}}</mat-icon>
        </button>
        <!-- <span>{{button.label}}</span> -->
      </div>
      <div class="divider">
        <button mat-icon-button style="color: white;" (click)="unSelect()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>