<ui-header [fixed]="false">
  <div expanded>
    <div class="row">
      <div class="col-sm-2">
        <app-readonly label="{{ '@Document Number' | translate }}">
          {{ headerData?.owner?.document | dni }}
        </app-readonly>
      </div>

      <div class="col-sm-2">
        <app-readonly label="{{ '@Date of Birth' | translate }}">
          {{ headerData?.owner?.birthDate | customDate }}
        </app-readonly>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <app-readonly label="{{ '@Brand' | translate }}">
          {{ headerData?.vehicle?.brand?.description }}
        </app-readonly>
      </div>

      <div class="col-sm-2">
        <app-readonly label="{{ '@Model' | translate }}">
          {{ headerData?.vehicle?.model?.description }}
        </app-readonly>
      </div>

      <div class="col-sm-2">
        <app-readonly label="{{ '@Year' | translate }}">
          {{ headerData?.vehicle?.fuelYear?.year }}

          {{ headerData?.vehicle?.fuelYear?.zeroKm ? '0Km' : '' }}
        </app-readonly>
      </div>

      <div class="col-sm-2">
        <app-readonly label="{{ labelValue }}">
          {{
            headerData?.vehicle?.purchaseValue
              | currency: 'ARS':'symbol-narrow':'1.0':'es-AR'
          }}
        </app-readonly>
      </div>

      <div class="col-sm-2">
        <app-readonly label="{{ '@Vehicle Type' | translate }}">
          {{ headerData?.vehicle?.vehicleType?.description }}
        </app-readonly>
      </div>
    </div>
  </div>

  <div collapsed>
    <div class="row">
      <div class="col-sm-4">
        <app-readonly
          [inline]="true"
          label="{{ '@Document Number' | translate }}"
        >
          {{ headerData?.owner?.document | dni }}
        </app-readonly>
      </div>

      <div class="col-sm-4">
        <app-readonly
          [inline]="true"
          label="{{ '@Date of Birth' | translate }}"
        >
          {{ headerData?.owner?.birthDate | customDate }}
        </app-readonly>
      </div>
    </div>
  </div>
</ui-header>
