@import 'scss/mixins';
@import 'scss/colors';
@import 'scss/fonts';

.viewer-pages {
  height: 100%;
  padding-top: 4.5rem;
  overflow: hidden;
  &__add-btn-wrapper {
    position: fixed;
    top: 4rem;
    width: 10rem;
    height: 4.5rem;
    background: $santander-secondary;
    padding: 1rem;
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  }
  &__add-btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__list {
    padding: 2rem 1rem 2rem 1rem;
    height: 100%;
    overflow-y: scroll;
    margin-right: -18px;
    position: relative;
  }
  .list-arrow {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    background: $black-05;
    padding: 0.1rem 1rem;
    text-align: center;
    i {
      color: White;
    }
    &-top {
      top: 4.5rem;
    }
    &-bottom {
      bottom: 0;
    }
  }

  &__item {
    height: 7rem;
    width: 7rem;
    background: $black-03;
    position: relative;
    //border: 0.3rem solid $black-03;
    margin: 0 auto 0.5rem auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
    border: 0.3rem solid transparent;

    &:hover {
      border: 0.3rem solid $black-05;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__arrow {
    button {
      height: 100%;
      color: $white-05;

      &:hover {
        color: $white;
      }
    }
  }

  .SelectedImage {
    border: 0.3rem solid $santander-info;
    border-radius: 2px;
  }
  .btn-delete {
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 0.2rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: $black-05;
    color: $white-07;
    &:hover {
      background: $black-07;
      color: $white;
    }
  }
}
