<div class="text-center viewer-pages__add-btn-wrapper">
  <input
    [id]="addFile"
    type="file"
    style="display: none"
    [accept]="fileTypeAccepted"
    (change)="addFile($event)"
  />
  <label
    [for]="addFile"
    class="btn btn-outline-light rounded-pill viewer-pages__add-btn"
  >
    <i class="fas fa-plus"></i>
  </label>
</div>
<div class="viewer-pages">
  <div class="list-arrow list-arrow-top" *ngIf="!fullTop" (click)="scrollTop()">
    <i class="fas fa-chevron-up"></i>
  </div>
  <div
    class="text-center viewer-pages__list"
    #listContent
    (scroll)="scrolling($event)"
  >
    <div
      class="viewer-pages__item"
      *ngFor="let miniature of thumbs"
      [style.background-image]="miniature.content"
      (click)="selectMiniature(miniature.pageId)"
      [class.SelectedImage]="miniature.pageId === selectedPageId"
    >
      <div class="btn-delete" (click)="removeFile(miniature.pageId, $event)">
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
  </div>
  <div
    class="list-arrow list-arrow-bottom"
    *ngIf="!fullBottom"
    (click)="scrollBottom()"
  >
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
