<div
  class="toast-element toast-element--{{ toast.type }}"
  [@animateGallery]="state"
  (@animateGallery.done)="animationDone(toast.id)"
>
  <i
    class="fas toast-icon"
    [ngClass]="{
      'fa-times-circle': toast.type === 'error',
      'fa-exclamation-circle': toast.type === 'warning',
      'fa-check-circle': toast.type === 'success',
      'fa-info-circle': toast.type === 'info'
    }"
  ></i>
  {{ toast.msg }}
  <button class="toast-btn" (click)="state = 'toastClose'">
    <i class="fa fa-times"></i>
  </button>
</div>
