@import 'scss/colors';

.toast-element {
  width: 100%;
  height: auto;
  background: $santander-secondary-dark;
  padding: 15px 50px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  border-radius: 4px;
  position: relative;

  .toast-icon {
    position: absolute;
    left: 19px;
    top: 16px;
    font-size: 1.4rem;
  }

  .toast-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    margin: 0;
    background: none;
    color: white;
    width: 34px;
    height: 34px;

    &:focus {
      outline: none;
    }
  }

  &--success,
  &--error,
  &--warning,
  &--info {
    .toast-icon,
    .toast-btn {
      color: black;
      opacity: 0.4;
    }
  }

  &--success {
    background: $santander-success;
  }

  &--error {
    background: $santander-error;
  }

  &--warning {
    background: $santander-warning;
  }

  &--info {
    background: $santander-info;
  }
}
