<div class="salary-request-detail__content">
	<div class="salary-request-detail__header" *ngIf="request.detail">
		<mcy-profile-image
			[size]="'medium'"
			[name]="request.detail">
		</mcy-profile-image>
		<div class="salary-request-detail__header-info">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.destinationName' | translate }}</span>
			<span class="salary-request-detail__name-value">{{ request.detail }}</span>
		</div>
	</div>
	<div class="salary-request-detail__info-item" *ngIf="salaryPayment.destinationCbvu && !isTransfer">
		<span class="salary-request-detail__label">{{ 'pages.payments.salary.cbvuDestination' | translate }}</span>
		<span class="salary-request-detail__value">{{ salaryPayment.destinationCbvu }}</span>
	</div>
	<div class="salary-request-detail__info">
		<div class="salary-request-detail__info-item" *ngIf="request.currency.symbol && request.amount">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.amount' | translate }}</span>
			<span class="salary-request-detail__value">{{ request.currency.symbol }} {{request.amount | mcyAmount }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="request.id">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.requestNumber' | translate }}</span>
			<span class="salary-request-detail__value">{{ request.id }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="request.user">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.requestUser' | translate }}</span>
			<span class="salary-request-detail__value">{{ request.user.name }}</span>
			<span class="salary-request-detail__value">{{ request.user.document.number }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="request.creationDate">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.requestDate' | translate }}</span>
			<span class="salary-request-detail__value">{{ formattedDateWithTime(request.creationDate) }}</span>
		</div>
		<div class="salary-request-detail__info-item">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.concept' | translate }}</span>
			<span class="salary-request-detail__value" *ngIf="!isTransfer">{{ 'pages.payments.salary.salaryConceptDescription' | translate }}</span>
			<span class="salary-request-detail__value" *ngIf="isTransfer">{{ getConceptName(salaryPayment.conceptCode) }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="request.description">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.salaryDescription' | translate }}</span>
			<span class="salary-request-detail__value">{{ request.description }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="salaryPayment.destinationCuilt">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.cuilt' | translate }}</span>
			<span class="salary-request-detail__value">{{ salaryPayment.destinationCuilt }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="salaryPayment.originCbvu">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.originAccount' | translate }}</span>
			<span class="salary-request-detail__value">
			{{ salaryPayment.originCbvu | mcyAccountType }} {{ salaryPayment.originCbvu | mcyCbuToAccount | mcyAccountNumber }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="request.scheduledDate && !isTransfer">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.requestScheduledDate' | translate }}</span>
			<span class="salary-request-detail__value">{{ formattedDate(request.scheduledDate)}}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="isProcessedByCore && request.content.date">
			<span class="salary-request-detail__label">{{ 'pages.payments.salary.executionDate' | translate }}</span>
			<span class="salary-request-detail__value">{{ formattedDate(request.content.date)}}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="isTransfer">
			<span class="salary-request-detail__label">{{ 'sidenav.transferDetails.cuit' | translate }}</span>
			<span class="salary-request-detail__value">{{ salaryPayment.destinationCuilt }}</span>
		</div>
		<div class="salary-request-detail__info-item" *ngIf="isTransfer">
			<span class="salary-request-detail__label">{{ 'sidenav.transferDetails.destinationCbu' | translate }}</span>
			<span class="salary-request-detail__value">{{ salaryPayment.destinationCbvu }}</span>
		</div>
	</div>
	<div class="salary-request-detail__actions" *ngIf="showShareSection">
		<div class="salary-request-detail__action">
			<mcy-button
				[id]="'salary-request-detail__download'"
				class="service__button"
				color="primary"
				(click)="downloadReceipt()">
				<mcy-icon class="salary-request-detail__action-download">download_outline</mcy-icon>
				{{ 'pages.payments.salary.downloadReceipt' | translate }}
			</mcy-button>
		</div>
	</div>
	<div class="salary-request-detail__status-header">
		<div class="salary-request-detail__state">
			<mcy-status-icon
				[status]="stateIcon"
			></mcy-status-icon>
			<div class="salary-request-detail__state--info">
				<span class="{{stateClass}}">{{ stateText }}</span>
				<span class="salary-request-detail__state--date">{{ stateDate }}</span>
			</div>
		</div>
		<div class="salary-request-detail__more-detail" *ngIf="showMoreDetail">
			<mcy-contextual-button
				[id]="'salary-request-detail__showMore'"
				salary-request-detail
				[sufixIcon]="detailOpened ? 'seta_cima' : 'seta_baixo'"
				(click)="handleMenuOpened()"
			>{{ moreDetailLabel }}</mcy-contextual-button>
		</div>
	</div>
	<div *ngIf="detailOpened">
		<div class="salary-request-detail__reason" *ngIf="showRejecterInfo && request.rejecter">
			<div class="salary-request-detail__reason--title">{{ 'pages.payments.salary.reason' | translate }}</div>
			<div class="salary-request-detail__reason--description">
				<span>{{ request.rejectionReason }}</span>
			</div>
			<div class="salary-request-detail__reason--info">
				<span>{{ request.rejecter.name }}</span>
				<span>{{ request.rejecter.document.number }}</span>
				<span>{{ formattedDateWithTime(request.rejecter.signedDate) }}</span>
			</div>
		</div>
		<div class="salary-request-detail__signatures" *ngIf="request.signers.length && showMoreDetail">
			<div class="salary-request-detail__signatures--title">{{ 'pages.payments.salary.signatures' | translate }}</div>
			<div class="salary-request-detail__signatures--info">
				<div class="salary-request-detail__signatures--item" *ngFor="let signer of request.signers">
					<span>{{ signer.name }}</span>
					<span>{{ signer.document.number }}</span>
					<span>{{ formattedDateWithTime(signer.signedDate) }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
