@import 'variablesNew';
@import 'mixins';

.salary-request-detail {
	&__content {
		margin: $spacing-XL 0;
	}

	&__header {
		display: flex;
		flex-direction: row;
	}

	&__header-info {
		display: flex;
		flex-direction: column;
		margin: $spacing-XS 0 0 $spacing-L;
	}

	&__label {
		font-size: $font-size-M;
		color: $text-color-secondary;
	}

	&__name-value {
		font-size: $font-size-L;
		color: $text-color-primary;
	}

	&__info {
		display: flex;
		flex-direction: row;
		width: 520px;
		flex-wrap: wrap;
	}

	&__info-item {
		width: 50%;
		display: flex;
		flex-direction: column;
		margin-top: $spacing-M;
	}

	&__value {
		font-size: $font-size-M;
		color: $text-color-primary;
		margin-top: $spacing-XXS;
	}

	&__actions {
		display: flex;
		margin-top: $spacing-XL;
	}

	&__action {
		align-items: center;
		flex: 1;
		display: flex;
		flex-direction: row-reverse;
		justify-content: right;
	}

	&__action-label {
		@include font-primary-bold();
		font-size: $font-size-M;
		color: $text-color-link;
	}

	&__action-share {
		color: $text-color-link;
		margin: 0 $spacing-S 0 0;
		font-size: $font-size-XXL;
	}

	&__action-download {
		color: $text-color-high-contrast;
		margin: 0 $spacing-S 0 0;
		font-size: $font-size-XXL;
	}

	&__action-button {
		margin: 0 0 0 $spacing-XL;
		color: $text-color-tertiary;
	}

	&__status-header {
		margin-top: $spacing-M;
		border-top: 1px solid $text-color-disabled-button;
		display: flex;
		justify-content: space-between;
	}

	&__more-detail {
		margin-top: $spacing-XXL;
	}

	&__state {
		display: flex;
		flex-direction: row;
		font-size: $font-size-L;
		margin: $spacing-XL 0 0 0;

		&--info {
			display: flex;
			flex-direction: column;
			margin: $spacing-XXS 0 0 $spacing-XS;
		}

		&--date {
			font-size: $font-size-L;
			@include font-primary-bold();
			color: $text-color-primary;
		}

		&--success {
			color: $text-color-succeed;
			@include font-primary-extrabold
		}

		&--rejected {
			color: $text-color-cancelled;
			@include font-primary-extrabold
		}

		&--pending-approval {
			color: $text-color-link;
			@include font-primary-extrabold
		}

		&--partially-authorized {
			color: $text-color-processing;
			@include font-primary-extrabold
		}

		&--authorized {
			color: $text-color-succeed;
			@include font-primary-extrabold
		}
	}

	&__reason {
		margin: $spacing-M 0 0 $spacing-XXL;
		&--title {
			font-size: $font-size-L;
			color: $text-color-primary;
			@include font-primary-extrabold();
		}

		&--description {
			margin-top: $spacing-XXS;
		}

		&--info {
			margin-top: $spacing-XXS;
			display: flex;
			flex-direction: column;
			font-size: $font-size-S;
			line-height: 1.29;
		}
	}

	&__signatures {
		margin: $spacing-M 0 0 $spacing-XXL;
		color: $text-color-primary;

		&--title {
			font-size: $font-size-L;
			color: $text-color-primary;
			@include font-primary-extrabold();
		}

		&--info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&--item {
			font-size: $font-size-S;
			color: $text-color-primary;
			margin-top: $spacing-XXS;
			display: flex;
			flex-direction: column;
			margin-right: 90px;
			line-height: 1.29;
		}

	}
}