<div [formGroup]="formRequest">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <i class="far fa-file-pdf"></i>
        <h4>{{ '@Financing Contract' | translate }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p>{{ '@Confirm your Email' | translate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 offset-sm-4">
        <app-form-field [formSubmitted]="formSubmitAttempt">
          <input
            #emailInput
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="{{ '@Enter Email Address' | translate }}"
            appEmailMask
          />
        </app-form-field>
      </div>
    </div>
  </div>
</div>
