<div class="salary-payments-list">
	<div *ngIf="loading" class="salary-payments-list__loading">
		<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
	</div>
	<mcy-no-data-message *ngIf="!loading && !salaryPayments.length" [message]="'pages.payments.salaryPaymentsList.emptyServicesMessage' | translate"></mcy-no-data-message>
	<table *ngIf="!loading && salaryPayments.length" mat-table [dataSource]="salaryPayments" class="mat-elevation-z8 salary-payments-list__table">
		<ng-container matColumnDef="icon">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let payment" class="salary-payments-list__icon-column">
				<mcy-profile-image
					[size]="'small'"
					[name]="payment.destinationHolder">
				</mcy-profile-image>
			</td>
		</ng-container>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.salaryPaymentsList.name' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{payment.destinationHolder || '--'}}
			</td>
		</ng-container>

		<ng-container matColumnDef="cuilt">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.salaryPaymentsList.cuilt' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{payment.destinationCuilt || '--'}}
			</td>
		</ng-container>

		<ng-container matColumnDef="amount">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.salaryPaymentsList.amount' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
			{{payment.currency.symbol}} {{payment.amount | mcyAmount}}
			</td>
		</ng-container>

		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.salaryPaymentsList.date' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{formatDate(payment.date)}}
			</td>
		</ng-container>

		<ng-container matColumnDef="requestNumber">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.salaryPaymentsList.requestNumber' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				{{payment.id}}
			</td>
		</ng-container>

		<ng-container matColumnDef="state">
			<th mat-header-cell *matHeaderCellDef>
				{{'pages.payments.salaryPaymentsList.state' | translate}}
			</th>
			<td mat-cell *matCellDef="let payment">
				<span
					*ngIf="payment.state === 'APPROVED'"
					class="salary-payments-list__status-successful">
					{{ 'pages.payments.state.successful' | translate }}
				</span>
				<span
					*ngIf="payment.state === 'DENIED'"
					class="salary-payments-list__status-rejected">
					{{ 'pages.payments.state.rejected' | translate }}
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="download">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let salary" class="salary-payments-list__icon-column">
				<mcy-icon-button
					[id]="'salary-payments-list__download-receipt'"
					class="salary-payments-list__options-icon"
					(click)="downloadReceipt(salary)"
					[ngClass]="{'salary-payments-list__options-icon--disabled': salary.state !== 'APPROVED'}">
				download_outline
				</mcy-icon-button>
			</td>
		</ng-container>

		<ng-container matColumnDef="details">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let payment" class="salary-payments-list__icon-column">
				<mcy-icon-button
					[id]="'salary-payments-list__go-to-request-detail'"
					class="salary-payments-list__options-icon"
					(handleClick)="goToRequestDetail(payment)">
					comprovante_outline
				</mcy-icon-button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>

