@import 'variablesNew';
@import 'mixins';

.account-detail {
	background-color: $background-color-secondary;
	padding: $spacing-M $spacing-S;
	margin-bottom: $spacing-L;

	&__header {
		display: flex;
		justify-content: space-between;
		font-size: $font-size-L;
	}

	&__account-number {
		margin-right: $spacing-S;
	}

	&__icon {
		margin: 0 $spacing-S;
		color: $text-color-link;
		font-size: 24px;
	}

	&__data {
		display: flex;
		margin: $spacing-M 0 0;
	}

	&__title {
		font-size: $font-size-M;
		line-height: 1.5;
		color: $text-color-tertiary;
		@include font-primary-regular();
	}

	&__text {
		font-size: $font-size-L;
		line-height: 1.5;
	}

	&__item {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-right: $spacing-L;
	}

	&__item-alias {
		display: flex;
	}

	&__button {
		padding-left: $spacing-XS;
		display: flex;
	}
}
