<div class="account-detail">
	<div class="account-detail__header">
		<div>
			<span class="account-detail__account-number">{{account.type}} {{account.number | mcyAccountNumber }}</span
			><span>({{account.currency.symbol}})</span>
		</div>
		<div>
			<mcy-icon-button
				[id]="'account-detail__copy'"
				class="account-detail__icon"
				(handleClick)="copyToClipboard(account);"
				>copiar_outline</mcy-icon-button
			>
		</div>
	</div>
	<div class="account-detail__data">
		<div class="account-detail__item">
			<span class="account-detail__title">{{
				'pages.accounts.accountDetail.cbu' | translate
			}}</span>
			<span class="account-detail__text">{{account.cbvu}}</span>
		</div>
		<div class="account-detail__item">
			<span class="account-detail__title">{{
				'pages.accounts.accountDetail.alias' | translate
			}}</span>
			<div class="account-detail__item-alias">
				<span class="account-detail__text">{{account.alias}}</span>
				<mcy-contextual-button
					*ngIf="hasWritePermission"
					[id]="'account-detail__edit'"
					class="account-detail__button"
					[prefixIconSize]="'16px'"
					prefixIcon="editar_outline"
					(handleClick)="openEditAlias()"
				>
					{{ 'common.edit' | translate }}
				</mcy-contextual-button>
			</div>
		</div>
		<div class="account-detail__item">
			<span class="account-detail__title">{{
				'pages.accounts.accountDetail.businessName' | translate
			}}</span>
			<span class="account-detail__text">{{ enterpriseState.selectedEnterprise.name }}</span>
		</div>
		<div class="account-detail__item">
			<span class="account-detail__title">{{
				'pages.accounts.accountDetail.cuit' | translate
			}}</span>
			<span class="account-detail__text">{{account.cuilt}}</span>
		</div>
	</div>
</div>
