@import 'variablesNew';

.status-icon {
	position: relative;
	width: fit-content;
	&__circle {
		padding-top: 2px;
		border-radius: $radius-circle;
		display: flex;
		justify-content: center;
		align-items: center;

		&--checked {
			background-color: $background-color-check;
		}

		&--error {
			background-color: $background-color-cancel;
		}

		&--pending-approval {
			background-color: $background-color-pending;
		}

		&--partially-authorized {
			background-color: $background-color-partially;
		}

		&--authorized {
			background-color: $background-color-check;
		}

		&--small {
			height: 32px;
			width: 32px;
		}

		&--medium {
			height: 56px;
			width: 56px;
		}

		&--large {
			height: 72px;
			width: 72px;
		}
	}

	&__icon {
		color: $icon-color-primary;

		&--small {
			font-size: $font-size-M;
		}

		&--medium {
			font-size: $font-size-XXL;
		}

		&--large {
			font-size: $font-size-XXXL;
		}
	}
}
