<div class="pdf-container">
  <div class="pinchMorePDF">
    <pinch-zoom
      #somePinchZoom
      [width]="width"
      [height]="height"
      [limit-zoom]="3"
      [scale]="zoomRate"
      *ngIf="canvasImg"
    >
      <pdf-viewer
        [src]="canvasImg"
        [original-size]="originalSize"
        [render-text]="false"
        [page]="1"
        [autoresize]="autoresize"
        [show-all]="showAll"
        [zoom]="1"
        [fit-to-page]="fitToPage"
        [stick-to-page]="stickToPage"
        style="display:block"
      >
      </pdf-viewer>
    </pinch-zoom>
  </div>
</div>
