@import 'variablesNew';
@import 'mixins';

.transfer-success {
	&__panel {
		margin: 0 $spacing-XL 0;
	}

	&__circle-success {
		align-items: center;
		border-radius: 50%;
		color: $text-color-high-contrast;
		display: flex;
		font-size: 26px;
		height: 48px;
		justify-content: center;
		margin: 0 $spacing-XL 0 0;
		min-width: 48px;
		width: 48px;

		&--authorized {
			background-color: $background-color-check;
		}

		&--rejected {
			background-color: $background-color-cancel;
		}

		&--partially-authorized {
			background-color: $background-color-partially;
		}

		&--pending-authorized {
			background-color: $background-color-pending ;
		}
	}

	&__body {
		display: flex;
		height: 100%;
		padding: $spacing-M 0 0 $spacing-XL;
	}

	&__content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: $spacing-XS 0 $spacing-M 0;
	}

	&__receipt {
		display: flex;
		width: 100%;
		flex-direction: column;
		margin-bottom: $spacing-M;
	}

	&__receipt-label {
		@include font-primary-bold();
		font-size: $font-size-L;
		margin-bottom: $spacing-XXS;
	}

	&__receipt-value {
		@include font-primary-bold();
		font-size: $font-size-XXL;
	}

	&__detail-row {
		display: flex;
		width: 100%;
		margin-bottom: $spacing-L;
	}

	&__detail {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	&__detail-label {
		@include font-primary-regular();
		font-size: $font-size-L;
	}

	&__detail-value {
		@include font-primary-bold();
		font-size: $font-size-L;
	}

	&__actions {
		display: flex;
		margin-top: $spacing-XXL;
	}

	&__action {
		align-items: center;
		display: flex;
		flex: 1;
	}

	&__action-button {
		margin: 0 0 0 $spacing-XL;
	}
}
