<div class="transfer-success">
	<mcy-primary-page-layout
		[title]="contentDetailTransferSuccess?.title"
		[back]="'pages.transfers.ownAccount.success.backTo' | translate"
		(handleBack)="onPrimaryButtonClick()">
		<div class="transfer-success__panel" body>
			<mcy-primary-panel-layout>
				<div class="transfer-success__body" body>
					<mcy-icon class="{{contentDetailTransferSuccess?.class}}">{{contentDetailTransferSuccess?.icon}}</mcy-icon>
					<div class="transfer-success__content">
						<div class="transfer-success__receipt">
							<span class="transfer-success__receipt-label">
								{{contentDetailTransferSuccess.descriptionReciept}}
							</span>
							<span class="transfer-success__receipt-value">
								{{ operationNumber }}
							</span>
						</div>

						<div class="transfer-success__detail-row">
							<div class="transfer-success__detail">
								<span class="transfer-success__detail-label">
									{{ 'pages.transfers.ownAccount.success.accountOrigin' | translate }}
								</span>
								<span class="transfer-success__detail-value">
									{{ originAccount }}
								</span>
							</div>
							<div class="transfer-success__detail">
								<span class="transfer-success__detail-label">
									{{ 'pages.transfers.ownAccount.success.accountDestination' | translate }}
								</span>
								<span class="transfer-success__detail-value">
									{{ destinationAccount }}
								</span>
							</div>
						</div>

						<div class="transfer-success__detail-row">
							<div class="transfer-success__detail">
								<span class="transfer-success__detail-label">
									{{ 'pages.transfers.ownAccount.success.amount' | translate }}
								</span>
								<span class="transfer-success__detail-value" *ngIf="lastTransfer">
									{{ lastTransfer.currency.symbol }} $ {{ lastTransfer.amount | mcyAmount }}
								</span>
							</div>
							<div class="transfer-success__detail">
								<span class="transfer-success__detail-label">
									{{ 'pages.transfers.ownAccount.success.paymentDescription' | translate }}
								</span>
								<span class="transfer-success__detail-value">
									{{ transferState.newTransferFormValue.paymentDescription }}
								</span>
							</div>
						</div>

						<div class="transfer-success__actions">
							<div class="transfer-success__action">
								<mcy-contextual-button
									*ngIf="contentDetailTransferSuccess?.state !== 'AUTHORIZED'"
									[id]="'transfer-success__show-download-receipt-button'"
									[prefixIcon]="contentDetailTransferSuccess?.iconButtonSecundary"
									(handleClick)="detailRequest()">
									{{ 'pages.transfers.ownAccount.success.detailRequest' | translate }}
								</mcy-contextual-button>
								<mcy-contextual-button
									*ngIf="contentDetailTransferSuccess.allowDownload"
									[id]="'transfer-success__show-download-receipt-button'"
									[prefixIcon]="contentDetailTransferSuccess?.iconButtonSecundary"
									(handleClick)="downloadReceipt()">
									{{ 'pages.transfers.ownAccount.success.downloadReceipt' | translate }}
								</mcy-contextual-button>
							</div>
						</div>
					</div>
				</div>
				<div footer>
					<mcy-button
						class="transfer-success__action-button"
						[id]="'transfer-success__back-button'"
						color="secondary"
						(handleClick)="onSecondaryButtonClick()">
						{{ 'pages.transfers.ownAccount.success.secondaryAction' | translate }}
					</mcy-button>
					<mcy-button
						class="transfer-success__action-button"
						color="primary"
						[id]="'transfer-success__next-button'"
						(handleClick)="onPrimaryButtonClick()">
						{{ 'pages.transfers.ownAccount.success.primaryAction' | translate }}
					</mcy-button>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
