<div class="checks-list">
	<div class="checks-list__main-info">
		<h3 class="checks-list__title">
			{{ title }}
			<span class="checks-list__title-note">({{ checks.length }})</span>
		</h3>
		<h4 class="checks-list__subtitle">
			{{ 'pages.dashboard.checks.totalInPesos' | translate }}
		</h4>
		<span class="checks-list__amount">
			{{ amountSymbol }} {{ totalChecksAmount | mcyAmount }}
		</span>
	</div>

	<div class="checks-list__list"
		*ngIf="checks.length">
		<div class="checks-list__table">
			<div class="checks-list__table-header">
				<span class="checks-list__table-title">
					{{ dateType }}
				</span>
				<span class="checks-list__table-title">
					{{ 'pages.dashboard.checks.originalAmount' | translate }}
				</span>
				<span class="checks-list__table-title">
					{{ 'pages.dashboard.checks.checkNumber' | translate }}
				</span>
			</div>
			<div class="checks-list__table-row"
				*ngFor="let check of checksList">
				<span class="checks-list__table-cell">
					{{ formatDate(check.accreditationDate) }}
				</span>
				<span class="checks-list__table-cell checks-list__bold">
					{{ check.currency.symbol }} {{ check.amount | mcyAmount }}
				</span>
				<span class="checks-list__table-cell">
					#{{ check.number }}
				</span>
			</div>
		</div>
	</div>

	<mcy-empty-data
		class="checks-list__empty"
		*ngIf="!checks.length"
		[message]="emptyMessage">
	</mcy-empty-data>

	<div class="checks-list__show-more">
		<mcy-contextual-button
			class="checks-list__show-more-label"
			(handleClick)="showMore()"
			[sufixIcon]="'seta_direita'"
			[sufixIconSize]="'16px'"
			[id]="'checks-list__show-more-button'">
			{{ 'pages.dashboard.checks.more' | translate }}
		</mcy-contextual-button>
	</div>
</div>
