
@import 'variablesNew';
@import 'mixins';

.checks-received-filters {
	align-items: center;
	padding: $spacing-M $spacing-XL;

	&__box-title {
	  margin-top: $spacing-M;
	  margin-bottom: $spacing-M;
	}

	&__title {
		font-size: $font-size-L;
		color: $text-color-tertiary;
	}

	&__total-services-beat {
		font-size: $font-size-XL;
		color: $text-color-primary;
	}

	&__box-sub-title {
	   margin-bottom: $spacing-XS;
	}

	&__sub-title {
		font-size: $font-size-M;
		display: flex;
		color: $text-color-primary;
	}

	&__row {
		height: 100px;
		display: flex;
		cursor: pointer;
	}

	&__search {
		flex: 3;
		padding-right: $spacing-L;
	}

	&__states {
		min-width: 0;
		flex: 2;
		margin-right: $spacing-M;
	}

	&__start-date {
		padding-right: $spacing-L;
		flex: 1;
	}

	&__end-date {
		flex: 1;
	}
}