<div class="checks-received-filters">
	<form [formGroup]="filterForm">
		<div class="checks-received-filters__row">
			<div class="checks-received-filters__search">
				<mcy-input
					[id]="'checks-received__search'"
					type="text"
					(handleChange)="filtersEmit()"
					[label]="'pages.checkbooks.received.filters.searchFieldLabel' | translate"
					[maxLength]="searchFieldLength"
					icon="busca_outline"
					formControlName="searchField">
				</mcy-input>
			</div>
			<div class="checks-received-filters__states">
				<mcy-select
					[id]="'checks-received__states'"
					[data]="statesOptions"
					(handleChange)="filtersEmit()"
					multiple= "true"
					[label]="'pages.checkbooks.received.filters.stateFieldLabel' | translate"
					formControlName="stateField">
				</mcy-select>
			</div>
			<div class="checks-received-filters__start-date">
				<mcy-date
					[id]="'checks-received__start-date'"
					[label]="'pages.checkbooks.received.filters.startFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="startDate"
					[maxDate]="executionDateFromMax"
				></mcy-date>
			</div>
			<div class="checks-received-filters__end-date">
				<mcy-date
					[id]="'checks-received__end-date'"
					[label]="'pages.checkbooks.received.filters.endFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="endDate"
					[maxDate]="executionDateToMax"
					[minDate]="executionDateToMin"
				></mcy-date>
			</div>
		</div>
	</form>
</div>

