@import 'variables';
@import 'mixins';

.transfers-landing {
	&__total-balance-header {
		height: 80px;
		background-color: $background-color-quinary;
		box-shadow: $box-shadow-primary;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 $spacing-XL;
	}

	&__transfers-completed {
		margin: $spacing-L $spacing-XL 0;
	}

	&__transfers-completed-length {
		@include font-primary-semibold();
		color: $text-color-octanary;
		font-size: $font-size-XL;
	}

	&__transfers-completed-title-label {
		@include font-primary-regular();
		color: $text-color-disabled;
		font-size: $font-size-L;
	}

	&__transfers-completed-label {
		@include font-primary-regular();
		font-size: $font-size-M;
	}

	&__table {
		margin: $spacing-L 0;
	}

	&__show-more {
		font-size: $font-size-M;
		cursor: pointer;
		display: flex;
		justify-content: center;
		color: $text-color-link;
	}

	&__status-successful {
		@include font-primary-bold();
		color: $text-color-nonary;
	}

	&__status-processing {
		@include font-primary-bold();
		color: $text-color-quinary;
	}

	&__status-rejected {
		@include font-primary-bold();
		color: $text-color-denary;
	}

	&__icon-actions {
		font-size: 24px;
		padding-left: $spacing-M;
		color: $icon-color-septenary;

		&:first-child {
			padding-left: 0;
		}

		&--disabled {
			color: $icon-color-disabled;
			cursor: default;
		}
	}

	&__icons-section {
		display: flex;
		justify-content: flex-end;
	}
}
