<div class="service-payment-success">
	<mcy-primary-page-layout
		[title]="contentDetailPaymentSuccess?.title"
		[back]="'pages.payments.servicePayment.success.backTo' | translate"
		(handleBack)="onPrimaryButtonClick()"
	>
		<div class="service-payment-success__panel" body>
			<mcy-primary-panel-layout>
				<div class="service-payment-success__body" body>
					<mcy-icon class="{{contentDetailPaymentSuccess?.class}}">{{contentDetailPaymentSuccess?.icon}}</mcy-icon>
					<div class="service-payment-success__content">
						<div class="service-payment-success__receipt">
							<span class="service-payment-success__receipt-label">
								{{ contentDetailPaymentSuccess.descriptionReciept }}
							</span>
							<span class="service-payment-success__receipt-value" >
								{{ lastServicePaymentRequest?.id }}
							</span>
						</div>

						<div class="service-payment-success__detail-row">
							<div class="service-payment-success__detail">
								<span class="service-payment-success__detail-label">
									{{ 'pages.payments.servicePayment.success.item' | translate }}
								</span>
								<span class="service-payment-success__detail-value" >
									{{ content?.category?.description }}
								</span>
							</div>
							<div class="service-payment-success__detail">
								<span class="service-payment-success__detail-label">
									{{ 'pages.payments.servicePayment.success.serviceName' | translate }}
								</span>
								<span class="service-payment-success__detail-value">
									{{ content?.service?.description }}
								</span>
							</div>
						</div>

						<div class="service-payment-success__detail-row">
							<div class="service-payment-success__detail">
								<span class="service-payment-success__detail-label">
									{{ 'pages.payments.servicePayment.success.amount' | translate }}
								</span>
								<span class="service-payment-success__detail-value">
								{{ lastServicePaymentRequest?.currency?.symbol }} {{ lastServicePaymentRequest?.amount }}
								</span>
							</div>
							<div class="service-payment-success__detail">
								<span class="service-payment-success__detail-label">
									{{ 'pages.payments.servicePayment.success.clientNumber' | translate }}
								</span>
								<span class="service-payment-success__client-number">
									{{ content?.banelcoClientId }}
								</span>
							</div>
						</div>

						<div class="service-payment-success__actions">
							<div class="service-payment-success__action">
								<mcy-contextual-button
									*ngIf="contentDetailPaymentSuccess?.state !== 'AUTHORIZED'"
									[id]="'service-payment-success__action-detail'"
									[prefixIcon]="contentDetailPaymentSuccess?.iconButtonSecundary"
									(handleClick)="detailRequest()">
									{{ 'pages.payments.servicePayment.success.detailRequest' | translate }}
								</mcy-contextual-button>
								<mcy-contextual-button
									*ngIf="contentDetailPaymentSuccess.allowDownload"
									[id]="'service-payment-success__action-detail'"
									[prefixIcon]="contentDetailPaymentSuccess?.iconButtonSecundary"
									(handleClick)="downloadReceipt()">
									{{ 'pages.payments.servicePayment.success.downloadReceipt' | translate }}
								</mcy-contextual-button>
							</div>
						</div>
					</div>
				</div>
				<div footer>
					<mcy-button
						[id]="'service-payment-success__action-other-service-payment'"
						class="service-payment-success__action-button"
						color="secondary"
						(handleClick)="onSecondaryButtonClick()">
						{{ 'pages.payments.servicePayment.success.secondaryAction' | translate }}
					</mcy-button>
					<mcy-button
						[id]="'service-payment-success__action-end-service-payment'"
						class="service-payment-success__action-button"
						color="primary"
						(handleClick)="onPrimaryButtonClick()">
						{{ 'pages.payments.servicePayment.success.primaryAction' | translate }}
					</mcy-button>
				</div>
				<div class="service-payment-success__side-box" description>

				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>

