<mcy-signup-layout class="positive-validation">
	<div header class="positive-validation__header">
		<div class="positive-validation__user-icon">
			<mcy-icon>usuario_outline</mcy-icon>
		</div>
		<span class="positive-validation__document">
			{{ documentType }} {{ documentNumber }}
		</span>
	</div>
	<div aside>
		<mcy-sidebar-title 
			[title]="getSidenavTitleTranslation()"
		>
			<mcy-signup-stepper
				[selectedStep]="'positiveValidation'"
				[isPositiveValidationChecked]="positiveValidationForm.valid"
				[isPersonalDataValid]="positiveValidationForm.valid"
			></mcy-signup-stepper>
		</mcy-sidebar-title>
	</div>
	<div body class="positive-validation__main">
		<div class="positive-validation__spinner-container" *ngIf="isLoading">
			<voxel-loading-circle [showLoading]="true" size="large"></voxel-loading-circle>
		</div>
		<div class="positive-validation__main-content" [hidden]="isLoading">
			<div class="positive-validation__main-header">
				<h1 class="positive-validation__main-header-title">
					{{ 'pages.positiveValidation.title' | translate }}
				</h1>
				<mcy-contextual-button
					[id]="'positive-validation__main-header-cancel'"
					[sufixIcon]="'fechar'"
					[sufixIconSize]="'16px'"
					(handleClick)="onCancel()">
					{{ 'pages.positiveValidation.actions.cancel' | translate }}
				</mcy-contextual-button>
			</div>
			<span 
				[innerHTML]="'pages.positiveValidation.description' | translate" 
				class="positive-validation__description"
			></span>
			<div class="positive-validation__open-wpp-container">
				<mcy-button
					[color]="'primary2'"
					[id]="'positive-validation__open-wpp-button'"
					(handleClick)="openNewMessage()"
				>
					{{ 'pages.positiveValidation.openWhatsapp' | translate }}
				</mcy-button>
			</div>
			<form [formGroup]="positiveValidationForm" class="positive-validation__form">
				<p class="positive-validation__code-description">
					{{ 'pages.positiveValidation.enterCode' | translate }}
				</p>
				<div class="positive-validation__code-container">
					<mcy-input
						formControlName="code"
						[label]="'pages.positiveValidation.code' | translate"
						[validators]="codeValidators"
						[id]="'positive-validation__code-input'"
						[required]="true"
					>
					</mcy-input>
				</div>
			</form>
		</div>
			<div class="positive-validation__form-actions">
				<span class="positive-validation__form-required">
					<span class="positive-validation__form-required-icon">* </span>
					{{ 'pages.positiveValidation.requiredFields' | translate }}
				</span>
				<div class="positive-validation__form-actions-row">
					<mcy-button
						[id]="'positive-validation__form-actions-back'"
						[color]="'tertiary'"
						[disabled]="isLoading"
						(handleClick)="onPreviousStepClick()"
					>
						{{ 'pages.positiveValidation.actions.back' | translate }}
					</mcy-button>
					<mcy-button
						[id]="'positive-validation__form-actions-continue'"
						[color]="'primary'"
						[disabled]="!positiveValidationForm.valid || isLoading"
						(handleClick)="onContinue()"
					>
						{{ 'pages.positiveValidation.actions.continue' | translate }}
					</mcy-button>
				</div>
			</div>
	</div>
</mcy-signup-layout>