<div class="table_content">
  <div class="table_scroll">
    <div class="table">
      <!-- search -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div style="width: 300px;">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar" [formControl]="searchValue" (keydown.enter)="$event.preventDefault(); $event.stopPropagation()">
          </mat-form-field>
        </div>
        <button mat-mini-fab color="primary" [routerLink]="[addRedirect]">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <!-- headers -->
      <div class="table_header" fxLayout="row" fxLayoutAlign="space-between center">
        <span *ngIf="multiSelect" fxFlex="5">
          <mat-checkbox color="primary" #mainCheckbox (click)="checkedAllAction()"></mat-checkbox>
        </span>
        <!-- <span>#</span> -->
        <span *ngFor="let header of headers" fxFlex>{{header.label}}</span>
        <span *ngFor="let button of rowActions" fxFlex="5"></span>
      </div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <!-- data -->
      <div #tableData class="table_data">
        <div class="table_data_row" *ngFor="let item of data; index as i">
          <app-table-modal [modalData]="modalSelected" [position]="i" [item]="item" *ngIf="modalSelected.row === i+1"></app-table-modal>
          <div class="table_data_header" fxLayouttable="row" fxLayoutAlign="space-between center">
            <span *ngIf="multiSelect" fxFlex="5">
              <mat-checkbox #checkbox color="primary" (click)="$event.stopPropagation(); selectItem(i)"></mat-checkbox>
            </span>
            <!-- <span>{{i + 1}}</span> -->
            <div *ngFor="let data of headers" fxFlex>
              <app-table-container [componentType]="data.type" [componentData]="{
                      item: item, 
                      field: data.value, 
                      position:i
                  }"></app-table-container>
            </div>
            <div *ngFor="let button of rowActions" fxFlex="5">
              <app-table-container [componentType]="button.type" [componentData]="{
                      item: item,
                      button: button,
                      position: i
                  }"></app-table-container>
            </div>
          </div>
          <app-table-container *ngIf="rowSubItemSelected.row === i+1" [componentType]="rowSubItemSelected.type"
            [componentData]="{
                  item: item,
                  field: rowSubItemSelected.data.field,
                  observable: rowSubItemSelected.data.observable,
                  galleryConfig: rowSubItemSelected.data.galleryConfig,
                  secondTableConfig: rowSubItemSelected.data.secondTableConfig,
                  position: i
              }"></app-table-container>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="data && data.length === 0">
        <p>No hay datos encontrados</p>
      </div>
      <!-- paginator -->
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="tablePagination">
        <app-table-paginator [tablePagination]="tablePagination" (changePage)="changePageAction($event)"></app-table-paginator>
      </div>
    </div>
    <!-- multi actions -->
    <div fxLayout="row">
      <app-table-multi-actions 
      [colors]="colors" 
      [items]="itemsSelected" 
      (unSelectItems)="unSelectItems()"
      [multiActions]="multiActions"
      ></app-table-multi-actions>
    </div>
  </div>
</div>