<div class="table">
    mobile
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar" [formControl]="searchValue" (keydown.enter)="$event.preventDefault(); $event.stopPropagation()">
        </mat-form-field>
        <button mat-mini-fab color="primary" [routerLink]="[addRedirect]">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="table_data_row" *ngFor="let item of data; index as i">
        <div class="" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="mobileHeaders">
            <div fxFlex="20">1</div>
            <div fxFlex>
                <p>{{formatText(item,mobileHeaders.title)}}</p>
                <p>{{formatText(item,mobileHeaders.subtitle)}}</p>
            </div>
            <div fxFlex="20">3</div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="data && data.length === 0">
        <p>No hay datos encontrados</p>
    </div> -->
</div>