<mcy-primary-page-layout [title]="'pages.payments.landingPaymentsTitle' | translate">
    <div body class="payments-landing">
      <mat-tab-group [selectedIndex]="selectedIndex"  (selectedTabChange)="setSelectedIndex($event.index)">
        <mat-tab [label]="'common.services' | translate">
          <mcy-service></mcy-service>
        </mat-tab>

        <mat-tab [label]="'common.salaries' | translate">
          <mcy-salary></mcy-salary>
				</mat-tab>
				
				<mat-tab [label]="'pages.payments.providers.landing.tabName' | translate">
          <mcy-provider-page></mcy-provider-page>
        </mat-tab>
      </mat-tab-group>
    </div>
</mcy-primary-page-layout>
