<div class="checks-discounted">
	<div class="checks-discounted__general-error"
		*ngIf="state.hasErrorChecksDiscounted && !state.loadingChecksDiscounted">
		<mcy-loading-data-error
			[errorDescription]="generalErrorMessage"
			[displayRetry]="true"
			(handleOnRetry)="retry()">
		</mcy-loading-data-error>
	</div>

	<div class="checks-discounted__spinner-container"
		*ngIf="state.loadingChecksDiscounted">
		<voxel-loading-circle
			[showLoading]="true"
			size="large">
		</voxel-loading-circle>
	</div>

	<div class="checks-discounted__checks-discounted"
		*ngIf="!state.hasErrorChecksDiscounted && !state.loadingChecksDiscounted">

		<div class="checks-discounted__checks-discounted-header">
			<div class="checks-discounted__title-container"
			*ngIf="paginatedChecksDiscounted.length"
			>
				<div>
					<span class="checks-discounted__length">
						{{ totalChecksDiscounted }}
					</span>
					<span class="checks-discounted__title">
						{{ 'pages.checkbooks.checksDiscounted.totalChecksDiscounted' | translate }}
					</span>
				</div>
				<div class="checks-discounted__box-search">
					<mcy-contextual-button
						[id]="'checks-discounted__search-icon'"
						[sufixIconSize]="'16px'"
						[sufixIcon]="visibleFilters ? 'seta_cima' : 'busca_outline'"
						(handleClick)="showFilters()">
						{{labelShowFilter}}
					</mcy-contextual-button>
				</div>
			</div>

			<mcy-checks-discounted-filters
				*ngIf="visibleFilters"
				(sendFilters)="filterData($event);">
			</mcy-checks-discounted-filters>
		</div>

		<mcy-checks-discounted-list
			[checksDiscounted]="paginatedChecksDiscounted">
		</mcy-checks-discounted-list>

		<div class="checks-discounted__change-pagination">
			<mcy-contextual-button
				[id]="'checks-discounted__change-pagination'"
				sufixIcon="seta_baixo"
				(handleClick)="changePagination()"
				*ngIf="filteredCheckDiscounted.length > paginatedChecksDiscounted.length && paginatedChecksDiscounted.length">
				{{'pages.checkbooks.checksDiscounted.showMore' | translate}}
			</mcy-contextual-button>
		</div>
	</div>
</div>
