@import 'variablesNew';
@import 'mixins';

.checks-discounted {
	&__header {
		display: flex;
		align-items: center;
		padding: $spacing-XS 0;
		background-color: $background-color-secondary;
	}

	&__button {
		padding-right: $spacing-L;
	}

	&__icon {
		margin-right: $spacing-XXS;
		font-size: 24px;
	}

	&__title-container {
		display: flex;
		justify-content: space-between;
		margin: $spacing-XL $spacing-XXL 0;
	}

	&__length {
		@include font-primary-semibold();
		color: $text-color-tertiary;
		font-size: $font-size-XXL;
	}

	&__title {
		@include font-primary-regular();
		color: $text-color-disabled;
		font-size: $font-size-L;
	}

	&__subtitle {
		@include font-primary-regular();
		font-size: $font-size-M;
		margin: $spacing-XS $spacing-XXL 0;
	}

	&__change-pagination {
		font-size: $font-size-M;
		cursor: pointer;
		display: flex;
		justify-content: center;
		color: $text-color-link;
	}

	&__general-error {
		margin: $spacing-XXL auto;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 440px;
		text-align: center;
	}

	&__spinner-container {
		display: flex;
		justify-content: center;
		margin: $spacing-M;
	}
}