@import 'variables';
@import 'mixins';

.transfers-processed {
	&__body {
		margin: 0 $spacing-XL;
	}

	&__filter-form {
		margin: $spacing-XL 0;
	}

	&__transfers-completed-length {
		@include font-primary-semibold();
		color: $text-color-octanary;
		font-size: $font-size-XL;
	}

	&__transfers-completed-title-label {
		@include font-primary-regular();
		color: $text-color-disabled;
		font-size: $font-size-L;
	}

	&__transfers-completed-label {
		@include font-primary-regular();
		font-size: $font-size-M;
	}

	&__table {
		margin: $spacing-L 0;
	}

	&__show-more {
		font-size: $font-size-M;
		cursor: pointer;
		display: flex;
		justify-content: center;
		color: $text-color-link;
	}

	&__show-more-label {
		@include font-primary-bold();
		padding: 0 $spacing-S 0 0;
	}

	&__status-successful {
		@include font-primary-bold();
		color: $text-color-nonary;
	}

	&__status-processing {
		@include font-primary-bold();
		color: $text-color-quinary;
	}

	&__status-rejected {
		@include font-primary-bold();
		color: $text-color-denary;
	}

	&__icon-actions {
		font-size: 24px;
		padding-left: $spacing-M;
		color: $icon-color-septenary;

		&:first-child {
			padding-left: 0;
		}

		&--disabled {
			color: $icon-color-disabled;
			cursor: default;
		}
	}

	&__icons-section {
		display: flex;
		justify-content: flex-end;
	}

	&__button-icon {
		position: relative;
		top: 2px;
		right: 4px;
	}

	&__button {
		padding-left: $spacing-L;

		&:first-child {
			padding-left: 0;
		}
	}

	&__transfer-header {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__filter-icon { 
		font-size: 24px;
		cursor: pointer;
		color: $icon-color-tertiary;
	}
}
