@import 'variables';

.vertical-stepper{
	&__button {
		margin-top: $spacing-XL;
		margin-right: $spacing-M;
	}
	&__label {
		padding-left: $spacing-XL;
	}
	&__service-description {
		margin-right: $spacing-S;
	}
}

.payment-step {
	position: relative;
	padding: $spacing-XS;
	&__amount-type {
		margin-bottom: $spacing-M;
	}
	&__label {
		margin-top: 0;
	}
	&__un-cover-amount {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: $font-size-L;
		background-color: $background-color-primary;
		z-index: $z-index-back;
		border: 1px solid $border-color-secondary;
	}
	&__button {
        margin: $spacing-XS 0;
    }
}