@import 'variablesNew';
@import 'mixins';

.contacts {
	margin: $spacing-XXL;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__table-title {
		@include font-primary-light();
		font-size: $font-size-XXL;
		margin: $spacing-XXS 0 $spacing-XS 0;
	}

	&__table-title-container {
		margin-top: $spacing-XXL;
	}

	&__header-title {
		font-size: $font-size-XXXL;
		@include font-primary-light();
		margin: 0;
	}

	&__button-icon {
		font-size: 24px;
		margin-right: 8px;
	}

	&__table-header-title {
		@include font-primary-semibold();
		font-size: $font-size-XS;
	}

	&__button-group {
		display: flex;
	}

	&__button:first-child {
		margin: 0 $spacing-XXS 0 0;
	}

	&__button:last-child {
		margin: 0 0 0 $spacing-XXS;
	}

	&__button {
		margin: 0 $spacing-XXS;	
	}

	&__favorite {
		font-size: $font-size-XXL;
	}

	&__icon-actions {
		font-size: $font-size-XXL;
		padding: $spacing-XXS;
		color: $text-color-link;
	}
	
	&__table-reference {
		max-width: 80px;
	}
	
	&__table-name {
		max-width: 85px;
	}

	&__table-column-actions {
		text-align: end;
	}
}
