<div class="cart-container" fxLayout="column">
  <div fxFlex>
    <div fxLayout="row" fxLayout.lt-sm="column" style="height: 100%;">
      <div fxFlex.xs="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="30">
        <app-cart-list></app-cart-list>
      </div>
      <div fxFlex.xs="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="20">
        <!-- <app-cart-edit></app-cart-edit> -->
      </div>
      <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50">
        <app-cart-settings></app-cart-settings>
      </div>
    </div>
  </div>
</div>
