@import 'variablesNew';
@import 'mixins';

.soft-token-create-success {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;

	&__main-section {
		margin-bottom: $spacing-XXL;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	&__title-section {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	&__text-section {
		margin-top: $spacing-XL;
		text-align: center;
	}

	&__title {
		@include font-primary-bold();
		font-size: $font-size-XXL;
		line-height: normal;
		margin: 0;
	}

	&__description {
		@include font-primary-regular();
		font-size: $font-size-XL;
		margin: 0;
		line-height: normal;
	}

	&__message {
		@include font-primary-regular();
		line-height: normal;
		font-size: $font-size-XL;
		color: $text-color-primary;
	}

	&__buttons-section {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		margin-left: $spacing-M;
	}
}
