<div class="soft-token-create-success">
	<div class="soft-token-create-success__main-section">
		<div class="soft-token-create-success__title-section">
			<mcy-status-icon
				[status]="'SUCCESS'"
				[size]="'large'"
			></mcy-status-icon>
			<div class="soft-token-create-success__text-section">
				<h3 class="soft-token-create-success__title">
					{{ 'sidenav.softokenCreateSuccess.subtitle' | translate }}
				</h3>
				<span class="soft-token-create-success__description">
					{{ 'sidenav.softokenCreateSuccess.description' | translate }}
				</span>
			</div>
		</div>
		<div class="soft-token-create-success__text-section">
			<span class="soft-token-create-success__message">
				{{ 'sidenav.softokenCreateSuccess.message' | translate }}
			</span>
		</div>
	</div>

	<div class="soft-token-create-success__buttons-section">
		<mcy-button
			class="soft-token-create-success__button"
			[id]="'soft-token-create-success__button'"
			[color]="'primary'"
			(handleClick)="finish()">
			{{ 'sidenav.softokenCreateSuccess.finish' | translate }}
		</mcy-button>
	</div>
</div>
