<div class="edit-alias">
	<div class="edit-alias__header">
		<div class="edit-alias__column">
			<span>{{getAccountTypeTranslate()}} ({{data.currency.symbol}})</span>
			<span class="edit-alias__special">{{data.number | mcyAccountNumber}}</span>
		</div>
		<div class="edit-alias__column">
			<span>{{'pages.accounts.editAlias.cbu' | translate}}</span>
			<span class="edit-alias__special">{{data.cbvu}}</span>
		</div>
	</div>
	<p class="edit-alias__text">
		{{ 'pages.accounts.editAlias.numberCharactersValidationText' | translate }}
	</p>
	<p class="edit-alias__text">
		{{ 'pages.accounts.editAlias.charactersValidationText' | translate }}
	</p>
	<div class="edit-alias__input" [formGroup]="form">
		<mcy-input
			[validatorMessage]="errorMessage"
			formControlName="alias"
			[validators]="aliasValidators"
			[label]="'pages.accounts.editAlias.inputLabel' | translate"
		></mcy-input>
	</div>
	<mcy-sidenav-footer>
		<div class="edit-alias__footer">
			<mcy-button color="tertiary" (handleClick)="cancel()" class="edit-alias__button">{{
				'pages.accounts.editAlias.cancelButton' | translate
			}}</mcy-button>
			<mcy-button
				color="primary"
				[disabled]="!form.valid || data.alias === form.value.alias"
				class="edit-alias__button"
				(handleClick)="update()"
				>{{ 'pages.accounts.editAlias.updateButton' | translate }}</mcy-button
			>
		</div>
	</mcy-sidenav-footer>
</div>
