@import 'variablesNew';
@import 'mixins';

.edit-alias {
	&__header {
		color: $text-color-disabled;
		display: flex;
		margin: $spacing-XL 0;
	}

	&__column {
		flex: 5;
		display: flex;
		flex-direction: column;
		line-height: 1.5;
	}

	&__text {
		@include font-primary-semibold();
		line-height: 1.5;
		margin: 0;
	}

	&__input {
		margin-top: $spacing-XL;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		margin-left: $spacing-L;
	}

	&__special {
		@include font-primary-extrabold();
	}
}
