@import 'variables';
@import 'mixins';

.payments-filters {
    align-items: center;
    padding: $spacing-M $spacing-XL;
    &__box-title {
      margin-top: $spacing-M;
      margin-bottom: $spacing-M;

    }
    &__title {
        font-size: $font-size-L;
        color: $text-color-octanary;
    }
    &__total-services-beat {
        font-size: $font-size-XL;
        color: $text-color-ninth;
    }
    &__box-sub-title {
       margin-bottom: $spacing-XS;
    }
    &__sub-title {
        font-size: $font-size-M;
        display: flex;
        color: $text-color-ninth;
    }
    &__row {
        display: flex;
        cursor: pointer;
    }
    &__search {
        flex: 2;
        padding-right: $spacing-M;
        min-width: 0;
    }
    &__categories {
        flex: 1;
        padding-right: $spacing-M;
        min-width: 0;
    }

    &__start-date {
        flex: 1;
        padding-right: $spacing-M;
        min-width: 0;
    }
    &__end-date {
        flex: 1;
        min-width: 0;
    }
}
