<div class="payments-filters">
	<form [formGroup]="filterForm">
		<div class="payments-filters__row">
			<div class="payments-filters__search">
				<mcy-input
					[id]="'payments-filters__search'"
					type="text"
					(handleChange)="filtersEmit()"
					[label]="typeFiltersShow"
					[maxLength]="searchFieldLength"
					icon="busca_outline"
					formControlName="searchField">
				</mcy-input>
			</div>
			<div class="payments-filters__categories">
				<mcy-select
					[id]="'payments-filters__categories'"
					[data]="statesOptions"
					(handleChange)="filtersEmit()"
					[label]="'pages.payments.services.stateFieldLabel' | translate"
					formControlName="state">
				</mcy-select>
			</div>
			<div class="payments-filters__start-date">
				<mcy-date
					[id]="'payments-filters__start-date'"
					[minDate]="minDate"
					[label]="'pages.payments.services.startFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="startDate"
				></mcy-date>
			</div>
			<div class="payments-filters__end-date">
				<mcy-date
					[id]="'payments-filters__end-date'"
					[label]="'pages.payments.services.endFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="endDate"
					[maxDate]="maxDate"
				></mcy-date>
			</div>
		</div>
	</form>
</div>

