
@import 'variables';
@import 'mixins';

.filter-accounts{
    align-items: center;
    &__box-title {
      margin-top: $spacing-M;
      margin-bottom: $spacing-M;

    }

    &__title {
        font-size: $font-size-L;
        color: $text-color-octanary;
    }

    &__total-services-beat {
        font-size: $font-size-XL;
        color: $text-color-ninth;
    }

    &__box-sub-title {
       margin-bottom: $spacing-XS;
    }

    &__sub-title {
        font-size: $font-size-M;
        display: flex;
        color: $text-color-ninth;
    }

    &__row {
        height: 100px;
        display: flex;
        cursor: pointer;
        margin-top: $spacing-L;
    }

    &__search {
        flex: 3;
        padding-right: $spacing-L;
        min-width: 0;
    }

    &__start-date {
        padding-right: $spacing-L;
        min-width: 0;

    }

    &__end-date {
        min-width: 0;

    }
}