<div class="filter-accounts">
	<form [formGroup]="filterForm">
		<div class="filter-accounts__row">
			<div class="filter-accounts__search">
				<mcy-input
					[id]="'filter-accounts__search'"
					type="text"
					(handleChange)="filtersEmit()"
					[label]="'pages.accounts.accountMovements.accountsFilters.searchFieldLabel' | translate"
					[maxLength]="searchFieldLength"
					icon="busca_outline"
					formControlName="searchField">
				</mcy-input>
			</div>
			<div class="filter-accounts__start-date">
				<mcy-date
					[id]="'filter-accounts__start-date'"
					[label]="'pages.accounts.accountMovements.accountsFilters.startFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="startDate"
				></mcy-date>
			</div>
			<div class="filter-accounts__end-date">
				<mcy-date
					[id]="'filter-accounts__end-date'"
					[label]="'pages.accounts.accountMovements.accountsFilters.endFieldLabel' | translate"
					icon="calendario_outline"
					(handleChange)="filtersEmit()"
					formControlName="endDate"
				></mcy-date>
			</div>
		</div>
	</form>
</div>
