<div class="users-landing">
	<mcy-primary-page-layout 
		[isLoading]="employeeState.loading"
		[title]="'pages.users.landing.title' | translate"
	>
		<div actions class="users-landing__actions">
			<mcy-button
				(handleClick)="bindUser()"
				[id]="'users-landing__bind-user'"
			>
				<mcy-icon class="users-landing__button-icon">mais</mcy-icon>
				{{ 'pages.users.landing.addNew' | translate }}
			</mcy-button>
		</div>
		<div body class="users-landing__body">
			<div *ngIf="!isUsersListEmpty" class="users-landing__table-container">
				<table
					mat-table
					[dataSource]="userListTableSource"
					class="mat-elevation-z8 users-landing__table"
					id="users-landing__table"
				>
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef>
							<span class="users-landing__table-header-title">
								{{ 'pages.users.landing.tableHeader.name' | translate }}
							</span>
						</th>
						<td mat-cell *matCellDef="let employee">
							{{ employee.user.name }}
						</td>
					</ng-container>

					<ng-container matColumnDef="document">
						<th mat-header-cell *matHeaderCellDef>
							<span class="users-landing__table-header-title">
								{{ 'pages.users.landing.tableHeader.document' | translate }}
							</span>
						</th>
						<td mat-cell *matCellDef="let employee">
							{{ employee.user.document.type }} {{ employee.user.document.number }}
						</td>
					</ng-container>

					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef>
							<span class="users-landing__table-header-title">
								{{ 'pages.users.landing.tableHeader.status' | translate }}
							</span>
						</th>
						<td
							class="users-landing__status users-landing__status--linked"
							mat-cell
							*matCellDef="let employee"
						>
						<span
							*ngIf="employee.linkedState === linkedState.active"
							class="users-landing__status users-landing__status--linked"
						>
							{{ 'pages.users.landing.linked' | translate }}
						</span>
						<span
							*ngIf="employee.linkedState === linkedState.pendingApproval"
							class="users-landing__status users-landing__status--pending"
						>
							{{ 'pages.users.landing.pending' | translate }}
						</span>
						<span
							*ngIf="employee.linkedState === linkedState.inactive"
							class="users-landing__status users-landing__status--unlinked"
						>
							{{ 'pages.users.landing.unlinked' | translate }}
						</span>
						</td>
					</ng-container>

					<ng-container matColumnDef="role">
						<th mat-header-cell *matHeaderCellDef>
							<span class="users-landing__table-header-title">
								{{ 'pages.users.landing.tableHeader.role' | translate }}
							</span>
							<mcy-icon class="users-landing__info-icon">informacao_outline</mcy-icon>
						</th>
						<td mat-cell *matCellDef="let employee; let cellIndex = index">
							<mat-button-toggle-group
								[disabled]="employee.linkedState === linkedState.inactive"
								[multiple]="true"
							>
								<mat-button-toggle
									*ngIf="hasSuperAdminWritePermission"
									[value]="roles.ADMIN"
									[checked]="employee.role === roles.ADMIN"
									(change)="onButtonToggleChange($event, employee)"
									[id]="'user-landing__admin-toggle-' + cellIndex"
								>
									{{ 'pages.users.landing.admin' | translate }}

								</mat-button-toggle>
								<mat-button-toggle
									[value]="roles.OPERATOR"
									[checked]="employee.role === roles.OPERATOR"
									(change)="onButtonToggleChange($event, employee)"
									[id]="'user-landing__operator-toggle-' + cellIndex"
								>
									{{ 'pages.users.landing.operator' | translate }}
								</mat-button-toggle>
								<mat-button-toggle
									[value]="roles.CONSULTANT"
									[checked]="employee.role === roles.CONSULTANT"
									(change)="onButtonToggleChange($event, employee)"
									[id]="'user-landing__consultant-toggle-' + cellIndex"
								>
									{{ 'pages.users.landing.consultant' | translate }}
								</mat-button-toggle>
							</mat-button-toggle-group>
						</td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef></th>
						<td class mat-cell *matCellDef="let employee; let cellIndex = index">
								<mcy-icon-button
									*ngIf="employee.linkedState === linkedState.active || employee.linkedState === linkedState.pendingApproval"
									class="users-landing__icon-actions"
									(handleClick)="toggleLinkUserClick(employee)"
									[id]="'users-landing__unlink-button-' + cellIndex"
								>
									excluir_outline
								</mcy-icon-button>
								<mcy-icon-button
									*ngIf="employee.linkedState === linkedState.inactive"
									class="users-landing__icon-actions"
									(handleClick)="toggleLinkUserClick(employee)"
									[id]="'users-landing__link-button-' + cellIndex"
								>
									recarregar
							</mcy-icon-button>
						</td>
					</ng-container>

					<tr class="users-landing__table-header"
						mat-header-row
						*matHeaderRowDef="displayedColumns"
					></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<div
					class="users-landing__show-more"
					*ngIf="employeeState.employees.length > itemsDisplayed"
				>
					<mcy-contextual-button
						class="users-landing__show-more-label"
						(handleClick)="showMoreUsers()"
						[sufixIcon]="'seta_baixo'"
						[sufixIconSize]="'16px'"
						[id]="'user-landing__show-more-button'"
					>
						{{ 'pages.users.landing.showMore' | translate }}
					</mcy-contextual-button>
				</div>
			</div>
		</div>
	</mcy-primary-page-layout>
</div>
