<div class="enable-checkbook-confirm">
	<div class="enable-checkbook-confirm__content">
		<mcy-status-icon size="large" [status]="status"></mcy-status-icon>
		<span class="enable-checkbook-confirm__title">
			{{description}}
		</span>
		<span>{{message}}</span>
	</div>
	<mcy-sidenav-footer>
		<div class="enable-checkbook-confirm__footer">
			<mcy-button
				color="primary"
				[id]="'enable-checkbook-confirm__enable-button'"
				(click)="end()"
				>{{ 'pages.checkbooks.enableCheckbook.end' | translate }}</mcy-button
			>
		</div>
	</mcy-sidenav-footer>
</div>
