@import 'variablesNew';
@import 'mixins';

.empty-data {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	&__icon {
		font-size: 72px;
		color: $icon-color-disabled;
		margin-bottom: $spacing-XS;
	}

	&__text {
		color: $text-color-tertiary;
		font-size: $font-size-S;
		line-height: 1.7;
	}
}