.cartList__container {
    width: 100%;
    height: 100%;
}

.cartList__listContainer {
    background: white;
    position: relative;
    width: 100%;
    height: 83%;
}

.cartList__buttonsContainer {
    height: 8%;
}

.cartList__main {
    height: 40px;
}

.cartList__settings {
    position: relative;
    width: 102%;
    left: -1%;
    height: 50px;
    border-radius: 5px;
    background: rgb(232, 232, 232);
}

.cartList__content{
    height: 63%;
}

.cartList__endContent {
    position: absolute;
    bottom: 0px;
    height: 23%;
    width: 100%;
}

.cartList__endDivider {
    width: 100%;
    height: 30px;
    background: rgb(232, 232, 232);
}

.cartList__buttons {
    width: 100%;
    height: 40px;
}