<div class="cartList__container">
  <div class="cartList__listContainer">
    <div class="cartList__main" fxLayout="row" fxLayoutAlign="center center"></div>
    <div class="cartList__settings" fxLayout="row" fxLayoutAlign="center center"></div>
    <div class="cartList__content" fxLayout="row" fxLayoutAlign="center center"></div>
    <div class="cartList__endContent">
      <div class="cartList__endDivider">

      </div>
    </div>
  </div>
  <div class="cartList__buttonsContainer" fxLayout="row" fxLayoutAlign="center center">
      <button mat-flat-button color="primary" class="cartList__buttons" style="margin-right: 5px;">send</button>
      <button mat-flat-button color="primary" class="cartList__buttons">pay</button>
  </div>
</div>