@import 'variablesNew';
@import 'mixins';

.contact-edit {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding-top: $spacing-S;

	&__profile-image {
		display: flex;
		justify-content: center;
		margin-bottom: $spacing-S;
	}

	&__row {
		display: flex;
    	flex-direction: row;
	}

	&__details-container {
		margin-bottom: $spacing-S;
	}

	&__detail-container {
		flex: 1;
		padding: $spacing-XXS $spacing-XS $spacing-XXS 0;

		&:last-child {
			padding-right: 0;
		}
	}

	&__label {
		@include font-primary-regular;
		color: $text-color-secondary;
		display: block;
		margin-bottom: $spacing-XXS;
		font-size: $font-size-XS;
	}

	&__value {
		@include font-primary-regular;
		font-size: $font-size-S;
	}

	&__buttons-section {
		display: flex;
		flex: 1;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__reference-input {
		padding-bottom: $spacing-M;
		flex: 1;
	}

	&__email-input {
		padding: 0 $spacing-XXS $spacing-XXL 0;
		flex: 1;
		box-sizing: content-box;
	}

	&__category-input {
		padding: 0 0 $spacing-XXL 0;
		flex: 1;
		box-sizing: border-box;
	}
}
