@import 'variables';
@import 'media';
@import 'mixins';

.header {
	height: 80px;
	background-color: $background-color-primary;
	padding: $spacing-M $spacing-XL;
	border-bottom: 1px solid $border-color-primary;
	position: sticky;
	top: 0;
	z-index: $z-index-normal;

	&__notification-wrapper {
		border-left: 1px solid $border-color-primary;
		padding: 0 $spacing-L;
		height: 100%;
		align-items: center;
		display: flex;
	}

	&__logo-container {
		display: flex;
		align-items: center;
	}

	&__menu-container {
		margin: $spacing-L;
	}

	&__menu-footer {
		border-top: 1px solid $border-color-disabled;
		margin-top: $spacing-S;
	}

	&__menu-button {
		margin-top: $spacing-L;
		margin-left: $spacing-XS;
	}

	&__menu-name {
		@include font-primary-semibold();
		font-size: $font-size-L;
		color: $text-color-ninth;
		margin-bottom: $spacing-XS;
	}

	&__menu-document {
		@include font-primary-regular();
		font-size: $font-size-M;
		color: $text-color-senary;
	}

	&__menu-details-button {
		@include font-primary-semibold();
		margin-top: $spacing-S;
		font-size: $font-size-M;
	}

	&__menu-last-entry {
		@include font-primary-regular();
		font-size: $font-size-M;
		color: $text-color-senary;
	}

	&__info-container {
		margin-bottom: $spacing-L;
		display: flex;
	}

	&__menu-logo {
		display: inline-block;
		margin-right: $spacing-S;
	}

	&__menu-info {
		display: inline-flex;
		flex-direction: column;
	}

	&__menu-container {
		margin: $spacing-L;
	}

	&__menu-footer {
		border-top: 1px solid $border-color-disabled;
		margin-top: $spacing-S; 
	}
	
	&__menu-logout-button {
		margin-left: $spacing-XS;
	}

	&__menu-name {
		@include font-primary-semibold();
		font-size: $font-size-L;
		color: $text-color-ninth;
	}

	&__menu-document {
		@include font-primary-regular();
		font-size: $font-size-M;
		color: $text-color-senary;
	}

	&__menu-details-button {
		@include font-primary-semibold();
		font-size: $font-size-M;
	}

	&__menu-last-entry {
		@include font-primary-regular();
		font-size: $font-size-M;
		color: $text-color-senary;
	}

	&__info-container {
		margin-bottom: $spacing-L;
		display: flex;
	}

	&__menu-logo {
		display: inline-block;
		margin-right: $spacing-S;
	}

	&__menu-info {
		display: inline-flex;
		flex-direction: column;
	}

	&__logo-text {
		align-self: flex-end;
		font-size: $font-size-L;
		line-height: $font-size-L;
		margin-bottom: $spacing-S;
	}

	&__profile {
		display: flex;
		flex: 1;
		height: 80px;
		justify-content: flex-end;
		align-items: center;
	}

	&__menu-text {
		@include font-primary-semibold();
		font-size: $font-size-M;
	}

	&__enterprise-button {
		padding: 0 $spacing-L 0 0;
	}

	&__users-icon {
		padding: 0 $spacing-XS 0 0;
	}

	&__users-button {
		display: flex;
		padding: 0 $spacing-L 0 0;
		margin: 0 $spacing-M 0 0;
	}

	@include mobile {
		height: 40px;
	}
}
