@import 'variablesNew';
@import 'mixins';

.checks-issued-list {
	padding: $spacing-M $spacing-XL;

	&__loading {
		display: flex;
		justify-content: center;
	}

	&__options-icon {
		color: $icon-color-spinner;
		font-size: $font-size-XXL;
	}

	&__state {
		@include font-primary-extrabold;
		font-size: $font-size-S;

		&--covered {
			color: $text-color-link;
		}

		&--to-cover {

			color: $text-color-succeed;
		}

		&--rejected {
			color: $text-color-cancelled;
		}
	}

	&__option-text {
		color: $text-color-secondary;
	}

	&__icon-column {
		width: 40px;
	}
}
