<div class="checks-issued-list">
	<div *ngIf="loading" class="checks-issued-list__loading">
		<voxel-loading-circle
			[showLoading]="true"
			size="large"
		></voxel-loading-circle>
	</div>

	<mcy-no-data-message *ngIf="!loading && !checks.length && hasAccountSelected"
		[message]="'pages.checkbooks.checksIssued.emptyMessage' | translate">
	</mcy-no-data-message>

	<table
		*ngIf="!loading && checks.length"
		mat-table
		[dataSource]="checks"
		class="mat-elevation-z8"
		id="checks-issued-list__table"
	>
		<ng-container matColumnDef="icon">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef class="checks-issued-list__icon-column">
				<mcy-badge-icon type="caution" iconSize="27px" badgeSize="small"
					>cheque_outline
				</mcy-badge-icon>
			</td>
		</ng-container>

		<ng-container matColumnDef="number">
			<th mat-header-cell *matHeaderCellDef>
				{{ 'pages.checkbooks.checksIssued.number' | translate }}
			</th>
			<td mat-cell *matCellDef="let check">
				{{ check.number }}
			</td>
		</ng-container>

		<ng-container matColumnDef="code">
			<th mat-header-cell *matHeaderCellDef>
				{{ 'pages.checkbooks.checksIssued.code' | translate }}
			</th>
			<td mat-cell *matCellDef="let check">{{ check.code }}</td>
		</ng-container>

		<ng-container matColumnDef="accreditationDate">
			<th mat-header-cell *matHeaderCellDef>
				{{ 'pages.checkbooks.checksIssued.accreditationDate' | translate }}
			</th>
			<td mat-cell *matCellDef="let check">
				{{ selectDate(check) }}
			</td>
		</ng-container>

		<ng-container matColumnDef="amount">
			<th mat-header-cell *matHeaderCellDef>
				{{ 'pages.checkbooks.checksIssued.amount' | translate }}
			</th>
			<td mat-cell *matCellDef="let check">
				{{ check.currency.symbol }} {{ check.amount | mcyAmount }}
			</td>
		</ng-container>

		<ng-container matColumnDef="state">
			<th mat-header-cell *matHeaderCellDef>
				{{ 'pages.checkbooks.checksIssued.state' | translate }}
			</th>
			<td
				mat-cell
				*matCellDef="let check"
				class="checks-issued-list__state"
				[ngClass]="{
					'checks-issued-list__state--covered': check.state === 'COVERED',
					'checks-issued-list__state--to-cover': check.state === 'TO_COVER',
					'checks-issued-list__state--rejected': check.state === 'REJECTED'
				}"
			>
				{{ 'pages.checkbooks.received.states.' + check.state | translate }}
			</td>
		</ng-container>

		<ng-container matColumnDef="options">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let check; let cellIndex = index" class="checks-issued-list__icon-column">
				<mcy-icon-button
					[id]="'checks-issued-list__show-details-button-' + cellIndex"
					class="checks-issued-list__options-icon"
					[matMenuTriggerFor]="optionsMenu"
					*ngIf="showOptions(check)"
				>
					outros
				</mcy-icon-button>
				<mat-menu #optionsMenu="matMenu" xPosition="before">
					<span
						mat-menu-item class="checks-issued-list__option-text"
						 *ngIf="showDownloadImage(check)"
						 (click)="downloadImage(check)"
						 >
						{{ 'pages.checkbooks.checksIssued.downloadImage' | translate }}
					</span>
					<span mat-menu-item class="checks-issued-list__option-text" *ngIf="showRejectMotive(check)"
						(click)="showReasonRejection(check)">
						{{ 'pages.checkbooks.checksIssued.reasonRejection' | translate }}
					</span>
				</mat-menu>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
