<div class="container pt-5">
  <div class="row">
    <div class="col-sm">
      <h1 class="section-header__title">
        {{ '@Data of Account' | translate }}
      </h1>
    </div>
    <div class="col-sm section-header__message">
      <p>
        {{ '@All fields marked with' | translate }}&nbsp;<i
          class="fas fa-asterisk"
        ></i
        >&nbsp;{{ '@Are obligatory' | translate }}
      </p>
    </div>
  </div>
  <form autocomplete="off" [formGroup]="accountForm">
    <div class="row">
      <div class="col-sm">
        <app-form-field
          label="{{ '@Account' | translate }}"
          [formSubmitted]="formSubmitted"
        >
          <ng-select
            [items]="bankAccounts"
            placeholder="{{ '@Select Account' | translate }}"
            autofocus
            formControlName="accountNumber"
            (change)="changeAccount($event)"
            [searchable]="false"
            bindLabel="description"
            bindValue="id"
            (clear)="clearAccount()"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!accountHolder || openAccount" class="col-sm">
        <app-form-field
          label="{{ '@Selling Point' | translate }}"
          [formSubmitted]="formSubmitted"
        >
          <ng-select
            [items]="bankSubsidiaries"
            placeholder="{{ '@Select Selling Point' | translate }}"
            bindLabel="name"
            bindValue="sellingPointCode"
            formControlName="sellingPoint"
            (clear)="clearSellingPoint()"
          >
          </ng-select>
        </app-form-field>
      </div>
      <div *ngIf="isSellingPoint && hasManager" class="col-sm">
        <app-form-field
          label="{{ '@Manager' | translate }}"
          [formSubmitted]="formSubmitted"
        >
          <ng-select
            [items]="bankManager"
            placeholder="{{ '@Select manager' | translate }}"
            bindLabel="description"
            bindValue="id"
            formControlName="manager"
          >
          </ng-select>
        </app-form-field>
      </div>
    </div>
    <div class="row form-actions">
      <div class="col d-flex justify-content-end">
        <button
          style="display: none"
          type="button"
          class="btn btn-outline-secondary btn-lg rounded-pill"
          (click)="return()"
        >
          <i class="fas fa-chevron-left"></i
          ><span class="d-none d-sm-inline-block">{{
            '@Back To' | translate
          }}</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-lg rounded-pill"
          (click)="onSubmit()"
        >
          <span class="d-none d-sm-inline-block">{{
            '@Continue' | translate
          }}</span
          ><i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
