@import 'scss/colors';
@import 'scss/fonts';

.zoom {
  text-align: center;
  overflow: auto;
  height: 80%;
  width: 100%;

  &__footer {
    position: absolute;
    bottom: 3rem;
    width: 100%;
  }
}

.zoom-control {
  color: $white;
  background: $black-07;
  padding: 0.4rem 2rem;
  &__pages {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 1.5rem;
    user-select: none;
  }
  &__buttons {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    border-left: 1px solid $white-03;
  }
  &__btn {
    color: $white-07;
    &:hover {
      color: $white;
    }
    i {
      font-size: 1.5rem;
    }
  }
  &__zoom-icon {
    font-size: 1rem;
    color: $white-03;
    margin: 0 0.5rem;
  }
}

.embedded-doc {
  height: 100%;
  width: 100%;
}
