/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui !important;
}

.main-header {
  border-bottom: 1px solid #dee2e6;
  padding: 12px 14px;
  margin-bottom: 20px;
  height: 60px;
}

.main-header h4 {
  margin: 0px;
}

.main-title {
  font-size: 20px;
  font-weight: 400;
}

.custom-dialog-container .mat-dialog-container {
  padding: 5px !important;
  overflow: hidden !important;
}
