/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    width: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mainTitle {
    color: #3f51b5;
    margin: 15px;
}

/* Clases de los formularios */
.form__content {
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px;
}

.form__content__div {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 100%;
}

.form__footer {
    padding: 10px;
}

.form__footer button {
    margin: 10px;
}

.form__option__image {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.form__options_loading {
    margin: 10px;
}

.form__autocomplete {
    max-height: 250px;
    overflow-y: scroll;
    background: white;
    width: 98%;
    position: absolute;
    top: 44px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.form__autocomplete div {
    padding: 5px;
    height: 50px;
}

.form__autocomplete__active {
    color: #3f51b5;
    background: rgba(0,0,0,.12);
}

mat-form-field {
    width: 100%;
}

.custom-dialog-container .mat-dialog-container {
    padding: 5px !important;
    overflow: hidden !important;
}
