<div class="cancel-requests">
	<mcy-primary-page-layout
		(handleBack)="goToLanding()"
		[title]="'pages.requests.cancel.title' | translate"
		[back]="'pages.requests.cancel.goBack' | translate">
		<div actions>
			<mcy-contextual-button
				sufixIcon="fechar"
				(handleClick)="goToLanding()"
			>
				{{'pages.requests.cancel.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div body class="cancel-requests__content">
			<mcy-primary-panel-layout>
				<div body class="cancel-requests__actions-list">
					<div class="cancel-requests__bar">
						<div class="cancel-requests__bar">
							<mcy-icon class="cancel-requests__check-icon">fechar</mcy-icon>
							<span class="cancel-requests__main-title">{{'pages.requests.cancel.actionMessage' | translate}}</span>
						</div>
						<div>
							<span>{{selectedRequests.length}} <span>{{selectionText()}}</span></span>
							<mcy-icon class="cancel-requests__edit-icon" (click)="edit()">editar_outline</mcy-icon>
						</div>
					</div>
					<div class="cancel-requests__list">
						<mcy-requests-actions-list [selectedRequests]="selectedRequests"></mcy-requests-actions-list>
					</div>
				</div>
				<div description class="cancel-requests__description">
					<span>{{'pages.requests.cancel.descriptionMessage' | translate}}</span>
				</div>
				<mcy-requests-actions-footer
					footer
					(buttonClick)="cancel()"
					[id]="'cancel-requests__button'"
					class="cancel-requests__actions"
					[requestsSummary]="requestsSummary"
					[buttonLabel]="'pages.requests.cancel.buttonLabel' | translate">
				</mcy-requests-actions-footer>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
