@import 'variablesNew';
@import 'mixins';

.backoffice-app {
	background-color: $background-color-application;
	min-height: 100%;

	&__header {
		display: flex;
		align-items: center;
		padding-bottom: $spacing-XS;
		border-bottom: 1px solid $border-color-secondary;
		margin-bottom: 60px;
	}
}
