<div class="enterprise-details">
	<div class="enterprise-details__body">
		<div class="enterprise-details__header">
			<mcy-badge-icon>
				empresas_outline
			</mcy-badge-icon>
			<div class="enterprise-details__header-detail">
				<span class="enterprise-details__header-detail-label">
					{{ 'sidenav.enterpriseDetails.destinationHolderLabel' | translate }}
				</span>
				<span class="enterprise-details__header-detail-value">
					{{ data.enterprise.name }}
				</span>
			</div>
		</div>
		<div class="enterprise-details__row">
			<div class="enterprise-details__enterprise-detail">
				<span class="enterprise-details__enterprise-detail-label">
					{{ 'sidenav.enterpriseDetails.idLabel' | translate }}
				</span>
				<span class="enterprise-details__enterprise-detail-value">
					{{ data.enterprise.cuilt }}
				</span>
			</div>
			<div class="enterprise-details__enterprise-detail">
				<span class="enterprise-details__enterprise-detail-label">
					{{ 'sidenav.enterpriseDetails.phoneNumberLabel' | translate }}
				</span>
				<span class="enterprise-details__enterprise-detail-value">
					{{ data.enterprise.phoneNumber }}
				</span>
			</div>
		</div>
		<div class="enterprise-details__row">
			<div class="enterprise-details__enterprise-detail">
				<span class="enterprise-details__enterprise-detail-label">
					{{ 'sidenav.enterpriseDetails.addressLabel' | translate }}
				</span>
				<span class="enterprise-details__enterprise-detail-value">
					{{ data.enterprise.address }}
				</span>
			</div>
		</div>
	</div>
	<div class="enterprise-details__footer">
		<div class="enterprise-details__buttons-section">
			<mcy-button
				class="enterprise-details__button"
				(handleClick)="back()"
				color="primary">
				{{ 'sidenav.enterpriseDetails.return' | translate }}
			</mcy-button>
		</div>
	</div>
</div>
