<div class="provider-payment-contact">
	<mcy-primary-page-layout
		[title]="'pages.payments.providers.contact.title' | translate"
		[back]="'pages.payments.providers.contact.goBack' | translate"
		(handleBack)="onCancel()">
		<div actions>
			<mcy-contextual-button sufixIcon="fechar" (handleClick)="onCancel()">
				{{'pages.payments.providers.contact.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div class="provider-payment-contact__primary-panel" body>
			<mcy-primary-panel-layout [isLoading]="contactState.loading">
				<div class="provider-payment-contact__body" body>
					<mcy-stepper-guidelines
						[selected]="isFormValid"
						[nextGuideline]="true"
						[icon]="'usuario_outline'">
					</mcy-stepper-guidelines>
					<div class="provider-payment-contact__content">
						<h3 class="provider-payment-contact__subtitle">
							{{ 'pages.payments.providers.contact.subtitle' | translate }}
						</h3>
						<mat-tab-group [(selectedIndex)]="selectedTab">
							<mat-tab
								[label]="'pages.payments.providers.contact.contactList'| translate">
								<div class="provider-payment-contact__tab-content" *ngIf="!contactState.hasErrorContacts">
									<mcy-contact-filter-list
										[contacts]="contacts"
										[selectedContact]="selectedContact"
										[preSelectedCategory]="'PROVIDER'"
										(handleContactSelect)="onContactSelect($event)"
									></mcy-contact-filter-list>
								</div>
								<div class="provider-payment-contact__tab-content" *ngIf="contactState.hasErrorContacts">
									<mcy-loading-data-error
										[displayRetry]="true"
										(handleOnRetry)="retryGetContacts()"
									></mcy-loading-data-error>
								</div>
							</mat-tab>
							<mat-tab
								[label]="'pages.payments.providers.contact.newContactFromCBVU'| translate">
								<div class="provider-payment-contact__tab-content">
									<mcy-find-contact-form
										[cbvu]="cbvu"
										[alias]="alias"
										[searchBy]="searchBy"
										(handleChange)="onFindContactFormChange($event)"
									></mcy-find-contact-form>
								</div>
							</mat-tab>
						  </mat-tab-group>
					</div>
				</div>
				<div description class="provider-payment-contact__description">
					<p *ngIf="!isFormValid" class="provider-payment-contact__description-element">
						{{ 'pages.payments.providers.contact.description' | translate }}
					</p>
					<p *ngIf="isFormValid" class="provider-payment-contact__description-element">
						{{ 'pages.payments.providers.contact.complete' | translate }}
					</p>
					<div class="provider-payment-contact__required-container">
						<span class="provider-payment-contact__required-symbol">*</span>
						<span class="provider-payment-contact__required-text">
							{{ 'pages.payments.providers.contact.requiredFields' | translate }}
						</span>
					</div>
				</div>
				<div footer>
					<mcy-button
						class="provider-payment-contact__button"
						[id]="'provider-payment-contact__go-back-button'"
						[color]="'tertiary'"
						(handleClick)="onBack()"
					>
						{{ 'pages.payments.providers.contact.back' | translate }}
					</mcy-button>
					<mcy-button
						class="provider-payment-contact__button"
						[disabled]="!isFormValid"
						[id]="'provider-payment-contact__continue-button'"
						(handleClick)="onContinue()"
					>
						{{ 'pages.payments.providers.contact.next' | translate }}
					</mcy-button>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
