@import 'variables';
@import 'mixins';

.user-profile-image {
	position: relative;
	width: fit-content;
	
	&__user-initials {
		align-items: center;
		color: $text-color-tertiary;
		display: flex;
		text-transform: uppercase;
		@include font-primary-regular();
		font-size: $font-size-L;
		&--small {
			font-size: 12px;
		}
	}
	
	&__circle {
		display: flex;
		justify-content: center;
		background-color: $background-color-denary;
		border-radius: $radius-circle;
		
		&--hover-enabled:hover {
			cursor: pointer;
			background-color: $background-color-nonary;
		}

		&--small {
			height: 32px;
			width: 32px;
		}

		&--medium {
			height: 56px;
			width: 56px;
		}

		&--large {
			height: 72px;
			width: 72px;
		}
		
		&--selected {
			background-color: $background-color-nonary;
			border-radius: $radius-circle;
			box-shadow: 0 0 0 3px $background-color-disabled;
		}
	}
}