@import 'variablesNew';

.app {
	height: 100%;
	background-color: $background-color-application;
	
	&__loading-container {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}
