<div class="provider-payment-summary">
	<mcy-primary-page-layout
		(handleBack)="onCancel()"
		[title]="'pages.payments.providers.summary.title' | translate"
		[back]="'pages.payments.providers.summary.goBack' | translate">
		<div actions>
			<mcy-contextual-button
				sufixIcon="fechar"
				sufixIconSize="16px"
				class="provider-payment-summary__cancel-button"
				[id]="'provider-payment-summary__cancel-button'"
				(handleClick)="onCancel()"
			>
				{{'pages.payments.providers.summary.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div class="provider-payment-summary__panel" body>
			<mcy-primary-panel-layout
				[hasError]="providerPaymentState.hasNewPaymentErrors && !isSidenavOpen"
				[isLoading]="providerPaymentState.loadingNewPayment && !isSidenavOpen"
				(handleOnRetry)="onConfirm()"
			>
				<div class="provider-payment-summary__body" body>
					<div class="provider-payment-summary__item-section">
						<mcy-stepper-guidelines
							class="provider-payment-summary__stepper-guidelines"
							[nextGuideline]="true"
							[selected]="true">
						</mcy-stepper-guidelines>
						<div class="provider-payment-summary__destination-container">
							<h3 class="provider-payment-summary__section-title">
								{{ 'pages.payments.providers.summary.destinationTitle' | translate }}
							</h3>
							<div class="provider-payment-summary__account-info">
								<span class="provider-payment-summary__account-title">
									{{ 'pages.payments.providers.summary.cbu' | translate }}
								</span>
								<span class="provider-payment-summary__cbvu">
									{{ destinationContact.cbvu }}
								</span>
								<span class="provider-payment-summary__account-name">
									{{ destinationContact.name}}
								</span>
								<mcy-icon-button
									(handleClick)="backToEditDestinatary()"
									[id]="'provider-payment-summary__back-to-destinatary-button'"
									class="provider-payment-summary__edit-icon">
									editar_outline
								</mcy-icon-button>
							</div>
						</div>
					</div>

					<div class="provider-payment-summary__item-section">
						<mcy-stepper-guidelines
							class="provider-payment-summary__stepper-guidelines"
							[previousGuideline]="true"
							[nextGuideline]="true"
							[selected]="true">
						</mcy-stepper-guidelines>
						<div class="provider-payment-summary__balance-container">
							<h3 class="provider-payment-summary__section-title">
								{{ 'pages.payments.providers.summary.balanceTitle' | translate }}
							</h3>
							<div class="provider-payment-summary__balance-info">
								<span class="provider-payment-summary__description--bold">
									{{ sourceAccount.currency.symbol }}
									{{ providerPaymentAmount | mcyAmount }}
								</span>
								<span class="provider-payment-summary__balance-description">
									{{ providerPaymentState.newProviderPaymentFormValue.paymentDescription }}
								</span>
							</div>
							<mcy-icon-button
								(handleClick)="backToEditBalance()"
								[id]="'provider-payment-summary__back-to-balance-button'"
								class="provider-payment-summary__edit-icon">
								editar_outline
							</mcy-icon-button>
						</div>
					</div>

					<div class="provider-payment-summary__item-section">
						<mcy-stepper-guidelines
							class="provider-payment-summary__stepper-guidelines"
							[previousGuideline]="true"
							[selected]="true">
						</mcy-stepper-guidelines>
						<div class="provider-payment-summary__balance-container">
							<h3 class="provider-payment-summary__section-title">
								{{ 'pages.payments.providers.summary.sourceTitle' | translate }}
							</h3>
							<div class="provider-payment-summary__balance-info">
								<span class="provider-payment-summary__account-number">
									{{ sourceAccount.type }} {{ sourceAccount.number | mcyAccountNumber }}
								</span>
								<span class="provider-payment-summary__date">
									{{ 'pages.payments.providers.summary.date' | translate }}:
									{{ providerPaymentDate }}
								</span>
							</div>
							<mcy-icon-button
								(handleClick)="backToEditSource()"
								[id]="'provider-payment-summary__back-to-source-button'"
								class="provider-payment-summary__edit-icon">
								editar_outline
							</mcy-icon-button>
						</div>
					</div>
				</div>

				<div footer class="provider-payment-summary__buttons-section">
					<mcy-button
						class="provider-payment-summary__button"
						(handleClick)="back()"
						[id]="'provider-payment-summary__back-button'"
						[color]="'tertiary'">
						{{ 'pages.payments.providers.summary.back' | translate }}
					</mcy-button>
					<mcy-button
						class="provider-payment-summary__button"
						[id]="'provider-payment-summary__next-button'"
						[disabled]="providerPaymentState.loadingNewPayment"
						(handleClick)="onConfirm()">
						{{ 'pages.payments.providers.summary.next' | translate }}
					</mcy-button>
				</div>

				<div description class="provider-payment-summary__description-section">
					<span class="provider-payment-summary__description--bold">
						{{ 'pages.payments.providers.summary.descriptionTitle' | translate }}
					</span>
					<span class="provider-payment-summary__description">
						 {{ 'pages.payments.providers.summary.description' | translate }}
					</span>
				</div>
			</mcy-primary-panel-layout>
		</div>
	</mcy-primary-page-layout>
</div>
