@import 'variables';
@import 'media';
$root: '.main-container';

#{$root} {
	background-color: $background-color-primary;

	&__menu {

		.ng-sidebar {
			z-index: $z-index-pre-front !important;
			width: 272px;
			background-color: $background-color-tertiary;
			box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
			overflow-x: hidden !important;
		}

		.ng-sidebar--closed {
			width: 72px;
		}
	}

	&__sidenav {
		.ng-sidebar {
			z-index: $z-index-front !important;
		}
	}

	.ng-sidebar__backdrop {
		z-index: $z-index-front !important;
	}

	&__content {
		padding-bottom: 80px;
	}

	&__sidenav {

		.ng-sidebar {
			width: 600px;
			background-color: $background-color-primary;
		}
	}

	@include mobile {
		&__content {
			padding-bottom: 40px;
		}

	}
}

