<div class="container-fluid proposal">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="section-header__title">
          {{ '@Proposal List' | translate }}
        </h1>
      </div>
    </div>
    <div class="table-filters" *ngIf="filterForm">
      <form autocomplete="off" [formGroup]="filterForm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label>
                {{ '@Period' | translate }}
              </label>
              <div class="row">
                <div class="col">
                  <div class="input-group input-group__date">
                    <input
                      class="form-control"
                      placeholder="dd/mm/yyyy"
                      name="startDate"
                      formControlName="startDate"
                      ngbDatepicker
                      #startDate="ngbDatepicker"
                      [maxDate]="filterForm.get('endDate').value || today"
                      [minDate]="minDate"
                      [readonly]="true"
                      (click)="startDate.toggle()"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-link calendar"
                        (click)="startDate.toggle()"
                        type="button"
                      >
                        <i class="far fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <span class="form-group__date-separator"> - </span>
                <div class="col">
                  <div class="input-group input-group__date">
                    <input
                      class="form-control"
                      placeholder="dd/mm/yyyy"
                      name="endDate"
                      formControlName="endDate"
                      [readonly]="true"
                      ngbDatepicker
                      #endDate="ngbDatepicker"
                      [maxDate]="maxDate"
                      (click)="endDate.toggle()"
                      [minDate]="
                        filterForm.get('startDate').value || twoMonthsAgo
                      "
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-link calendar"
                        (click)="endDate.toggle()"
                        type="button"
                      >
                        <i class="far fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md">
            <div class="form-group">
              <app-form-field label=" {{ '@Proposal State' | translate }}">
                <ng-select
                  [searchable]="true"
                  [items]="status"
                  bindValue="id"
                  bindLabel="description"
                  formControlName="proposalStatus"
                  [clearable]="false"
                ></ng-select>
              </app-form-field>
            </div>
          </div>

          <div class="col-sm-6 col-md">
            <app-form-field
              label="{{ '@DNI from main' | translate }}"
              [errorMessages]="duplicateDniErrorMessages"
            >
              <input
                class="form-control"
                placeholder="{{ '@Enter your DNI' | translate }}"
                mask="dot_separator"
                maxlength="10"
                formControlName="dni"
                appRemoveCharBlur
                [invalidCharsRegex]="invalidNumericInputCharsRegex"
              />
            </app-form-field>
          </div>
        </div>
      </form>
    </div>

    <div class="row mb-5">
      <div class="col">
        <ngx-datatable
          #myTable
          class="bootstrap"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [rows]="tableProposals"
          [count]="totalElements"
          [offset]="pageNumber"
          (page)="onPage($event)"
          [externalPaging]="true"
          [reorderable]="false"
          [externalSorting]="true"
          [limit]="pageSize"
          (sort)="onSort($event)"
        >
          <!-- Column Templates -->
          <ngx-datatable-column [width]="80" name="Fecha" prop="creationDate">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.creationDate | date: 'dd/MM/yyyy' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="80"
            name="N° de Propuesta"
            prop="proposalNumber"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.proposalNumber }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [width]="80" name="DNI" prop="document">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.document | dni }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="200"
            name="Nombre y Apellido"
            prop="fullName"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.fullName }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column
            name="Vehículo"
            prop="description"
            [width]="200"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.vehicleName }}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column [width]="80" name="Valor" prop="purchaseValue">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{
                row.financedAmount
                  | currency: 'ARS':'symbol-narrow':'1.0':'es-AR'
              }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="210"
            name="Estado de Propuesta"
            prop="status"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span
                class="status-pill"
                [ngStyle]="{ 'background-color': row.pillColor }"
                >{{ row.status }}</span
              >
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                type="button"
                class="btn btn-outline-secondary btn-sm float-right"
                (click)="goToDetail(row)"
              >
                {{ '@See Detail' | translate }}
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
