@import 'variablesNew';
@import 'mixins';

.terms-and-conditions-modal {
	width: 960px;
	height: 540px;
	display: flex;
	position: relative;
	flex-direction: column;

	&__header-container {
		margin: $spacing-M $spacing-L;
	}

	&__block-content-container {
		@include font-primary-regular();
		display: none;
		flex: 1;
		padding-right: $spacing-XL;
		margin: 0 $spacing-L;
		font-size: $font-size-M;
		line-height: 1.5;
	}

	&__loaded {
		overflow-y: scroll;
		display: block;
	}

	&__footer {
		@include box-shadow-upperside();
		padding: $spacing-S;
		display: flex;
		justify-content: flex-end;
	}

	&__title {
		@include font-primary-extrabold();
		font-size: $font-size-XXL;
		margin: 0;
		margin-bottom: $spacing-M;
	}

	&__subtitle {
		@include font-primary-regular();
		margin: 0;
	}
}
