@import 'scss/mixins';
@import 'scss/colors';
@import 'scss/fonts';

.legend {
  &__item {
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
    background: $white-05;
    width: 100%;
    margin-bottom: 1rem;
    @include border-radius(0.5rem);
    @include box-shadow(0, 0, 0.5rem, rgba(0, 0, 0, 0.1));

    &-header {
      &-title {
        margin-bottom: 0;
        font-weight: bold;
      }

      &-button {
        width: auto;

        padding-right: 2.5rem;
        position: relative;

        i {
          position: absolute;
          right: 1rem;
          top: 0.65rem;
        }
      }
    }

    &-body {
      margin-top: 0.5rem;

      &-message {
        margin: 0;
        margin-bottom: 30px;
        color: $gray-dark;
        font-size: $font-sm;
      }

      &-link {
        font-size: $font-sm;
        display: block;
        margin: 0.5rem 0 0;
      }
    }
  }
}
