@import 'variablesNew';
@import 'mixins';

$circle-size: 41px;

.signup-stepper {

	&__section {
		position: relative;
		display: flex;
		height: $circle-size + 80px;
		align-items: baseline;
	}

	&__section-title {
		@include font-primary-light();
		line-height: 2;
		padding: 0 0 0 $spacing-XS;
		font-size: $font-size-M;
		color: $text-color-high-contrast;
		&--selected {
			@include font-primary-bold();
		}
	
		&--valid {
			cursor: pointer;
		}
	}

	&__section-step-icon {
		opacity: 0.33;
		width: $circle-size;
		height: $circle-size;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $border-high-contrast;
		border-radius: $radius-circle;
		color: $icon-color-primary;
		font-size: 24px;
		&--selected {
			opacity: 1;
		}
	}


	&__section:not(:last-child)::after {
		content: "";
		opacity: 0.33;
		border-left: 1px solid $border-high-contrast;
		height: 80px;
		display: block;
		top: $circle-size;
		left: $circle-size / 2;
		position: absolute;
	}
}
