<form [formGroup]="formPledges">
  <div class="container pt-5">
    <h1 class="section-header__title">
      {{ '@Formalization' | translate }}
    </h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center">
        <h4 class="mb-4">
          {{ '@How do you want to continue your application?' | translate }}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center">
        <div
          class="btn-group btn-group-toggle mb-5"
          ngbRadioGroup
          name="pledges"
          formControlName="pledges"
        >
          <label ngbButtonLabel class="btn-outline-secondary">
            <input
              ngbButton
              [disabled]="!pledgeCapacity?.hasCapacity"
              type="radio"
              value="P"
              [checked]="
                formPledges.get('pledges')?.value === 'P' ? true : false
              "
            />{{ '@Pre pledge' | translate }}
          </label>
          <label ngbButtonLabel class="btn-outline-secondary">
            <input
              ngbButton
              type="radio"
              value="I"
              [checked]="
                formPledges.get('pledges')?.value === 'I' ? true : false
              "
            />{{ '@Inscribed pledge' | translate }}
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center ">
        <p *ngIf="pledgeCapacity?.hasCapacity && isDealership">
          {{ '@You have space to grant Pre pledge for' | translate }}
          {{ pledgeCapacity?.value | currency }}
        </p>

        <p *ngIf="pledgeCapacity?.hasCapacity && !isDealership">
          {{ '@The Branch office has space to grant' | translate }}
          {{ pledgeCapacity?.quote }} {{ '@Pre prenda o ' | translate }}
          {{ pledgeCapacity?.value | currency }}
          {{ '@en Pre Prendas' | translate }}
        </p>

        <p
          *ngIf="
            !pledgeCapacity?.hasCapacity &&
            !pledgeCapacityFailed &&
            !isDealership
          "
        >
          {{
            '@At this time the Branch office has no place to grant Pre Pledge, regularize the Pre Pledge granted to be able to select this option.'
              | translate
          }}
        </p>

        <p
          *ngIf="
            !pledgeCapacity?.hasCapacity &&
            !pledgeCapacityFailed &&
            isDealership
          "
        >
          {{
            '@At this time the dealership has no place to grant Pre Pledge, regularize the Pre Pledge granted to be able to select this option.'
              | translate
          }}
        </p>

        <p *ngIf="pledgeCapacityFailed">
          {{
            '@Could not check your quota. Come back later or continue with Enrolled Pledge.'
              | translate
          }}
        </p>
      </div>
    </div>

    <div class="row">
      <ngb-accordion
        #accordion="ngbAccordion"
        [destroyOnHide]="false"
        activeIds="contractDataPanel, checklistDataPanel, requestDataPanel"
      >
        <ngb-panel id="contractDataPanel">
          <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
              <div class="container">
                <h4 class="m-0">{{ '@Contract' | translate }}</h4>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-up"></i>
              </div>
            </button>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-contract
              (onContractDownload)="contractDownload($event)"
              [isPrePledge]="true"
              [contractsList]="contractsList"
            ></app-contract>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="checklistDataPanel" [disabled]="docsPanelDisabled">
          <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
              <div class="container">
                <h4 class="m-0">
                  {{ '@Document digitalization' | translate }}
                </h4>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-up"></i>
              </div>
            </button>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-checklist
              [proposalId]="proposalNumber"
              [isLaRiojaProvinceOwner]="isLaRiojaProvinceOwner"
              [isLaRiojaProvinceCoOwner]="isLaRiojaProvinceCoOwner"
              [formChecklist]="formChecklist"
              (ownerPendingDocuments)="setPendingDocumentsOwner($event)"
              (coOwnerPendingDocuments)="setPendingDocumentsCoOwner($event)"
              (vehiclePendingDocuments)="setPendingDocumentsVehicle($event)"
            ></app-checklist>
          </ng-template>
        </ngb-panel>

        <ngb-panel
          id="requestDataPanel"
          [disabled]="requestPanelDisabled"
          *ngIf="!backInThePhase"
        >
          <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="btn btn-sm" tabindex="-1">
              <div class="container">
                <h4 class="m-0">{{ '@Loan request' | translate }}</h4>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-up"></i>
              </div>
            </button>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-request
              [formRequest]="formRequest"
              [formSubmitAttempt]="formSubmitAttempt"
            ></app-request>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div class="container">
    <div class="row form-actions">
      <div class="col text-right">
        <button
          type="button"
          class="btn btn-secondary btn-lg rounded-pill"
          (click)="submit()"
          [disabled]="isPending"
        >
          <span class="d-none d-sm-inline-block">{{
            '@Send request' | translate
          }}</span
          ><i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</form>
