@import 'scss/mixins';
@import 'scss/variables';
@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/breakpoints';

.btn-group .btn {
  &:first-child {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  &:last-child {
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.btn-outline-secondary {
  color: $santander-secondary-dark;
  border: 1px solid $santander-secondary-dark;
  padding: 0.5rem 2rem;

  &.active {
    color: $white;
    background: $santander-secondary-dark;
  }
}
