<div class="upcoming-maturities">
	<h4 class="upcoming-maturities__title">
		{{ 'pages.dashboard.upcomingMaturities.title' | translate }}
		<span class="upcoming-maturities__note"> ({{ debtsList.length }})</span>
	</h4>

	<div class="upcoming-maturities__total-balance">
		<span class="upcoming-maturities__total-label">
			{{ 'pages.dashboard.upcomingMaturities.totalInPesos' | translate }}
		</span>

		<span class="upcoming-maturities__total-value">
			{{ pesosSymbol }} {{ totalInPesos | mcyAmount }}
		</span>

		<span class="upcoming-maturities__total-label">
			{{ 'pages.dashboard.upcomingMaturities.totalIndollars' | translate }}
		</span>

		<span class="upcoming-maturities__total-value">
			{{ dollarSymbol }} {{ totalInDollars | mcyAmount }}
		</span>
	</div>

	<div class="upcoming-maturities__cards"
		*ngIf="debtsListToShow.length">
		<mcy-debt-card
		class="upcoming-maturities__card"
		*ngFor="let debt of debtsListToShow"
		[debt]="debt"
		[hasWritePermission]="hasWritePermission"
		(handlePayClick)="payServiceDebt($event)">
		</mcy-debt-card>
	</div>

	<mcy-empty-debts
		class="upcoming-maturities__empty"
		*ngIf="!debtsListToShow.length"
		[message]="'pages.dashboard.upcomingMaturities.empty' | translate">
	</mcy-empty-debts>

	<div class="upcoming-maturities__show-more">
		<mcy-contextual-button
			class="upcoming-maturities__show-more-label"
			(handleClick)="showMore()"
			[sufixIcon]="'seta_direita'"
			[sufixIconSize]="'16px'"
			[id]="'upcoming-maturities__show-more-button'">
			{{ 'pages.dashboard.checks.more' | translate }}
		</mcy-contextual-button>
	</div>
</div>
