<div class="requests-actions-list">
	<div *ngFor="let request of selectedRequests; let i=index" class="requests-actions-list__row">
		<div class="requests-actions-list__header">
			<div class="requests-actions-list__profile">
				<mcy-profile-image
					*ngIf="!showStatus"
					[size]="'small'"
					[name]="request.detail">
				</mcy-profile-image>
				<mcy-status-icon
					*ngIf="showStatus"
					[status]="getStatus(request)"
				></mcy-status-icon>
			</div>
			<div class="requests-actions-list__item">
				<div class="requests-actions-list__column">
					<span class="requests-actions-list__title">{{getOperation(request)}}</span>
					<span class="requests-actions-list__text">{{request.detail}}</span>
				</div>
			</div>
			<div class="requests-actions-list__item">
				<div class="requests-actions-list__column">
					<span class="requests-actions-list__text">{{request.currency.symbol}} {{request.amount | mcyAmount}}</span>
					<span class="requests-actions-list__date">{{formatDate(request.lastUpdateDate)}}</span>
				</div>
			</div>
			<div class="requests-actions-list__state-box">
				<div class="requests-actions-list__column">
					<span class="requests-actions-list__text" *ngIf="showState(request)">{{'pages.requests.states.' + request.state  | translate}}</span>
				</div>
			</div>
			<mcy-icon-button
				(handleClick)="goToDetail(request)"
				class="requests-actions-list__details-icon">
				comprovante_outline
			</mcy-icon-button>
			<div class="requests-actions-list__expand-icon-content">
				<mcy-icon-button (handleClick)="closeRow(i)" *ngIf="isOpenRow(i)">
					seta_cima
				</mcy-icon-button>
				<mcy-icon-button (handleClick)="openRow(i)" *ngIf="isCloseRow(i, request)">
					seta_baixo
				</mcy-icon-button>
			</div>
		</div>
		<div class="requests-actions-list__error-content" *ngIf="isOpenRow(i)">
			<span class="requests-actions-list__title">{{'pages.requests.signStatus.errorMessage' | translate}}</span>
			<span>{{errors[request.id]}}</span>
		</div>
	</div>
</div>