@import 'variablesNew';
@import 'mixins';

.requests-actions-list {
	&__row {
		margin-bottom: $spacing-S;
	}
	&__header {
		display: flex;
		align-items: center;
	}
	&__profile {
		margin-right: $spacing-S;
	}
	&__column {
		display: flex;
		flex-direction: column;
	}
	&__item {
		flex: 1;
		margin-right: $spacing-XS;
	}
	&__details-icon {
		color: $icon-color-spinner;
		font-size: 24px;
		margin-right: $spacing-XXS;
	}
	&__expand-icon-content {
		width: 24px;
	}
	&__title {
		@include font-primary-bold();
		font-size: $font-size-XXS;
		margin-bottom: $spacing-XXXS;
	}
	&__text {
		font-size: $font-size-XXS;
	}
	&__state-box {
		flex: 2;
	}
	&__date {
		font-size: $font-size-XXS;
		margin-top: $spacing-XXXS;
	}
	&__error-content {
		background-color: $background-color-info-box;
		display: flex;
		flex-direction: column;
		font-size: $font-size-XXS;
		padding: $spacing-XS;
		border-radius: $radius-XS;
		margin: $spacing-XXS $spacing-XS $spacing-XS $spacing-XS;
	}
}