<div class="soft-token-email-confirmation">
	<div>
		<div class="soft-token-email-confirmation__token-activation">
			<mcy-badge-icon [type]="'information'">email_resposta_rapida_outline</mcy-badge-icon>
			<div class="soft-token-email-confirmation__token-activation-details">
				<h3 class="soft-token-email-confirmation__token-activation-description">
					{{ 'sidenav.tokenCreateEmailConfirmation.description' | translate: { email: userEmail } }}
				</h3>
				<p class="soft-token-email-confirmation__token-activation-description-note">
					{{ 'sidenav.tokenCreateEmailConfirmation.descriptionNote' | translate }}
				</p>
			</div>
		</div>
		<h4 class="soft-token-email-confirmation__subtitle">
			<mcy-icon class="soft-token-email-confirmation__information-icon">
				informacao_outline
			</mcy-icon>
			{{ 'sidenav.tokenCreateEmailConfirmation.subtitle' | translate }}
		</h4>
		<p class="soft-token-email-confirmation__token-activation-description-note">
			{{ 'sidenav.tokenCreateEmailConfirmation.secondaryDescription' | translate }}
		</p>
		<p class="soft-token-email-confirmation__token-activation-description-note">
			{{ 'sidenav.tokenCreateEmailConfirmation.tertiaryDescription' | translate }}
		</p>
	</div>
	<div class="soft-token-email-confirmation__actions">
		<mcy-button
			[color]="'tertiary'"
			[id]="'soft-token-email-confirmation__back-button'"
			(handleClick)="onCancel()"
		>
			{{ 'sidenav.tokenCreateEmailConfirmation.cancelAction' | translate }}
		</mcy-button>
		<mcy-button
			(handleClick)="tokenValidation()"
			[id]="'soft-token-email-confirmation__confirm-button'"
		>
			{{ 'sidenav.tokenCreateEmailConfirmation.confirmAction' | translate }}
		</mcy-button>
	</div>
</div>
