<div class="service-payment-debt">
	<mcy-primary-page-layout
		[title]="'pages.payments.service.debt.title' | translate"
		[back]="'pages.payments.service.debt.goBack' | translate"
		(handleBack)="onCancel()"
	>
		<div actions>
			<mcy-contextual-button
				[id]="'service-payment-debt__go-to-landing'"
				sufixIcon="fechar"
				(handleClick)="onCancel()"
			>
				{{'pages.payments.service.debt.cancel' | translate}}
			</mcy-contextual-button>
		</div>
		<div class="service-payment-debt__primary-panel" body>
			<form
				[formGroup]="debtForm"
				class="service-payment-debt__inputs-container"
			>
				<mcy-primary-panel-layout [isLoading]="serviceCategoryState.loading">
					<div class="service-payment-debt__body" body>
						<mcy-stepper-guidelines
							[selected]="isValid"
							[nextGuideline]="true"
							[icon]="'globo'"
						>
						</mcy-stepper-guidelines>
						<div class="service-payment-debt__content">
							<h3 class="service-payment-debt__subtitle">
								{{ 'pages.payments.service.debt.subtitle' | translate }}
							</h3>
							<div>
								<div class="service-payment-debt__autocomplete">
									<mat-form-field appearance="outline">
										<mat-label>
											{{ 'pages.payments.service.debt.categoryLabel' | translate }}
											<span class="service-payment-debt__required-symbol">*</span>
										</mat-label>
										<input
											type="text"
											id="service-payment-debt__category-auto"
											matInput
											formControlName="category"
											[matAutocomplete]="categoryAuto"
											(keyup)="searchFilteredCategories($event.target.value)"
										/>
										<mat-autocomplete
											#categoryAuto="matAutocomplete"
											[displayWith]="displayCategoryDescription"
											(optionSelected)="onSelectCategory($event)"
											(optionActivated)="onSelectCategory($event)"
										>
											<mat-option
												*ngFor="let option of filteredCategories"
												[value]="option"
											>
												{{ option.description }}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="service-payment-debt__error">
									<mcy-loading-data-error
										(handleOnRetry)="onRetryCategories()"
										[displayRetry]="true"
										*ngIf="serviceCategoryState.hasErrorCategories"
									></mcy-loading-data-error>
								</div>
								<div class="service-payment-debt__autocomplete">
									<mat-form-field appearance="outline">
										<mat-label>
											{{ 'pages.payments.service.debt.serviceLabel' | translate }}
											<span class="service-payment-debt__required-symbol">*</span>
										</mat-label>
										<input
											type="text"
											id="service-payment-debt__service-auto"
											matInput
											formControlName="service"
											[matAutocomplete]="serviceAuto"
											(keyup)="searchFilteredServices($event)"
										/>
										<mat-autocomplete
											#serviceAuto="matAutocomplete"
											[displayWith]="displayServiceDescription"
											(optionSelected)="onSelectService($event)"
											(optionActivated)="onSelectService($event)"
										>
											<div *ngIf="filteredServices.length">
												<mat-option
												*ngFor="let option of filteredServices"
												[value]="option"
											>
												{{ option.description }}
												</mat-option>
											</div>
											<div *ngIf="!filteredServices.length">
												<mat-option>
													{{'pages.payments.service.debt.emptyServices' | translate}}
												</mat-option>
											</div>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="service-payment-debt__error">
									<mcy-loading-data-error
										(handleOnRetry)="onRetryServices()"
										[displayRetry]="true"
										*ngIf="serviceState.hasServiceError"
									></mcy-loading-data-error>
								</div>
								<div class="service-payment-debt__input">
									<mcy-input
										formControlName="banelcoClientId"
										[id]="'service-payment-debt__input'"
										[asyncValidators]="debtAsyncValidators"
										[validators]="debtValidators"
										[required]="true"
										[validatorMessage]="errorMessage"
										[label]="'pages.payments.service.debt.debtLabel' | translate"
									>
									<span hint *ngIf="showHint">{{'pages.payments.service.debt.debtIdLength' | translate}}</span>
									</mcy-input>
								</div>
							</div>
						</div>
					</div>
					<div description class="service-payment-debt__description">
						<p
							*ngIf="!debtForm.valid"
							class="service-payment-debt__description-element"
						>
							{{ 'pages.payments.service.debt.description' | translate }}
						</p>
						<p
							*ngIf="debtForm.valid"
							class="service-payment-debt__description-element"
						>
							{{ 'pages.payments.service.debt.complete' | translate }}
						</p>
						<div class="service-payment-debt__required-container">
							<span class="service-payment-debt__required-symbol">*</span>
							<span class="service-payment-debt__required-text">
								{{ 'pages.payments.service.debt.requiredFields' | translate }}
							</span>
						</div>
					</div>
					<div footer>
						<mcy-button
							class="service-payment-debt__button"
							[id]="'service-payment-debt__go-back-button'"
							[color]="'tertiary'"
							(handleClick)="onBack()"
						>
							{{ 'pages.payments.service.debt.back' | translate }}
						</mcy-button>
						<mcy-button
							class="service-payment-debt__button"
							[disabled]="!isValid"
							[id]="'service-payment-debt__continue-button'"
							(handleClick)="onContinue()"
						>
							{{ 'pages.payments.service.debt.next' | translate }}
						</mcy-button>
					</div>
				</mcy-primary-panel-layout>
			</form>
		</div>
	</mcy-primary-page-layout>
</div>
