@import 'scss/mixins';
@import 'scss/variables';
@import 'scss/colors';

::ng-deep .modal-dialog {
  margin: 6rem auto;
}

::ng-deep .modal-content {
  padding: 2rem 2rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.modal-header {
  border-bottom: none;
  text-align: center;
  padding: 1rem 0 1rem;

  .modal-title {
    width: 100%;
  }

  .close {
    position: absolute;
    right: 1.5rem;
    top: 1rem;

    &:focus {
      outline: none;
    }

    i {
      color: gray;
    }
  }
}

.modal-body {
  text-align: center;
  padding: 0 0 1rem;
  margin-bottom: 1rem;

  & > p {
    margin: 0;
  }
}

.fas {
  &.fa-exclamation-triangle {
    color: $santander-warning;
    font-size: 3rem;
  }

  &.fa-check-circle {
    color: $santander-success;
    font-size: 3rem;
  }

  &.fa-clock {
    color: $santander-info;
    font-size: 3rem;
  }

  &.fa-exclamation-circle {
    color: $santander-primary;
    font-size: 3rem;
  }
}

::ng-deep .modal-footer {
  border-top: none;
  padding: 0 0 1rem;

  .btn {
    min-width: 100px;
  }
}
