<div fxLayout="row" fxLayoutAlign="center center">
  <h2 class="mainTitle">Local</h2>
</div>

<form localForm [formGroup]="forma">
  <div fxLayout="row" fxLayout.lt-sm="column" class="form__content">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="description" placeholder="Descripcion">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Pais</mat-label>
          <mat-select placeholder="Pais" formControlName="country" [compareWith]="compareFn">
            <mat-option *ngFor="let country of countriesList" [value]="country._id">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" placeholder="Direccion">
        </mat-form-field>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" class="form__content__div">
      <div fxLayout="column">
        <app-autocomplete
        [optionsAutocomplete]="companiesList"
        [defaultMessage]="'No hay empresas encontradas'"
        [autocompleteData]="autocompleteData"
        [optionsLoading]="loadingCompanies"
        (searchValues)="searchValues($event)"
        (patchValue)="patchValue($event)"
        ></app-autocomplete>
        <mat-form-field appearance="outline">
          <mat-label>Aplicación</mat-label>
          <mat-select placeholder="Aplicación" formControlName="application" [compareWith]="compareFn">
            <mat-option *ngFor="let application of applicationsList" [value]="application._id">
              {{application.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="city" placeholder="Ciudad">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="form__footer">
    <button mat-flat-button color="primary" (click)="volver()">Volver</button>
    <button mat-flat-button color="primary" (click)="buttonActionLocal()">{{item? 'Actualizar' : 'Guardar' }}</button>
    <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
  </div>
</form>